sfdx-source/force-app/main/default/flows/Account_Launch_Create_Support_Case_in_FIG_Nintex_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Navigate_to_Nintex</name>
        <label>Navigate to Nintex Menu Case</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>User_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>NintexMenuCaseURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:loadWebPage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Navigate_to_Nintex</name>
        <label>Navigate to Nintex Photo Case</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>User_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>NintexPhotoCaseURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:loadWebPage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Queries for business references (business ids) that exist in this account&apos;s hierarchy</description>
        <name>Get_Business_References_for_the_Account</name>
        <label>Get Business References for the Account</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <actionName>BusinessIdHierarchyFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Transform_Business_References</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BusinessIdHierarchyFlowController</nameSegment>
        <outputParameters>
            <assignToReference>BusinessReferencesApexType</assignToReference>
            <name>businessReferences</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Nintex</name>
        <label>Navigate to Nintex AM Case</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>User_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>NintexAMCaseURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:loadWebPage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Count_Related_Records</name>
        <label>Count Related Records</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CountOfStoreIds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Child_Xrefs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetContactRelationships</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfBusinessIds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Transform_Business_References</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Case_Attributes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LemonadeRecordId_To_Business_Ref</name>
        <label>Set LemonadeRecordId To Business Ref</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>LemonadRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessTable.firstSelectedRow.External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Case_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LemonadeRecordId_To_Store</name>
        <label>Set LemonadeRecordId To Store</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>LemonadRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Case_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>New_AM_Case</name>
        <choiceText>New AM Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New AM Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Menu_Update_Case</name>
        <choiceText>New Menu Update Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Menu Update Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Photo_Processing_Case</name>
        <choiceText>New Photo Processing Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Photo Processing Case</stringValue>
        </value>
    </choices>
    <constants>
        <name>NintexAMbaseURL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://doordash.workflowcloud.com/forms/73766c45-3269-4296-a42b-0433988b160b</stringValue>
        </value>
    </constants>
    <constants>
        <name>nintexBaseUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://devenv-doordash.workflowcloud.com/forms/7ec20b60-c94f-4229-9e55-cf534839e6cf</stringValue>
        </value>
    </constants>
    <constants>
        <name>NintexMenubaseURL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://doordash.workflowcloud.com/forms/e75c4f27-3b92-441a-a1c2-45d216a097e4</stringValue>
        </value>
    </constants>
    <constants>
        <name>NintexPhotobaseURL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://doordash.workflowcloud.com/forms/085cd65b-a4b2-4904-8929-1945eacfc5bd</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>User_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nintex_AM_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Of_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_AM_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Nintex</targetReference>
            </connector>
            <label>Nintex AM case</label>
        </rules>
        <rules>
            <name>Nintex_Menu_Update_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Of_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Menu_Update_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Navigate_to_Nintex</targetReference>
            </connector>
            <label>Nintex Menu Update Case</label>
        </rules>
        <rules>
            <name>Nintex_Photo_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_Of_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Photo_Processing_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Navigate_to_Nintex</targetReference>
            </connector>
            <label>Nintex Photo Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatIsAccountType1</name>
        <label>Account Type?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Count_Related_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Account</defaultConnectorLabel>
        <rules>
            <name>IsStoreAccount1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Xrefs</targetReference>
            </connector>
            <label>Store Account</label>
        </rules>
        <rules>
            <name>IsBusinessAccount1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_References_for_the_Account</targetReference>
            </connector>
            <label>Business Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatIsAccountType2</name>
        <label>Account Type?</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Select_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Account</defaultConnectorLabel>
        <rules>
            <name>IsStoreAccount2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LemonadeRecordId_To_Store</targetReference>
            </connector>
            <label>Store Account</label>
        </rules>
        <rules>
            <name>IsBusinessAccount2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LemonadeRecordId_To_Business_Ref</targetReference>
            </connector>
            <label>Business Account</label>
        </rules>
    </decisions>
    <description>Generate a nintex URL with contact, account, and store or biz id information and navigate the user to it.</description>
    <environments>Default</environments>
    <formulas>
        <name>compositeNintexUrl</name>
        <dataType>String</dataType>
        <expression>
{!nintexBaseUrl} + &apos;?&apos; + {!SelectedStoreIdUrlParam}   + &apos;&amp;&apos; + {!SelectedBusinessIdUrlParam} + &apos;&amp;&apos; + {!SelectedContactEmailUrlParam} + &apos;&amp;&apos; + {!SelectedContactId}</expression>
    </formulas>
    <formulas>
        <name>LemonadeRecordIdUrlParam</name>
        <dataType>String</dataType>
        <expression>&apos;lemonade_record_id=&apos; + {!Get_Account.Id}</expression>
    </formulas>
    <formulas>
        <name>NintexAMCaseURL</name>
        <dataType>String</dataType>
        <expression>{!NintexAMbaseURL} + &apos;?&apos; + {!SelectedStoreIdUrlParam}   + &apos;&amp;&apos; + {!SelectedBusinessIdUrlParam} + &apos;&amp;&apos; + {!SelectedContactEmailUrlParam} + &apos;&amp;&apos; + {!SelectedContactId}</expression>
    </formulas>
    <formulas>
        <name>NintexMenuCaseURL</name>
        <dataType>String</dataType>
        <expression>{!NintexMenubaseURL}+ &apos;?&apos; + {!SelectedStoreIdUrlParam}   + &apos;&amp;&apos; + {!SelectedBusinessIdUrlParam} + &apos;&amp;&apos; + {!SelectedContactEmailUrlParam} + &apos;&amp;&apos; + {!SelectedContactId}</expression>
    </formulas>
    <formulas>
        <name>NintexPhotoCaseURL</name>
        <dataType>String</dataType>
        <expression>{!NintexPhotobaseURL} + &apos;?&apos; + {!SelectedStoreIdUrlParam}   + &apos;&amp;&apos; + {!SelectedBusinessIdUrlParam} + &apos;&amp;&apos; + {!SelectedContactEmailUrlParam} + &apos;&amp;&apos; + {!SelectedContactId}</expression>
    </formulas>
    <formulas>
        <name>SelectedBusinessIdUrlParam</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!BusinessTable.firstSelectedRow.External_Id__c}),&apos;&apos;, &apos;BusinessID=&apos; + {!BusinessTable.firstSelectedRow.External_Id__c} )</expression>
    </formulas>
    <formulas>
        <name>SelectedContactEmailUrlParam</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ContactTable.firstSelectedRow.Contact_Email__c}), &apos;&apos;, &apos;Contactemail=&apos; + {!ContactTable.firstSelectedRow.Contact_Email__c} )</expression>
    </formulas>
    <formulas>
        <name>SelectedContactId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ContactTable.firstSelectedRow.Id}), &apos;&apos;, &apos;ContactId=&apos; + {!ContactTable.firstSelectedRow.ContactId} )</expression>
    </formulas>
    <formulas>
        <name>SelectedStoreIdUrlParam</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!StoreTable.firstSelectedRow.External_ID__c}),&apos;&apos;, &apos;StoreId=&apos; + {!StoreTable.firstSelectedRow.External_ID__c} )</expression>
    </formulas>
    <interviewLabel>Generate a nintex url with contact, account, and store or biz id information and navigates the user to it. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Launch Create Support Case in FIG Nintex Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactRelationships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query for the xref records that are children of this account</description>
        <name>Get_Child_Xrefs</name>
        <label>Get Child Xrefs</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Xrefs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Xref__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query for the contacts associated with this account.</description>
        <name>GetContactRelationships</name>
        <label>Get Contact Relationships</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhatIsAccountType1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Case_Attributes</name>
        <label>Select Case Attributes</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WhatIsAccountType2</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To ensure that the case is created correctly please select from the information below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactsHeader</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select a Contact&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountOfContacts</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountContactRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Contact for the case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetContactRelationships</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-6340&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Contact_Email__c&quot;,&quot;guid&quot;:&quot;column-2bed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Email&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Roles&quot;,&quot;guid&quot;:&quot;column-e72d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Roles&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountOfContacts</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StoresHeader</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select the Store Id&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountOfStoreIds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StoreTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Xref__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the store id for the  Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Transform_Xrefs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;External_ID__c&quot;,&quot;guid&quot;:&quot;column-021c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Store Id&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Store ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;External_ID_Source__c&quot;,&quot;guid&quot;:&quot;column-72fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;External ID Source&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MINT_Store_Page__c&quot;,&quot;guid&quot;:&quot;column-a5aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;MINT&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;MINT Store Page&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountOfStoreIds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Store</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BusinessesHeader</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Select the Business Id&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountOfBusinessIds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Business</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BusinessTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Business_Reference__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the business id for the  Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Transform_Business_References</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;External_Id__c&quot;,&quot;guid&quot;:&quot;column-d81d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Id&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Business ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;External_Id_Source__c&quot;,&quot;guid&quot;:&quot;column-23ca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;External Id Source&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Business_Name__c&quot;,&quot;guid&quot;:&quot;column-3c7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Business Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Business_Vertical_Name__c&quot;,&quot;guid&quot;:&quot;column-5782&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Vertical&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Business Vertical Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountOfBusinessIds</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Business</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Case_Type</name>
        <label>Select Case Type</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <fields>
            <name>Type_Of_Case</name>
            <choiceReferences>New_AM_Case</choiceReferences>
            <choiceReferences>New_Menu_Update_Case</choiceReferences>
            <choiceReferences>New_Photo_Processing_Case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type Of Case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Notification</name>
        <label>User Notification</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotificationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Redirecting you to the Case Create form...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>Maps the external id source field to a friendlier product name</description>
        <name>Transform_Business_References</name>
        <label>Transform Business References</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Count_Related_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Business_Reference__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Business_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>BusinessReferencesApexType[$EachItem].BusinessName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Business_Vertical_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>BusinessReferencesApexType[$EachItem].BusinessVerticalName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>External_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>BusinessReferencesApexType[$EachItem].ExternalId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>External_Id_Source__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>CASE({!BusinessReferencesApexType[$EachItem].ExternalIdSource}, &apos;MDS&apos;, &apos;Marketplace&apos;, &apos;DriveDb&apos;, &apos;Drive&apos;, &apos;Other&apos;)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>BusinessReferencesApexType[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>Maps the external id source field to a friendlier product name</description>
        <name>Transform_Xrefs</name>
        <label>Transform Xrefs</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Count_Related_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Xref__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>External_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Xrefs[$EachItem].External_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>External_ID_Source__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>CASE({!Get_Child_Xrefs[$EachItem].External_ID_Source__c}, &apos;MDS&apos;, &apos;Marketplace&apos;, &apos;DriveDb&apos;, &apos;Drive&apos;, &apos;Other&apos;)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Xrefs[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>MINT_Store_Page__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Child_Xrefs[$EachItem].MINT_Store_Page__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccountContactRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AccountContactRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>SObject collection of Business_Reference__c records</description>
        <name>BusinessReferenceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Reference__c</objectType>
    </variables>
    <variables>
        <description>Collection of BusinessReference Apex Defined Type objects</description>
        <name>BusinessReferencesApexType</name>
        <apexClass>BusinessReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRelationshipCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>CountOfBusinessIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfStoreIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Xref__c</objectType>
    </variables>
    <variables>
        <name>LemonadRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
