sfdx-source/force-app/main/default/flows/Add_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity</name>
        <label>Assign Opportunity</label>
        <locationX>1203</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>Get_Initiative.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_To_Be_Linked.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Initiative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_1</name>
        <label>Assign Opportunity 1</label>
        <locationX>543</locationX>
        <locationY>3740</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_To_Be_Linked.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_2</name>
        <label>Assign Opportunity 2</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_To_Be_Linked.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity_Decision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getProductInsightRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_3</name>
        <label>Assign Opportunity 3</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_To_Be_Linked.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getProductInsightRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Store_Number</name>
        <label>Assign Store Number</label>
        <locationX>543</locationX>
        <locationY>3524</locationY>
        <assignmentItems>
            <assignToReference>New_Opportunity_Record.Estimated_Number_of_Stores__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_of_Stores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignError2</name>
        <label>AssignError2</label>
        <locationX>1071</locationX>
        <locationY>3848</locationY>
        <assignmentItems>
            <assignToReference>OutputFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayErrorText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignError3</name>
        <label>AssignError3</label>
        <locationX>1335</locationX>
        <locationY>3848</locationY>
        <assignmentItems>
            <assignToReference>OutputFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ControlePriceError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayErrorText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignErrors1</name>
        <label>AssignErrors1</label>
        <locationX>807</locationX>
        <locationY>3848</locationY>
        <assignmentItems>
            <assignToReference>OutputFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayErrorText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefaultMsg</name>
        <label>DefaultMsg</label>
        <locationX>1599</locationX>
        <locationY>3848</locationY>
        <assignmentItems>
            <assignToReference>DefaultValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayErrorText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Falsify_Error_Display</name>
        <label>Falsify Error Display</label>
        <locationX>1430</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>ErrorDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubTypeErrorDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_Close_Date_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IDsToString</name>
        <label>IDsToString</label>
        <locationX>1203</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>SelectedProductInsightIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Insights</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filtered_Results_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Opportunity_Record_with_Campaign</name>
        <label>New Opportunity Record with Campaign</label>
        <locationX>1012</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>New_Opportunity_Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initiative.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Opportunity_Record.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initiative.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Opportunity_Record_without_Deal_Type</name>
        <label>New Opportunity Record without Deal Type</label>
        <locationX>1276</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>New_Opportunity_Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Initiative.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deal_Type_Error_Assignemnt</name>
        <label>Set Deal Type Error Assignemnt</label>
        <locationX>314</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>DealTypeErrorBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_and_Add_to_Collection</name>
        <label>Set Opportunity and Add to Collection</label>
        <locationX>1291</locationX>
        <locationY>4970</locationY>
        <assignmentItems>
            <assignToReference>Filtered_Results_Loop.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_To_Be_Linked.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilteredInsights</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filtered_Results_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filtered_Results_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sub_Type_Assignment</name>
        <label>Sub Type Assignment</label>
        <locationX>990</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>SubTypeErrorDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>False</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_Close_Date_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Type_and_Sub_Assignment</name>
        <label>Type and Sub Assignment</label>
        <locationX>462</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ErrorDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubTypeErrorDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_Close_Date_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Type_Assignemnt</name>
        <label>Type Assignemnt</label>
        <locationX>726</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ErrorDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubTypeErrorDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>False</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_Close_Date_Validation</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>LEM-1116: Cancel Sub Type</description>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>COO</name>
        <choiceText>COO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Downgrade</name>
        <choiceText>Downgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Downgrade</stringValue>
        </value>
    </choices>
    <choices>
        <name>Former_Partner</name>
        <choiceText>Former Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Former Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_New_Partner</name>
        <choiceText>Net New Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net New Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Opportunity</name>
        <choiceText>+ New Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateOpportunity</stringValue>
        </value>
    </choices>
    <choices>
        <description>LEM-1116: Opportunity Pitching Stage</description>
        <name>Pitching_Stage</name>
        <choiceText>Pitching</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pitching</stringValue>
        </value>
    </choices>
    <choices>
        <description>LEM:1116: Opportunity Stage Prospecting</description>
        <name>Prospecting_Stage</name>
        <choiceText>Prospecting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospecting</stringValue>
        </value>
    </choices>
    <choices>
        <description>LEM-1116: Stalled Opportunity Stage</description>
        <name>Stalled_Stage</name>
        <choiceText>Stalled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stalled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upgrade</name>
        <choiceText>Upgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgrade</stringValue>
        </value>
    </choices>
    <constants>
        <name>ControlePrice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Populate Control of Price if the legal entity</stringValue>
        </value>
    </constants>
    <constants>
        <name>StoreError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Estimated number of stores must be at least 1 in order to create an Opportunity.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TypeMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The business account with which this opportunity is associated has an active contract with DoorDash. Please update the Opportunity Type to Existing to reflect that.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Fault_Message</name>
        <label>Check Fault Message</label>
        <locationX>1203</locationX>
        <locationY>3740</locationY>
        <defaultConnector>
            <targetReference>DefaultMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_because_of_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TypeMsg</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignErrors1</targetReference>
            </connector>
            <label>Error because of type</label>
        </rules>
        <rules>
            <name>Error_Because_of_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>StoreError</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignError2</targetReference>
            </connector>
            <label>Error Because of Store</label>
        </rules>
        <rules>
            <name>Error_Because_of_control_price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ControlePrice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignError3</targetReference>
            </connector>
            <label>Error Because of control price</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Campaign</name>
        <label>Check for Campaign</label>
        <locationX>1144</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>New_Opportunity_Record_without_Deal_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Initiative.Campaign__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Opportunity_Record_with_Campaign</targetReference>
            </connector>
            <label>Campaign Is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Deal</name>
        <label>Check if Deal Type Was Set</label>
        <locationX>831</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Check_for_Stage_Name_for_Lite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deal_Type_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Deal_Type__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_stage_and_deal_type</targetReference>
            </connector>
            <label>Has Deal Type Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Stage_Name_for_Lite</name>
        <label>Check for Stage Name for Lite</label>
        <locationX>1150</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>getProductInsightRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_Oppty_Stage_Name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Opportunity_Creation</targetReference>
            </connector>
            <label>Standard Oppty Type Wrong Stage Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_stage_and_deal_type</name>
        <label>check stage and deal type</label>
        <locationX>512</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Unverified_Account_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Standard_Opportunity</name>
            <conditionLogic>(1 OR 5) AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Deal_Type_Error_Assignemnt</targetReference>
            </connector>
            <label>Create Standard Opportunity with Wrong Stage Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProductInsightReturnQuery</name>
        <label>CheckProductInsightReturnQuery</label>
        <locationX>741</locationX>
        <locationY>3200</locationY>
        <defaultConnector>
            <targetReference>MultiSelect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoProductInsightsRecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProductInsightRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRecordsScreen</targetReference>
            </connector>
            <label>NoProductInsightsRecordsFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>1433</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Opportunity_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Campaign</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deal_Type_Check</name>
        <label>Deal Type Check</label>
        <locationX>1144</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Type_And_Sub_Type_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deal_type_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Deal_Type__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_And_Sub_Type_Validation</targetReference>
            </connector>
            <label>Deal Type is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Initiative_Have_Child_Insights</name>
        <label>Does Initiative Have Child Insights</label>
        <locationX>741</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Screen_For_Initiatives_With_Insights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Insights</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opportunity_to_Initiative</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Selected</name>
        <label>Is Selected</label>
        <locationX>1423</locationX>
        <locationY>4862</locationY>
        <defaultConnector>
            <targetReference>Filtered_Results_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Insight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedProductInsightIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Filtered_Results_Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_and_Add_to_Collection</targetReference>
            </connector>
            <label>Selected Insight</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-1116: Checks If Close Date is in past and Estimated Number of Stores is positive.</description>
        <name>Pass_Close_Date_Validation</name>
        <label>Pass Close Date Validation</label>
        <locationX>1144</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Opportunity_Decision</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>ErrorDisplay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubTypeErrorDisplay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.CloseDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stalled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Deal</targetReference>
            </connector>
            <label>Assign Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-1116: Decision to check user selection on the Opportunity Selection screen</description>
        <name>ShouldOpportunityBeCreated</name>
        <label>ShouldOpportunityBeCreated</label>
        <locationX>1203</locationX>
        <locationY>3416</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity_Was_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Opportunity_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Store_Number</targetReference>
            </connector>
            <label>New Opportunity Was Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_and_Sub_Type_are_Null</name>
        <label>Type and Sub Type are Null</label>
        <locationX>858</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Pass_Close_Date_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_And_Sub_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Opportunity_Sub_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_and_Sub_Assignment</targetReference>
            </connector>
            <label>Type And Sub Type</label>
        </rules>
        <rules>
            <name>Type_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Opportunity_Sub_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_Assignemnt</targetReference>
            </connector>
            <label>Type is Null</label>
        </rules>
        <rules>
            <name>Sub_Type_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>False</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Opportunity_Sub_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Type_Assignment</targetReference>
            </connector>
            <label>Sub Type is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_And_Sub_Type_Validation</name>
        <label>Type And Sub Type Validation</label>
        <locationX>1144</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Falsify_Error_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Or_Sub_Type_is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Opportunity_Sub_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_and_Sub_Type_are_Null</targetReference>
            </connector>
            <label>Type Or Sub Type is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unverified_Account_Check</name>
        <label>Unverified Account Check</label>
        <locationX>710</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>getProductInsightRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unverified_Account</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>New_Opportunity_Record.Account.Data_Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unverified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Opportunity_Creation</targetReference>
            </connector>
            <label>Unverified Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Access</name>
        <label>User Access</label>
        <locationX>1390</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Blank_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasAccessVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Initiative</targetReference>
            </connector>
            <label>Has Access</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectionChoiceSetProductInsights</name>
        <collectionReference>getProductInsightRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>Product_Outcome__c</displayField>
        <object>Product_Insights__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CollectionOfChildOpportunities</name>
        <collectionReference>Get_Child_Opportunities</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opportunity_DealType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deal_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opportunity_StageName_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opportunity_Sub_Type_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opportunity_Sub_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opportunity_Type_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ControlePriceError</name>
        <dataType>String</dataType>
        <expression>{!ControlePrice}+&apos; &apos;+{!Get_Initiative.Account__r.DoorDash_Legal_Entity__c}</expression>
    </formulas>
    <formulas>
        <description>LEM-1116: Today&apos;s Date</description>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>Stalled_Date</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!CurrentDate}, 3)</expression>
    </formulas>
    <interviewLabel>Add Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Opportunity from Mx Touchpoint</label>
    <loops>
        <name>Filtered_Results_Loop</name>
        <label>Filtered Results Loop</label>
        <locationX>1203</locationX>
        <locationY>4754</locationY>
        <collectionReference>getProductInsightRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Insight_Selected_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Opportunity</name>
        <label>Insert Opportunity</label>
        <locationX>543</locationX>
        <locationY>3632</locationY>
        <connector>
            <targetReference>Assign_Opportunity_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>New_Opportunity_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Insights</name>
        <label>Get Child Insights</label>
        <locationX>741</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Initiative_Have_Child_Insights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiativeLookup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Insights__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Opportunities</name>
        <label>Get Child Opportunities</label>
        <locationX>741</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Insights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initiative.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initiative</name>
        <label>Get Initiative</label>
        <locationX>741</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiativeLookup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Initiative__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProductInsightRecords</name>
        <label>getProductInsightRecords</label>
        <locationX>741</locationX>
        <locationY>3092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckProductInsightReturnQuery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiativeLookup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Insights__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>IsUserPermitted</name>
        <label>IsUserPermitted</label>
        <locationX>1390</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiativeLookup</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasEditAccess</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>HasAccessVariable</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Initiative</name>
        <label>Update Initiative</label>
        <locationX>1203</locationX>
        <locationY>4538</locationY>
        <connector>
            <targetReference>IDsToString</targetReference>
        </connector>
        <inputReference>Get_Initiative</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Insight_Selected_Records</name>
        <label>Update Product Insight Selected Records</label>
        <locationX>1203</locationX>
        <locationY>5246</locationY>
        <inputReference>FilteredInsights</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Opportunity_to_Initiative</name>
        <label>Add Opportunity to Initiative</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_3</targetReference>
        </connector>
        <fields>
            <name>Choose_Opportunity</name>
            <choiceReferences>CollectionOfChildOpportunities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Opportunity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Information_Display_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt;&lt;em style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt; Please ensure there is an existing Product Insight for this Initiative in order to create a new Opportunity.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Blank_Screen</name>
        <label>Blank Screen</label>
        <locationX>2039</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayErrorText</name>
        <label>DisplayErrorText</label>
        <locationX>1203</locationX>
        <locationY>4106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UserMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(234, 9, 9);&quot;&gt;{!OutputFaultMessage}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DefaultValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(231, 3, 3); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DefaultValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MultiSelect</name>
        <label>MultiSelect</label>
        <locationX>1203</locationX>
        <locationY>3308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ShouldOpportunityBeCreated</targetReference>
        </connector>
        <fields>
            <name>Product_Insights</name>
            <choiceReferences>CollectionChoiceSetProductInsights</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Product Insights to add to the Opportunity</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Error_On_No_Selection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 3, 3); font-size: 11px;&quot;&gt;Please select at least one Product Insight in order to create an Opportunity related to this Initiative.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_Insights</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Help_Text</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 12px;&quot;&gt;* Campaign Products which already have Product Insights on this opportunity are not shown here.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRecordsScreen</name>
        <label>NoRecordsScreen</label>
        <locationX>279</locationX>
        <locationY>3308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoRecordsFoundText</name>
            <fieldText>&lt;p&gt;No Product Insights were found for this Initiative. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Creation</name>
        <label>Opportunity Creation</label>
        <locationX>1144</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deal_Type_Check</targetReference>
        </connector>
        <fields>
            <name>Account_Verification_DT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(231, 14, 14);&quot;&gt;Please ensure the account with which this opportunity is associated is verified before moving into Negotiating.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
                <conditions>
                    <leftValueReference>New_Opportunity_Record.Account.Data_Verification_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unverified</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Negotiating</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Contracting</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Closed Won</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Creation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Opportunity_Record.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Opportunity_Record.CloseDate</objectFieldReference>
                </fields>
                <fields>
                    <name>Close_Date_Validation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 4, 4); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;The Close Date cannot be a date in the past.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Opportunity_Record.CloseDate</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <elementReference>CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Estimated_of_Stores</name>
                    <dataType>Number</dataType>
                    <fieldText>Estimated # of Stores</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Opportunity_Record.Churn_Severity__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Creation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Opportunity_Record.Type</objectFieldReference>
                </fields>
                <fields>
                    <name>Type_Error_Display</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(228, 9, 9);&quot;&gt;Please select a choice.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ErrorDisplay</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Opportunity_Record.Opportunity_Sub_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Sub_Type_Error_Display</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(228, 9, 9);&quot;&gt;Please select a choice.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SubTypeErrorDisplay</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Opportunity_Record.StageName</objectFieldReference>
                </fields>
                <fields>
                    <name>Opportunity_Creation_Error_On_Stage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(237, 10, 10);&quot;&gt;Please create the opportunity in the Prospecting or Pitching stage and provide updates from there.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Negotiating</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Contracting</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed Won</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>New_Opportunity_Record.Deal_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Standard</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>New_Opportunity_Record.Deal_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>StageError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(237, 0, 0);&quot;&gt;Please update the Lost / Stalled Reason before moving the opportunity to Stalled or Closed Lost.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Stalled</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>New_Opportunity_Record.StageName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Closed Lost</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Opportunity_Record.Substage__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>New_Opportunity_Record.Deal_Type__c</objectFieldReference>
        </fields>
        <fields>
            <name>DealTypeError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3); font-size: 11px;&quot;&gt;Please select a deal type. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>DealTypeErrorBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_Opportunity_Record.Deal_Type__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_For_Initiatives_With_Insights</name>
        <label>Screen For Initiatives With Insights</label>
        <locationX>1433</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Create_Opportunity_Decision</name>
            <choiceReferences>CollectionOfChildOpportunities</choiceReferences>
            <choiceReferences>New_Opportunity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Opportunity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create/Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1264</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsUserPermitted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Insights_By_Selection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Insights__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Selected_Insights_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Insights__c</objectType>
    </variables>
    <variables>
        <name>currentItem_No_Duplicates_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Insights__c</objectType>
    </variables>
    <variables>
        <name>DealTypeErrorBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DefaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ErrorDisplay</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FilteredInsights</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Insights__c</objectType>
    </variables>
    <variables>
        <name>HasAccessVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitiativeLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Opportunity_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity_To_Be_Linked</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OutputFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedProductInsightIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubTypeErrorDisplay</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
