sfdx-source/force-app/main/default/flows/Add_Levers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-16469: It is used to get associated solutions for the Account.</description>
        <name>Get_Solutions</name>
        <label>Get Solutions</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <actionName>SolutionsController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sort_Solutions</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountPlanId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessAccountIds</name>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Solutions</assignToReference>
            <name>solutions</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>LEM-16469: Toast Error Message If no Solutions are selected.</description>
        <name>Toast_Error_Message_If_no_Solutions_are_selected</name>
        <label>Toast Error Message If no Solutions are selected.</label>
        <locationX>138</locationX>
        <locationY>1406</locationY>
        <actionName>c:ShowToastMessageOnSaveFlowScreen</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Account_Plan_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>ErrorTitleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ErrorMessageWhenNoSolutionsAreSelected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>ErrorTitleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableRefreshView</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_AccountId_to_Collection</name>
        <label>Add AccountId to Collection</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Team_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-16469: It is used to add the created Lever record in to the Levers collection.</description>
        <name>Add_to_Levers_Collection</name>
        <label>Add to Levers Collection</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Levers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lever</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_selected_Solutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-16469 It is used to create Lever records.</description>
        <name>Create_Lever</name>
        <label>Create Lever</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Lever.Account_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lever.Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_selected_Solutions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lever.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lever.Interest_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Evaluated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lever.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lever.Created_by_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedByRoleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lever.Predicted_Incremental_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_selected_Solutions.IncrementalSales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lever.Lever_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_selected_Solutions.Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lever.Rank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_selected_Solutions.Rank__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Levers_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-15223: It populates &apos;Created by Role&apos; value as &apos;Account Owner&apos;.</description>
        <name>Populate_as_Account_Owner</name>
        <label>Populate as Account Owner</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CreatedByRoleValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedByAccountOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Solutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-16469: It populates &apos;Created By Role&apos; with Account Team Member Role.</description>
        <name>Populate_Created_By_Role_with_Account_Team_Member_Role</name>
        <label>Populate Created By Role with Account Team Member Role</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CreatedByRoleValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Team.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Solutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-16469: It populates &apos;Created By Role&apos; with &apos;Not on Account Team&apos;.</description>
        <name>Populate_Created_By_Role_with_Not_on_Account_Team</name>
        <label>Populate Created By Role with Not on Account Team</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CreatedByRoleValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotOnAccountTeamValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Solutions</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>LEM-16469: It is used to sort the solutions.</description>
        <name>Sort_Solutions</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Solutions</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Solutions</collectionReference>
        <connector>
            <targetReference>Account_Plan_Info</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Rank__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>IncrementalSales__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <description>LEM-15223: It is used to store the value for &apos;Account Owner&apos;.</description>
        <name>CreatedByAccountOwner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Owner</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-16469: Error Message When No Solutions Are Selected.</description>
        <name>ErrorMessageWhenNoSolutionsAreSelected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please select at least one Solution in order to add Levers to the Account Plan.</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-15223: Error Title String</description>
        <name>ErrorTitleString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-16469: Display message when we encounter error.</description>
        <name>Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>An error was encountered, Please reach out to System Administrator for assistance.</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-15223: Value to populate on Created By Role when Not on Account Team.</description>
        <name>NotOnAccountTeamValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not on Account Team</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-16469: It is used to store the error message to display when user don&apos;t have access to create Account Plan.</description>
        <name>NoUserAccessMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The current user do not have access to this action. Please contact System Administrator.</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-16469: It is used to store the success message to display when records are created successfully.</description>
        <name>SuccessMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account plan is successfully updated</stringValue>
        </value>
    </constants>
    <decisions>
        <description>LEM-16469: Check if no Solutions are selected.</description>
        <name>Check_if_no_Solutions_are_selected</name>
        <label>Check if no Solutions are selected</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Loop_over_selected_Solutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_No_Solutions_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolutionsDataTable.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Toast_Error_Message_If_no_Solutions_are_selected</targetReference>
            </connector>
            <label>If No Solutions selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15223: It is used to check the Role of the current user.</description>
        <name>Check_to_populate_Created_By_Role</name>
        <label>Check to populate Created By Role</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Populate_Created_By_Role_with_Not_on_Account_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Account__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Eighteen_Digit_User_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_as_Account_Owner</targetReference>
            </connector>
            <label>If Account Owner</label>
        </rules>
        <rules>
            <name>If_not_Account_Owner_but_Account_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Account__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Eighteen_Digit_User_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Team.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Team.User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Eighteen_Digit_User_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Created_By_Role_with_Account_Team_Member_Role</targetReference>
            </connector>
            <label>If not Account Owner but Account Team Member</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-16469: It is used to check whether the user has access to create the opportunity or not.</description>
        <name>Check_User_Access</name>
        <label>Check User Access</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_For_No_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Has_Access</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6</conditionLogic>
            <conditions>
                <leftValueReference>Eighteen_Digit_User_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_AccountPlan.Account__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Eighteen_Digit_User_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_Team_on_Account.UserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Strategy_and_Operations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Data_Operations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Allow_Account_Plan_and_Opportunity_Creation_for_ADM_and_AMM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team</targetReference>
            </connector>
            <label>User Has Access</label>
        </rules>
    </decisions>
    <description>LEM-16469: This flow will be used to add new Levers to the existing Account Plan</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-15223: It is used to calculate the current quarter and year</description>
        <name>CurrentQuarterYear</name>
        <dataType>String</dataType>
        <expression>CASE(CEILING(MONTH(TODAY()) / 3),
 1, &quot;Q1 &quot; &amp; RIGHT(TEXT(YEAR(TODAY())),2),
2, &quot;Q2 &quot; &amp; RIGHT(TEXT(YEAR(TODAY())),2),
3, &quot;Q3 &quot; &amp; RIGHT(TEXT(YEAR(TODAY())),2),
4, &quot;Q4 &quot; &amp; RIGHT(TEXT(YEAR(TODAY())),2),
&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <description>LEM-15223: It is used to store the 18 digit User ID</description>
        <name>Eighteen_Digit_User_ID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Add Levers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Levers</label>
    <loops>
        <description>LEM-16469: It is used to loop over the selected solutions.</description>
        <name>Loop_over_selected_Solutions</name>
        <label>Loop over selected Solutions</label>
        <locationX>490</locationX>
        <locationY>1406</locationY>
        <collectionReference>SolutionsDataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Lever</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Levers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>LEM-16469: It is used to save the lever records.</description>
        <name>Save_Levers</name>
        <label>Save Levers</label>
        <locationX>490</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>DisplaySuccessMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DisplayErrorMessageOnLeverCreation</targetReference>
        </faultConnector>
        <inputReference>Levers</inputReference>
    </recordCreates>
    <recordLookups>
        <description>LEM-15223: It is used to get the account team details by passing account Id and current user Id.</description>
        <name>Get_Account_Team</name>
        <label>Get Account Team</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_to_populate_Created_By_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-16469: It is used to get the account team details by passing account Id and current user Id.</description>
        <name>Get_Account_Team_on_Account</name>
        <label>Get Account Team</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AccountPlan.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AccountPlan</name>
        <label>Get_AccountPlan</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_AccountId_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>LEM-16469: It is used to roll back the transaction if any faults encountered.</description>
        <name>Roll_Back</name>
        <label>Roll Back</label>
        <locationX>754</locationX>
        <locationY>2030</locationY>
    </recordRollbacks>
    <screens>
        <description>LEM-16469: It is used to configure the screen for displaying solutions.</description>
        <name>Account_Plan_Info</name>
        <label>Account Plan Info</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_no_Solutions_are_selected</targetReference>
        </connector>
        <fields>
            <name>SelectSolutionsHeader</name>
            <fieldText>&lt;p&gt;{!SelectSolutionsHeaderMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SolutionsDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Campaign_Product__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Solutions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Solutions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Category__c&quot;,&quot;guid&quot;:&quot;column-2f2d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-dc54&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Solution Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Metric__c&quot;,&quot;guid&quot;:&quot;column-993a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Metric&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;IncrementalSales__c&quot;,&quot;guid&quot;:&quot;column-18e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Predicted Sales Uplift $&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Predicted Sales Uplift $&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Adjusted_Incr_Sales_Uplift__c&quot;,&quot;guid&quot;:&quot;column-e7c2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Adjusted Incr. Sales Uplift $&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Points__c&quot;,&quot;guid&quot;:&quot;column-f347&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Points&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Rank__c&quot;,&quot;guid&quot;:&quot;column-232a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Rank&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Solutions</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoSolutionsDisplayMessage</name>
            <fieldText>&lt;p&gt;No Related Solutions found for {!recordId.Account__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Solutions</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LEM-16469: Error Encountered.</description>
        <name>DisplayErrorMessageOnLeverCreation</name>
        <label>DisplayErrorMessageOnLeverCreation</label>
        <locationX>754</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roll_Back</targetReference>
        </connector>
        <fields>
            <name>DisplayErrorMessageTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;strong&gt;{!ErrorTitleString}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p&gt;{!Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LEM-16469: It is used to display success message on creation of Levers</description>
        <name>DisplaySuccessMessage</name>
        <label>DisplaySuccessMessage</label>
        <locationX>490</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Account plan is successfully updated&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LEM-16469 It is displayed when the user do not have access to Add Levers</description>
        <name>Error_Screen_For_No_Access</name>
        <label>Error Screen For No Access</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageForNoAccess</name>
            <fieldText>&lt;p&gt;{!NoUserAccessMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AccountPlan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>LEM-16469: It is used to store the Select solutions header message</description>
        <name>SelectSolutionsHeaderMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Please select 1 or more Solutions to add to the Account Plan.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Account_Plan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-15223: It is used to store the Created By Role value.</description>
        <name>CreatedByRoleValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-16469: It is used to store the encountered error message.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lever</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lever__c</objectType>
    </variables>
    <variables>
        <name>Levers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lever__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>Solutions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign_Product__c</objectType>
    </variables>
</Flow>
