sfdx-source/force-app/main/default/flows/Add_Opportunity_Store.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AddExistingStoreIds</name>
        <label>AddExistingStoreIds</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ExistingStoreIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopToCreateAllExistingStoreIdString.Store_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopToCreateAllExistingStoreIdString</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityStoreToInsert</name>
        <label>OpportunityStoreToInsert</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>OpportunityStoresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityStorestemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughSelectedAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrepareOpportunityStoreCollection</name>
        <label>PrepareOpportunityStoreCollection</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>OpportunityStorestemp.Store_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughSelectedAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityStorestemp.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityStoreToInsert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsAnyStoreAccountSelected</name>
        <label>IsAnyStoreAccountSelected</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>NoStoreAccountSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoStoreAccountIsSelected</defaultConnectorLabel>
        <rules>
            <name>StoreAccountIsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_of_Store_Accounts.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughSelectedAccounts</targetReference>
            </connector>
            <label>StoreAccountIsSelected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add Opportunity Store {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Opportunity Store</label>
    <loops>
        <name>LoopThroughSelectedAccounts</name>
        <label>LoopThroughSelectedAccounts</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <collectionReference>List_of_Store_Accounts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PrepareOpportunityStoreCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateRecordsForJunctionObject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopToCreateAllExistingStoreIdString</name>
        <label>LoopToCreateAllExistingStoreIdString</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionReference>GetExistingOpportunityStoreRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddExistingStoreIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetStoreAccountsFromBusinessAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecordsForJunctionObject</name>
        <label>CreateRecordsForJunctionObject</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>RecordCreatedConfirmationScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultPath</targetReference>
        </faultConnector>
        <inputReference>OpportunityStoresToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetExistingOpportunityStoreRecords</name>
        <label>GetExistingOpportunityStoreRecords</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopToCreateAllExistingStoreIdString</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Store__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Store_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityRecord</name>
        <label>GetOpportunityRecord</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingOpportunityStoreRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStoreAccountsFromBusinessAccount</name>
        <label>GetStoreAccountsFromBusinessAccount</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FetchRelatedStoreAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ExistingStoreIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FaultPath</name>
        <label>FaultPath</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 22, 41);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FetchRelatedStoreAccounts</name>
        <label>FetchRelatedStoreAccounts</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsAnyStoreAccountSelected</targetReference>
        </connector>
        <fields>
            <name>List_of_Store_Accounts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List of Store Accounts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetStoreAccountsFromBusinessAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4ec7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Brand_Name__c&quot;,&quot;guid&quot;:&quot;column-962d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-af2d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-dc77&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Last Modified Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-6af2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoStoreAccountSelected</name>
        <label>NoStoreAccountSelected</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Store_Account_Selected_Screen</name>
            <fieldText>&lt;p&gt;{!$Label.Opportunity_Store_No_Store_Account_Selected}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordCreatedConfirmationScreen</name>
        <label>RecordCreatedConfirmationScreen</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Record_Creation_Confirmation_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(46, 173, 65);&quot;&gt;{!$Label.Opportunity_Store_Record_Created_Confirmation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingStoreIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityStorestemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Store__c</objectType>
    </variables>
    <variables>
        <name>OpportunityStoresToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Store__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
