sfdx-source/force-app/main/default/flows/ALF_Equipment_Request_Contact_Permission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Current_User_Permission_For_Contact_Object</name>
        <label>Get Current User Permission For Contact Object</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>UserPermissionSetFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Contact_Field_Permission</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>PermissionSetAssignment</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>soqlQueryWithUserId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UserPermissionSetFlowController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Permission_Status</name>
        <label>Assign Permission Status</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>hasCreacteContactRecordPermission</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Contact_Field_Permission</name>
        <label>Check Contact Field Permission</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_Record_Creation_Permission</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User_Permission_For_Contact_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User_Permission_For_Contact_Object</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Permission_Status</targetReference>
            </connector>
            <label>Has Contact Record Creation Permission</label>
        </rules>
    </decisions>
    <description>LEM-16713 : Auto Launch Flow To Validate Create Contact Record Permission</description>
    <environments>Default</environments>
    <formulas>
        <name>soqlQueryWithUserId</name>
        <dataType>String</dataType>
        <expression>{!soqlQuery}&amp;&quot;~&quot;&amp;{!$User.Id}</expression>
    </formulas>
    <interviewLabel>ALF-Equipment Request Contact Permission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF-Equipment Request Contact Permission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_User_Permission_For_Contact_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assigneeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fieldPermissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldPermissions</objectType>
    </variables>
    <variables>
        <name>hasCreacteContactRecordPermission</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>parentPermissionIIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permissionSetAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>soqlQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SELECT Id FROM PermissionSetAssignment WHERE Assignee.Id= :userId AND  PermissionSetId in (Select ParentId from FieldPermissions where SobjectType =&apos;Contact&apos; and Field In (&apos;Contact.FirstName&apos;,&apos;Contact.LastName&apos;,&apos;Contact.Email&apos;,&apos;Contact.Phone&apos;,&apos;Contact.AccountId&apos;) and PermissionsEdit = false)</stringValue>
        </value>
    </variables>
</Flow>