sfdx-source/force-app/main/default/flows/Assign_To_Me.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>LEM-1240: It displays an error message where decision criteria does not match.</description>
        <name>Set_Error_Message_On_Default_Outcome</name>
        <label>Set Error Message On Default Outcome</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageTitle</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>LEM-1240: It displays an error message on failure of updation of Owner on current WorkPlan and related child WorkPlans.</description>
        <name>Set_Error_Message_On_Fault</name>
        <label>Set Error Message On Fault</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>messageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>LEM-3034: It displays an error message when the current user has Read/View Only access on the current Work Plan record.</description>
        <name>Set_Error_Message_On_Read_Access</name>
        <label>Set Error Message On Read Access</label>
        <locationX>358</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReadOnlyErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageTitle</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>LEM-1240: It displays the success message on successful update of Owner on the current WorkPlan and related child WorkPlans.</description>
        <name>Set_Success_Message</name>
        <label>Set Success Message</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuccessMessageDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageTitle</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>LEM-3034: It checks whether the current user has Edit access on the current Work Plan record or the user is &quot;View Only&quot; persona.</description>
        <name>Has_Record_Access</name>
        <label>Has Record Access?</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_On_Read_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Read Or No Access?</defaultConnectorLabel>
        <rules>
            <name>Has_View_Only_Permission_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Hide_Onboarding_Activations_Quick_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Show_Onboarding_Activations_Quick_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_On_Read_Access</targetReference>
            </connector>
            <label>Has View Only Permission Assigned?</label>
        </rules>
        <rules>
            <name>Has_Edit_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasEditAccessOnWorkPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WorkPlan_Details</targetReference>
            </connector>
            <label>Has Edit Access?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-1420: If WorkPlan Owner Id is similar to the context User Id then flow would not update the owner.</description>
        <name>Validate_Current_User_With_Work_Plan_OwnerId</name>
        <label>Validate Current User With Work Plan OwnerId</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_On_Default_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Owner_Is_Not_Matching_With_The_Logged_In_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkPlan_Details.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WorkPlan_Details.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OwnerId_On_WorkPlans</targetReference>
            </connector>
            <label>Current Owner Is Not Matching With The Logged In User</label>
        </rules>
    </decisions>
    <description>LEM-1420: It is used to assign the current Work Plan record to specific user when a user clicks on Assign To Me quick action.
LEM-5153: Update decision element &quot;Has Record Access&quot; by checking a new permission.</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-1536: It stores the details of message to be displayed on failure.</description>
        <name>ErrorMessageDetails</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}&amp;&quot; already owns this record.&quot;</expression>
    </formulas>
    <formulas>
        <description>LEM-3034: It stores the message to be displayed for read/view only access.</description>
        <name>ReadOnlyErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.AssignToReadOnlyErrorMessage}</expression>
    </formulas>
    <formulas>
        <description>LEM-1536: It stores the details of message to be displayed on success.</description>
        <name>SuccessMessageDetails</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot;  &quot;&amp;{!$User.LastName}&amp;&quot; now owns the record for &quot;&amp;{!Get_WorkPlan_Details.Name}&amp;&quot;.&quot;</expression>
    </formulas>
    <interviewLabel>Assign To Me {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign To Me</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>LEM-1420: It is used to get WorkPlan record where recordId matches and the current user is not the owner.</description>
        <name>Get_WorkPlan_Details</name>
        <label>Get WorkPlan Details</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Current_User_With_Work_Plan_OwnerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-3034: It is used to get UserRecordAccess of the current user to check Edit access on the current Work Plan record.</description>
        <name>GetUserAccessRecord</name>
        <label>GetUserAccessRecord</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Record_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>HasEditAccessOnWorkPlan</assignToReference>
            <field>HasEditAccess</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workPlanRecordId</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>LEM-1240: It is used to update the OwnerId field on WorkPlan and child WorkPlans to current logged in user Id.</description>
        <name>Update_OwnerId_On_WorkPlans</name>
        <label>Update OwnerId On WorkPlans</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Set_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_On_Fault</targetReference>
        </faultConnector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Work_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkPlan</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserAccessRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-3034: It indicates whether the current user has edit access on the current Work Plan record.</description>
        <name>HasEditAccessOnWorkPlan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-1420: It stores message title for the message to be displayed on UI.</description>
        <name>messageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-1420: It stores message type for the message to be displayed on UI.</description>
        <name>messageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-1420: It stores the success message to be displayed on UI.</description>
        <name>successMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-3034: It holds record Id of the current Work Plan.</description>
        <name>workPlanRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
</Flow>
