sfdx-source/force-app/main/default/flows/Assign_To_Others_Bulk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>LEM-13474: It stores the current record id in recordId variable.</description>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>1293</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Record_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Record_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-4801: It displays an error message when the selected user has &quot;Hide Sales Buttons&quot; custom permission assigned.</description>
        <name>Set_Error_Message_On_Hide_Sales_Buttons_Access</name>
        <label>Set Error Message On Hide Sales Buttons Access</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Transfer_Ownership_Access_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_View_Only_Access_Error_Message_To_End_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-4801: It displays an error message when the selected user has &quot;View Only&quot; custom permission assigned.</description>
        <name>Set_Error_Message_On_View_Only_Access</name>
        <label>Set Error Message On View Only Access</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AssignToReadOnlyErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_View_Only_Access_Error_Message_To_End_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23851: It sets message when no opportunity record is selected.</description>
        <name>Set_No_Opportunity_Found_Error_Message</name>
        <label>Set No Opportunity Found Error Message</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ErrorMessageWhenNoOpportunityRecordIsSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_No_Record_Found_Error_Message_To_End_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23851: It sets message when no Work plan record is selected.</description>
        <name>Set_No_Workplan_Found_Error_Message</name>
        <label>Set No Workplan Found Error Message</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ErrorMessageWhenNoRecordIsSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_No_Record_Found_Error_Message_To_End_User</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>LEM-13474: It stores Opportunity sObject name.</description>
        <name>SOBJECT_NAME_OPPORTUNITY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-13474: It stores Work Plan sObject name.</description>
        <name>SOBJECT_NAME_WORK_PLAN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WorkPlan</stringValue>
        </value>
    </constants>
    <decisions>
        <description>LEM-13474: It checks the outcome of the Opportunity owner update subflow.</description>
        <name>Check_Result_from_Opportunity_Subflow</name>
        <label>Check Result from Opportunity Subflow</label>
        <locationX>776</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Is_Errored_Opportunities_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Opportunity Subflow Result failure?</defaultConnectorLabel>
        <rules>
            <name>IsOpportunitySubflowResultSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Success_Message_to_End_User_for_Opportunity_Owner_Transfer</targetReference>
            </connector>
            <label>Is Opportunity Subflow Result Success?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-4801: It checks if result from Subflow is a success or an error.</description>
        <name>Check_Result_From_Subflow</name>
        <label>Check Result From Subflow</label>
        <locationX>1634</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Message_To_End_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Subflow_Result_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Success_Message_To_End_User</targetReference>
            </connector>
            <label>Is Subflow Result Success?</label>
        </rules>
        <rules>
            <name>Is_Subflow_Result_Partial_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isPartialSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Partial_Success_To_End_User</targetReference>
            </connector>
            <label>Is Subflow Result Partial Success?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13474: It checks for SObject name from retURL.</description>
        <name>Check_SObject_Name</name>
        <label>Check SObject Name</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_On_View_Only_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SObject_Name_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retURL</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOBJECT_NAME_OPPORTUNITY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_On_Hide_Sales_Buttons_Access</targetReference>
            </connector>
            <label>Is SObject Name Opportunity ?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13474: It checks for SObject name from retURL.</description>
        <name>Check_SObject_Names</name>
        <label>Check SObject Name</label>
        <locationX>2294</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_No_Workplan_Found_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SObject_Name_Opportunity1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retURL</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOBJECT_NAME_OPPORTUNITY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Opportunity_Found_Error_Message</targetReference>
            </connector>
            <label>Is SObject Name Opportunity ?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13474: It checks whether the record is of type Opportunity or Work Plan.</description>
        <name>Check_SObject_Type</name>
        <label>Check SObject Type</label>
        <locationX>1205</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Call_Subflow_For_Owner_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Work Plan?</defaultConnectorLabel>
        <rules>
            <name>Is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retURL</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOBJECT_NAME_OPPORTUNITY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Subflow_For_Opportunity_Owner_Assignment</targetReference>
            </connector>
            <label>Is Opportunity?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23851: It is used to check if errored opportunities is null.</description>
        <name>Is_Errored_Opportunities_null</name>
        <label>Is Errored Opportunities null?</label>
        <locationX>974</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Message_to_End_User_for_Opportunity_Owner_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errored opportunities null</defaultConnectorLabel>
        <rules>
            <name>Errored_opportunities_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>erroredOpportunitesToDisplay</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_to_Display_failed_Opportunities</targetReference>
            </connector>
            <label>Errored opportunities not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-4801: It checks whether the selected user has &quot;View Only&quot; custom permission assigned.</description>
        <name>Is_View_Only_User</name>
        <label>Is View Only User?</label>
        <locationX>965</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Null_Check_On_Passed_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_View_Only_Permission_Assigned</name>
            <conditionLogic>(1 AND 2 AND 5) OR (3 AND 4 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Hide_Onboarding_Activations_Quick_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Show_Onboarding_Activations_Quick_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Hide_Sales_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>retURL</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOBJECT_NAME_OPPORTUNITY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>retURL</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOBJECT_NAME_WORK_PLAN</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Allow_Bulk_Opportunity_Transfer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SObject_Name</targetReference>
            </connector>
            <label>Has View Only Permission Assigned?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-4801: It checks whether the passed record Ids are null.</description>
        <name>Null_Check_On_Passed_Ids</name>
        <label>Null Check On Passed Ids</label>
        <locationX>1749</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_SObject_Names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_Passed_Ids_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_User</targetReference>
            </connector>
            <label>Are Passed Ids Not Null?</label>
        </rules>
    </decisions>
    <description>LEM-4801: It is used to change owner of Work Plans in bulk.
LEM-5153: Update decision element &quot;Is View Only User&quot; by checking a new permission.</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-4801: It stores 18 digit Id of selected user.</description>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Assign To Others {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign To Others</label>
    <loops>
        <description>LEM-13474: It iterates through record ids passed to determine the SObject type.</description>
        <name>Iterate_Over_Record_Ids</name>
        <label>Iterate Over Record Ids</label>
        <locationX>1205</locationX>
        <locationY>458</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_SObject_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>LEM-4801: It displays error message to the end user.</description>
        <name>Display_Error_Message_To_End_User</name>
        <label>Display Error Message To End User</label>
        <locationX>1898</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Other_Error_Toast_Message</name>
            <extensionName>c:displayMessageInScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isError</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>outputMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Back To List View</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13474: It displays error message to the end user.</description>
        <name>Display_Error_Message_to_End_User_for_Opportunity_Owner_Transfer</name>
        <label>Display Error Message to End User for Opportunity Owner Transfer</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_For_Opportunity_Owner_Update</name>
            <extensionName>c:displayMessageInScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isError</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>outputMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Test</name>
            <fieldText>&lt;p&gt;{!erroredOpportunitesToDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back To List View</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-4801: It displays no record found error message to the end user.</description>
        <name>Display_No_Record_Found_Error_Message_To_End_User</name>
        <label>Display No Record Found Error Message To End User</label>
        <locationX>2294</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Record_Found_Toast_Message</name>
            <extensionName>c:displayMessageInScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isError</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>outputMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Back To List View</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-4801: It displays partial success message to the end user.</description>
        <name>Display_Partial_Success_To_End_User</name>
        <label>Display Partial Success To End User</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Partial_Success_Message</name>
            <extensionName>c:displayMessageInScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isError</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>outputMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Back To List View</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-4801: It displays success message to the end user.</description>
        <name>Display_Success_Message_To_End_User</name>
        <label>Display Success Message To End User</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success_Message</name>
            <extensionName>c:displayMessageInScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>outputMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Back To List View</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13474: It displays success message to the end user.</description>
        <name>Display_Success_Message_to_End_User_for_Opportunity_Owner_Transfer</name>
        <label>Display Success Message to End User for Opportunity Owner Transfer</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success_Message_For_Opportunity</name>
            <extensionName>c:displayMessageInScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>outputMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Back To List View</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-4801: It displays &quot;View Only&quot; access related error message to the end user.</description>
        <name>Display_View_Only_Access_Error_Message_To_End_User</name>
        <label>Display View Only Access Error Message To End User</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>View_Only_Access_Toast_Message</name>
            <extensionName>c:displayMessageInScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isError</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>outputMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Back To List View</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-23851: It is used to display errored opportunities.</description>
        <name>Screen_to_Display_failed_Opportunities</name>
        <label>Screen to Display failed Opportunities</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMessageForErroredOpportunities</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.Partial_Opportunity_Transfer}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErroredOpportunitesToDisplayOnScreen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>erroredOpportunitesToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ErroredOpportunitesToDisplayOnScreen</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-907c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LEM-4801: It displays user selection screen to end user.
Note: The flow uses CreatedById field of WorkPlan object to display the user input field since @wire property of LWC does not support the OwnerId lookup field for the Field Service objects.</description>
        <name>Select_User</name>
        <label>Select User</label>
        <locationX>1205</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_Over_Record_Ids</targetReference>
        </connector>
        <fields>
            <name>SelectUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkPlan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedUserId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedUserId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>839</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_View_Only_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>LEM-13474: It calls the subflow for Opportunity owner update.</description>
        <name>Call_Subflow_For_Opportunity_Owner_Assignment</name>
        <label>Call Subflow For Opportunity Owner Assignment</label>
        <locationX>776</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Check_Result_from_Opportunity_Subflow</targetReference>
        </connector>
        <flowName>Subflow_Opportunity_Owner_Assignment</flowName>
        <inputAssignments>
            <name>recordIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>updatedOwnerId</name>
            <value>
                <elementReference>selectedUserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>erroredOpportunitesToDisplay</assignToReference>
            <name>erroredOpportunitesToDisplay</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isError</assignToReference>
            <name>isError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>outputMessage</assignToReference>
            <name>outputMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>LEM-4801: It calls the Owner Assignment Subflow.</description>
        <name>Call_Subflow_For_Owner_Assignment</name>
        <label>Call Subflow For Owner Assignment</label>
        <locationX>1634</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Check_Result_From_Subflow</targetReference>
        </connector>
        <flowName>Subflow_Work_Plan_Owner_Assignment</flowName>
        <inputAssignments>
            <name>recordIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>updatedOwnerId</name>
            <value>
                <elementReference>selectedUserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>isError</assignToReference>
            <name>isError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isPartialSuccess</assignToReference>
            <name>isPartialSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>outputMessage</assignToReference>
            <name>outputMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>workPlans</assignToReference>
            <name>workPlans</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>LEM-23851: It is used to store opportunities which failed to transfer.</description>
        <name>erroredOpportunitesToDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>errorr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It stores list of Work Plan record Ids. The name &apos;ids&apos; is required for the usage in subflow.</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It controls visibility of the error message to the end user.</description>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-4801: It indicates subflow is partially successful.</description>
        <name>isPartialSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It controls visibility of the success message to the end user.</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-4801: It stores the message depending on the decision outcome.</description>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-13474: It stores the current record Id.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13474: It gets retURL parameter from the flow url.</description>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It stores the Id of the selected user.</description>
        <name>selectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It stores list of Work Plan records to be updated with changed owner.</description>
        <name>workPlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
</Flow>
