sfdx-source/force-app/main/default/flows/Assign_To_Others.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-4801: It displays an error message when the selected user has Read/View Only access on the current Work Plan record.</description>
        <name>Display_Error_Message_On_Read_Access</name>
        <label>Display Error Message On Read Access</label>
        <locationX>358</locationX>
        <locationY>1454</locationY>
        <actionName>c:OverrideFlowSaveButton</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ReadOnlyErrorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>LEM-4801: It calls action for redirecting to the record detail page where decision criteria does not match.</description>
        <name>Redirect_To_Record_Detail_Page_On_Default_Outcome</name>
        <label>Redirect To Record Detail Page On Default Outcome</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <actionName>c:OverrideFlowSaveButton</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ErrorMessageDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>LEM-4801: It calls action for redirecting to the record detail page on the DML failure.</description>
        <name>Redirect_To_Record_Detail_Page_On_Fault</name>
        <label>Redirect To Record Detail Page On Fault</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>c:OverrideFlowSaveButton</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>LEM-4801: It calls action for redirecting to the record detail page on success.</description>
        <name>Redirect_To_Record_Detail_Page_On_Success</name>
        <label>Redirect To Record Detail Page On Success</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>c:OverrideFlowSaveButton</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SuccessMessageDetails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>LEM-4801: It sets values for the error message where decision criteria does not match.</description>
        <name>Set_Error_Message_On_Default_Outcome</name>
        <label>Set Error Message On Default Outcome</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageTitle</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_To_Record_Detail_Page_On_Default_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-4801: It sets values with the DML failure message.</description>
        <name>Set_Error_Message_On_Fault</name>
        <label>Set Error Message On Fault</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>messageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_To_Record_Detail_Page_On_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-4801: It sets values for the success message.</description>
        <name>Set_Success_Message</name>
        <label>Set Success Message</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuccessMessageDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageTitle</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_To_Record_Detail_Page_On_Success</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEM-4801: It checks whether the selected user has Edit access on the current Work Plan record or the user is &quot;View Only&quot; persona.</description>
        <name>Has_Record_Access</name>
        <label>Has Record Access?</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Message_On_Read_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Read Or No Access?</defaultConnectorLabel>
        <rules>
            <name>Has_View_Only_Permission_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Hide_Onboarding_Activations_Quick_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Show_Onboarding_Activations_Quick_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error_Message_On_Read_Access</targetReference>
            </connector>
            <label>Has View Only Permission Assigned?</label>
        </rules>
        <rules>
            <name>Has_Edit_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasEditAccessOnWorkPlan</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_User_Name</targetReference>
            </connector>
            <label>Has Edit Access?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-4801: If WorkPlan OwnerId is similar to selected user then flow won&apos;t update owner.</description>
        <name>Validate_Current_User_With_Work_Plan_OwnerId</name>
        <label>Validate Current User With Work Plan OwnerId</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_On_Default_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Owner_Is_Not_Matching_With_The_Logged_In_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkPlan_Details.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>selectedUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WorkPlan_Details.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Owner_On_WorkPlans</targetReference>
            </connector>
            <label>Current Owner Is Not Matching With The Logged In User</label>
        </rules>
    </decisions>
    <description>LEM-4801: It is used to change owner of a work plan and its child work plan records.
LEM-5153: Update decision element &quot;Has Record Access&quot; by checking a new permission.</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-4801: It stores the details of message to be displayed on failure.</description>
        <name>ErrorMessageDetails</name>
        <dataType>String</dataType>
        <expression>&quot; The selected user already owns this record.&quot;</expression>
    </formulas>
    <formulas>
        <description>LEM-4801: It stores the message to be displayed for read/view only access.</description>
        <name>ReadOnlyErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.AssignToReadOnlyErrorMessage}</expression>
    </formulas>
    <formulas>
        <description>LEM-4801: It stores the details of message to be displayed on success.</description>
        <name>SuccessMessageDetails</name>
        <dataType>String</dataType>
        <expression>&quot; The selected user now owns the record for &quot; &amp; {!Get_WorkPlan_Details.Name}</expression>
    </formulas>
    <interviewLabel>Assign To Others {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign To Others</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>LEM-4801: It is used to get the WorkPlan record where recordId matches and the selected user is not the owner.</description>
        <name>Get_WorkPlan_Details</name>
        <label>Get WorkPlan Details</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Current_User_With_Work_Plan_OwnerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>selectedUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-4801: It is used to get the UserRecordAccess of the selected user to check Edit access on the current Work Plan record.</description>
        <name>GetUserAccessRecords</name>
        <label>GetUserAccessRecords</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Record_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>HasEditAccessOnWorkPlan</assignToReference>
            <field>HasEditAccess</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkPlanRecordId</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>LEM-4801: It is used to update the OwnerId field on WorkPlan and child WorkPlans to the selected queue.</description>
        <name>Change_Owner_On_WorkPlans</name>
        <label>Change Owner On WorkPlans</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Set_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_On_Fault</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Work_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>selectedUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>selectedUserId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkPlan</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>LEM-4801: It displays user selection screen to end user.
Note: The flow uses CreatedById field of WorkPlan object to display the user input field since @wire property of LWC does not support the OwnerId lookup field for the Field Service objects.</description>
        <name>Select_User_Name</name>
        <label>Select User Name</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_WorkPlan_Details</targetReference>
        </connector>
        <fields>
            <name>Select_User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkPlan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedUserId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedUserId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Assign</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserAccessRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Text Field to hold User Access Record ID.</description>
        <name>HasAccessVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Permission.Hide_Onboarding_Activations_Quick_Actions</elementReference>
        </value>
    </variables>
    <variables>
        <description>LEM-4801: It indicates whether the selected user has edit access on the current Work Plan record.</description>
        <name>HasEditAccessOnWorkPlan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-4801: It stores message title for the message to be displayed on UI.</description>
        <name>messageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It stores message type for the message to be displayed on UI.</description>
        <name>messageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It stores queue Id to be used in the flow.</description>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It stores Salesforce Id of current Work Plan.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It is used to store the Id of the selected user.</description>
        <name>selectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It stores success message to be displayed on UI.</description>
        <name>successMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-4801: It holds record Id of the current Work Plan.</description>
        <name>WorkPlanRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
</Flow>
