sfdx-source/force-app/main/default/flows/Assign_Campaign_Products_to_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Edited_Products_to_Collection_Assignment</name>
        <label>Add Edited Products to Collection (Assignment)</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AddToAssignmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Act_On_Selected_Products_Assign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Act_On_Selected_Products_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Edited_Products_to_Collection_Removal</name>
        <label>Add Edited Products to Collection (Removal)</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AddToAssignmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Act_on_Selected_Product_s_Removal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Act_on_Selected_Product_s_Removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_s_Campaign_Product</name>
        <label>Set Product&apos;s Campaign Product</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Act_On_Selected_Products_Assign.Campaign_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Edited_Products_to_Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_to_Blank_Campaign_Product</name>
        <label>Set Product to Blank Campaign Product</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Act_on_Selected_Product_s_Removal.Campaign_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Edited_Products_to_Collection_Removal</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assign</name>
        <choiceText>Assign</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assign</elementReference>
        </value>
    </choices>
    <choices>
        <name>Remove</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Remove</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Assign_or_Remove_Decision</name>
        <label>Assign or Remove?</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Products_w_Campaign_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remove</defaultConnectorLabel>
        <rules>
            <name>Assign_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Active_Unassigned_Products</targetReference>
            </connector>
            <label>Assign</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Product</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Product2</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Products</name>
        <dataType>String</dataType>
        <displayField>Description</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Product2</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Assign Campaign Products to Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Campaign Products to Products</label>
    <loops>
        <name>Act_on_Selected_Product_s_Removal</name>
        <label>Act on Selected Product(s) (Removal)</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>Product_Search_Remove.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Product_to_Blank_Campaign_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finalize_Product_Updates_Removal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Act_On_Selected_Products_Assign</name>
        <label>Act On Selected Products (Assign)</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Product_Search_Assign.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Product_s_Campaign_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finalize_Product_Updates_Assign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Active_Unassigned_Products</name>
        <label>Get All Active Unassigned Products</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Product_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_w_Campaign_Product</name>
        <label>Get Products w/ Campaign Product</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Product_s_from_which_to_remove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Finalize_Product_Updates_Assign</name>
        <label>Finalize Product Updates (Assign)</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <inputReference>AddToAssignmentCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Finalize_Product_Updates_Removal</name>
        <label>Finalize Product Updates (Removal)</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <inputReference>AddToAssignmentCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assign_or_Remove</name>
        <label>Assign or Remove?</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_or_Remove_Decision</targetReference>
        </connector>
        <fields>
            <name>Assign_or_Remove_Buttons</name>
            <choiceReferences>Assign</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assign or Remove?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Product_Assignment</name>
        <label>Select Product Assignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Act_On_Selected_Products_Assign</targetReference>
        </connector>
        <fields>
            <name>Product_Search_Assign</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product Search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Active_Unassigned_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e21e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-92cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-2e77&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Family&quot;,&quot;guid&quot;:&quot;column-b28a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Product Family&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Campaign_Product__c&quot;,&quot;guid&quot;:&quot;column-248c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Campaign Product&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Product_s_from_which_to_remove</name>
        <label>Select Product(s) from which to remove</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Act_on_Selected_Product_s_Removal</targetReference>
        </connector>
        <fields>
            <name>Product_Search_Remove</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product Search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products_w_Campaign_Product</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7445&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductCode&quot;,&quot;guid&quot;:&quot;column-71b9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-88c0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Family&quot;,&quot;guid&quot;:&quot;column-de18&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Product Family&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Campaign_Product__c&quot;,&quot;guid&quot;:&quot;column-1ae1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Campaign Product&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_or_Remove</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddToAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign_Product__c</objectType>
    </variables>
</Flow>
