sfdx-source/force-app/main/default/flows/Bulk_Merchant_Order_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-15978: Load CSV file into staging object via Apex controller class.</description>
        <name>Read_Csv_File</name>
        <label>Read Csv File</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <actionName>MerchantBulkOrderRequestsController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Successfully_Inserted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>File_Upload_Update_Bulk_Upload_Reference_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentIds</name>
            <value>
                <elementReference>contentDocIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceRecordId</name>
            <value>
                <elementReference>BulkUploadReferenceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceRequestType</name>
            <value>
                <elementReference>RequestTypes.middleValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceType</name>
            <value>
                <elementReference>RequestTypes.topValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MerchantBulkOrderRequestsController</nameSegment>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>LEM-15978: Assigns error message to list to be displayed on the screen.</description>
        <name>Assign_Error_Messages</name>
        <label>Assign Error Messages</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>displayErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Upload_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-15978: Assigns message variant with error if user doesn&apos;t select both Type and Request Type.</description>
        <name>Assign_Message_Variant_With_Error</name>
        <label>Assign Message Variant With Error</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>variantMessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>_error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Equipment_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-15978: Resets error message collection variable.</description>
        <name>Clear_No_File_Assignment</name>
        <label>Clear No File Assignment</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>IsFilePresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayErrors</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>displayErrors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_Csv_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-15978: Resets display error variable</description>
        <name>Remove_any_Errors</name>
        <label>Remove any Errors</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>displayErrors</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>displayErrors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variantMessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>_info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-15978: Assigns error message for no file selected from file upload component.</description>
        <name>Set_No_File_Assignment</name>
        <label>Set No File Assignment</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>IsFilePresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please upload a CSV file to proceed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayErrors</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>displayErrors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayErrors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Upload_File</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEM-15978: Checks whether file selected in File Upload component or not.</description>
        <name>Check_If_No_File_Uploaded</name>
        <label>Check If No File Uploaded</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Clear_No_File_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_File_Assignment</targetReference>
            </connector>
            <label>File Uploaded ?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15978: Validates outcome from Read CSV File module.</description>
        <name>Check_if_Successfully_Inserted</name>
        <label>Check if Successfully Inserted</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Update_Bulk_Upload_Reference_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Bulk_Upload_Reference_Success</targetReference>
            </connector>
            <label>Records Inserted?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-22115: It is used to determine whether Mx Order creation is enabled in the org.</description>
        <name>Is_Mx_Order_Creation_Enabled</name>
        <label>Is Mx Order Creation Enabled</label>
        <locationX>1848</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Equipment_Requests_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mx Order Creation Disabled</defaultConnectorLabel>
        <rules>
            <name>Mx_Order_Creation_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mx_Order_Creation_Flag.Configuration_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipment_Requests</targetReference>
            </connector>
            <label>Mx Order Creation Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15978: Validates Type and Request Type. System throws an error message if both values are not selected from Equipment Request screen.</description>
        <name>Type_And_Request_Type_Selection</name>
        <label>Type And Request Type Selection</label>
        <locationX>1271</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Message_Variant_With_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_And_Request_Type_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeOrRequestTypeNotSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Staging_Bulk_Upload_Reference_Record</targetReference>
            </connector>
            <label>Type And Request Type Selected</label>
        </rules>
    </decisions>
    <description>LEM-15978: Bulk Creation of Marketing Kit, Tablet, and Photoshoot Work Orders</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-15978: Stores whether to display the error message banner or not.</description>
        <name>displayErrorMessageBanner</name>
        <dataType>Boolean</dataType>
        <expression>len({!displayErrors})&gt;0</expression>
    </formulas>
    <formulas>
        <description>LEM-15978: Stores true if the value of either type or request type is blank.</description>
        <name>TypeOrRequestTypeNotSelected</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISBLANK({!RequestTypes.topValue}),ISBLANK({!RequestTypes.middleValue}))</expression>
    </formulas>
    <interviewLabel>Bulk Merchant Order Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Merchant Order Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>LEM-15978: Creates Bulk Load Reference Record for selected Type and Request Type.</description>
        <name>Create_Staging_Bulk_Upload_Reference_Record</name>
        <label>Create Staging Bulk Upload Reference Record</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>BulkUploadReferenceId</assignRecordIdToReference>
        <connector>
            <targetReference>Remove_any_Errors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault_Message_on_Staging_Reference_Fail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>RequestTypes.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_In_Progress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>RequestTypes.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Staging_Bulk_Upload_Reference__c</object>
    </recordCreates>
    <recordCreates>
        <description>LEM-15978: Publishes Platform Event on successful insertion of staging upload request records.</description>
        <name>Publish_Platform_Event</name>
        <label>Publish Platform Event</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Output_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Update_Bulk_Upload_Reference_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Bulk_Order_Reference_Id__c</field>
            <value>
                <elementReference>BulkUploadReferenceId</elementReference>
            </value>
        </inputAssignments>
        <object>Bulk_Order_Creation__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>LEM-22115: It fetches the static configuration value of Mx Order Creation Flag</description>
        <name>Get_Mx_Order_Creation_Flag</name>
        <label>Get Mx Order Creation Flag</label>
        <locationX>1848</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Mx_Order_Creation_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.TabletCreationAndUpdatesByMxOrderConfigName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Static_Configurations__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>LEM-15978: Updates Reference Object with Failed for the selected reference CSV record in Staging_Bulk_Upload_Reference__c object</description>
        <name>Copy_2_of_Update_Bulk_Upload_Reference_Failed</name>
        <label>Plaform Event Record Creation Failure</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Display_Fault_Exception_For_Publish_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BulkUploadReferenceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Staging_Bulk_Upload_Reference__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>LEM-15978: Updates Reference Object with Failed for the selected reference CSV record in Staging_Bulk_Upload_Reference__c object</description>
        <name>File_Upload_Update_Bulk_Upload_Reference_Failed</name>
        <label>File Upload Bulk Upload Reference Failed</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Display_Fault_Exception_For_Read_CSV_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BulkUploadReferenceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Staging_Bulk_Upload_Reference__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>LEM-15978: Updates Reference Object with Failed for the selected reference CSV record in Staging_Bulk_Upload_Reference__c object</description>
        <name>Update_Bulk_Upload_Reference_Failed</name>
        <label>Update Bulk Upload Reference Failed</label>
        <locationX>1106</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assign_Error_Messages</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault_Exception_For_Update_Failure_Mess</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BulkUploadReferenceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Staging_Bulk_Upload_Reference__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>LEM-15978: Updates Reference Object with Success for the selected reference CSV record in Staging_Bulk_Upload_Reference__c object</description>
        <name>Update_Bulk_Upload_Reference_Success</name>
        <label>Update Bulk Upload Reference Success</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Publish_Platform_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault_Exception_For_Update_Success_Mess</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BulkUploadReferenceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>Staging_Bulk_Upload_Reference__c</object>
    </recordUpdates>
    <screens>
        <description>LEM-15978: Selects Type and Request Type for bulk load.</description>
        <name>Equipment_Requests</name>
        <label>Equipment Requests</label>
        <locationX>1271</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_And_Request_Type_Selection</targetReference>
        </connector>
        <fields>
            <name>BulkUploadEquipmentRequestHeader</name>
            <extensionName>c:guidedFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Header</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeaderText</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Sub_Header</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerCSS</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Header_CSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeaderCSS</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Sub_Header_CSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubHeaderBackGroundColor</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeaderStyle</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Sub_Header_Style</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayBannerForTypeOrRequestType</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <elementReference>TypeOrRequestTypeNotSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Type and Request Type must be selected to load CSV file.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <elementReference>variantMessageType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Bulk_Load_Type_and_Req</name>
            <fieldText>Select Type and Request type</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bulk_Load_Type_and_Req_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestTypes</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Staging_Bulk_Upload_Reference__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Request_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Request Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>RequestTypes.topValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>RequestTypes.middleValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-22115: It is used to display error message when Mx Order creation is disabled.</description>
        <name>Equipment_Requests_Error_Screen</name>
        <label>Equipment Requests Error Screen</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BulkUploadEquipmentRequestErrorScreenHeader</name>
            <extensionName>c:guidedFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Header</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerCSS</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Header_CSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubHeaderBackGroundColor</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayWarningForMxOrderCreation</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <elementReference>TypeOrRequestTypeNotSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <elementReference>variantMessageType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Label.BulkMxOrderCreationFlowErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-15978: Displays success toast message on publish event.</description>
        <name>Output_Message</name>
        <label>Output Message</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Equipment_Requests</targetReference>
        </connector>
        <fields>
            <name>FileUploadSuccessMessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>File has been uploaded successfully</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-15978: Uses Upload File component to load file into staging object.</description>
        <name>Upload_File</name>
        <label>Upload File</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_No_File_Uploaded</targetReference>
        </connector>
        <fields>
            <name>FileUploadHeader</name>
            <extensionName>c:guidedFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Header</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeaderText</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Sub_Header</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerCSS</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Header_CSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeaderCSS</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Sub_Header_CSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubHeaderBackGroundColor</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeaderStyle</name>
                <value>
                    <elementReference>$Label.Bulk_Equipment_Request_Sub_Header_Style</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayError</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>displayErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <elementReference>displayErrorMessageBanner</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Upload_Equipments_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Equipments File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.csv</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1722</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Mx_Order_Creation_Flag</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>LEM-15978: Displays Fault Exception for Publish Event</description>
        <name>Display_Fault_Exception_For_Publish_Event</name>
        <label>Display Fault Exception For Publish Event</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Equipment_Requests</targetReference>
        </connector>
        <flowName>SF_Display_Fault_Exception</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>LEM-15978: Displays Fault Exception to update failure message</description>
        <name>Display_Fault_Exception_For_Read_CSV_File</name>
        <label>Display Fault Exception For Read CSV File</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Upload_File</targetReference>
        </connector>
        <flowName>SF_Display_Fault_Exception</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>LEM-15978: Displays Fault Exception to update failure message</description>
        <name>Display_Fault_Exception_For_Update_Failure_Mess</name>
        <label>Display Fault Exception For Update Failure Message</label>
        <locationX>1370</locationX>
        <locationY>1430</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Upload_File</targetReference>
        </connector>
        <flowName>SF_Display_Fault_Exception</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>LEM-15978: Displays Fault Exception to update failure message</description>
        <name>Display_Fault_Exception_For_Update_Success_Mess</name>
        <label>Display Fault Exception For Update Success Message</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Equipment_Requests</targetReference>
        </connector>
        <flowName>SF_Display_Fault_Exception</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>LEM-15978: Displays Fault Exception for Publish Event</description>
        <name>Display_Fault_Message_on_Staging_Reference_Fail</name>
        <label>Display Fault Message on Staging Reference Failure</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Equipment_Requests</targetReference>
        </connector>
        <flowName>SF_Display_Fault_Exception</flowName>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>LEM-15978: Stores the bulk upload reference record Id.</description>
        <name>BulkUploadReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-15978: Stores the content document Ids for the uploaded csv.</description>
        <name>contentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-15978: Stores error message received during staging request records upload.</description>
        <name>displayErrors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-15978: Stores the error message captured during the flow execution.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>errorMsgsList</stringValue>
        </value>
    </variables>
    <variables>
        <description>LEM-15978: Stores whether the file is uploaded or not by the user.</description>
        <name>IsFilePresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-15978: Stores &quot;In Progress&quot; status value.</description>
        <name>Status_In_Progress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </variables>
    <variables>
        <description>LEM-15978: Stores message variant type for error display banner.</description>
        <name>variantMessageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>_info</stringValue>
        </value>
    </variables>
</Flow>
