sfdx-source/force-app/main/default/flows/Contract_Reprocess_Failed_RESSMO_IIL_s.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Pending_Status</name>
        <label>Assign Pending Status</label>
        <locationX>374</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Loop_2.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>Add Biz Ids</label>
        <locationX>374</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>BusinessIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.Business_Reference__r.External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Source_decision</name>
        <label>Source decision</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RESSMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract.Integration_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RESSMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Xrefs</targetReference>
            </connector>
            <label>RESSMO</label>
        </rules>
    </decisions>
    <description>LEM-21439 When RESSMO Contract is Created will reprocess the failed IIL&apos;s based on Biz Id&apos;s</description>
    <environments>Default</environments>
    <interviewLabel>Contract-Reprocess Failed RESSMO IIL&apos;s {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract-Reprocess Failed RESSMO IIL&apos;s</label>
    <loops>
        <name>Loop_1</name>
        <label>Xref Loop</label>
        <locationX>286</locationX>
        <locationY>600</locationY>
        <collectionReference>get_Xrefs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Inbound_Ingestion_Logs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>IIL Loop</label>
        <locationX>286</locationX>
        <locationY>1008</locationY>
        <collectionReference>Inbound_Ingestion_Logs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Pending_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IIL_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contract</name>
        <label>Current Contract</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Integration_Source__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Xrefs</name>
        <label>get Xrefs</label>
        <locationX>286</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unique_Identifier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Xref__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Inbound_Ingestion_Logs</name>
        <label>Inbound Ingestion Logs</label>
        <locationX>286</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>BusinessIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RESSMO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inbound_Ingestion_Log__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>IIL_update</name>
        <label>IIL update</label>
        <locationX>286</locationX>
        <locationY>1308</locationY>
        <inputReference>Inbound_Ingestion_Logs</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X3_Minutes_After</name>
            <connector>
                <targetReference>Contract</targetReference>
            </connector>
            <label>3 Minutes After</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
