sfdx-source/force-app/main/default/flows/Create_Task_for_Stakeholder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>LEM-14728: It is used to add the Permission Set Group Id.</description>
        <name>Add_the_Ids_to_a_collection</name>
        <label>Add the Ids to a collection</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetGroupsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Permission_Set_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Permission_Set_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14728: It is used to add the Permission Set Id for System Admin Profile.</description>
        <name>Add_the_Ids_to_a_collection_for_profile</name>
        <label>Add the Ids to a collection for profile</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Permission_Set_Id_For_Admin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Permission_Set</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>LEM-14728: It is used to store SMB permission set group</description>
        <name>Mulesoft_Permission_Set_Group</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mulesoft_Integration</stringValue>
        </value>
    </constants>
    <decisions>
        <description>LEM-14728: It checks if the Permission set assignment records are returned?</description>
        <name>If_PermissionSet_Assignments_is_Null</name>
        <label>If PermissionSet Assignments is Null?</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_PermissionSet_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Mx_Touchpoint.Account_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountSegmentSMB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_User</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <description>LEM-14728: It creates Task for SMB Sales Rep Stakeholders.</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-14728: It calculates the Activity date of the Task.</description>
        <name>Activity_Date</name>
        <dataType>Date</dataType>
        <expression>IF(!ISNULL({!Get_Related_Mx_Touchpoint.End_Date__c}),{!Get_Related_Mx_Touchpoint.End_Date__c},{!Get_Related_Mx_Touchpoint.Start_Date__c})</expression>
    </formulas>
    <formulas>
        <description>LEM-14782: It calculates the Task Subject</description>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <expression>&apos;Mx Touchpoint: &apos; + TEXT({!Get_Related_Mx_Touchpoint.Type__c})  + &apos; &apos; + TEXT({!Get_Related_Mx_Touchpoint.Start_Date__c})</expression>
    </formulas>
    <formulas>
        <description>LEM-14728: It gets the type of the Task</description>
        <name>Task_Type</name>
        <dataType>String</dataType>
        <expression>IF(OR(TEXT({!Get_Related_Mx_Touchpoint.Interaction_Type__c}) == &apos;Phone Call&apos;,TEXT({!Get_Related_Mx_Touchpoint.Interaction_Type__c}) == &apos;&apos;) , &apos;Phone Call&apos;, &apos;Meeting&apos;)</expression>
    </formulas>
    <interviewLabel>Create Task for Stakeholder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task for Stakeholder</label>
    <loops>
        <description>LEM-14728: This is the loop over system admin profile to assign the relevant permission set.</description>
        <name>Loop_Through_Permission_Set</name>
        <label>Loop Through Permission Set</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_System_Admin_Profile</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_the_Ids_to_a_collection_for_profile</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Permission_Set_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-14728: This is the loop over relevant SMB Permission Set Group.</description>
        <name>Loop_Through_Permission_Set_Groups</name>
        <label>Loop Through Permission Set Groups</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_SMB_Reps_Permission_Set_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_the_Ids_to_a_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PermissionSet_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>LEM-14728: It is used to create Task record.</description>
        <name>Create_Task_for_User</name>
        <label>Create Task for User</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignRecordIdToReference>CreatedTaskId</assignRecordIdToReference>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Activity_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Result__c</field>
            <value>
                <stringValue>Completed Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Type__c</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This task was created automatically from Mx Touchpoint</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Task_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Initiative__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>LEM-14728: It is used to get the SMB Sales Reps Permission Set Assignments.</description>
        <name>Get_PermissionSet_Assignments</name>
        <label>Get PermissionSet Assignments</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_PermissionSet_Assignments_is_Null</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>PermissionSetGroupsIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>In</operator>
            <value>
                <elementReference>PermissionSetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14728: It is used to get the related Mx Touchpoint.</description>
        <name>Get_Related_Mx_Touchpoint</name>
        <label>Get Related Mx Touchpoint</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SMB_Reps_Permission_Set_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Initiative__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.AccountSegmentSMB</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Initiative__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14728: It is used to get all the SMB Reps Permission Set Groups to iterate over.</description>
        <name>Get_SMB_Reps_Permission_Set_Groups</name>
        <label>Get SMB Reps Permission Set Groups</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Admin_Profile</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Label.AccountSegmentSMB</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Object_Name_Account</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Label.AccountSegmentEnterprise</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mulesoft_Permission_Set_Group</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14728: It is used to the System admin profile.</description>
        <name>Get_System_Admin_Profile</name>
        <label>Get System Admin Profile</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Mx_Touchpoint</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4)</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initiative__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Stakeholder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-14728: It stores the created Task Id.</description>
        <name>CreatedTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermissionSetGroupName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PermissionSetGroupNametest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PermissionSetGroupsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermissionSetId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-14728: It stores permission set group name for creating tasks</description>
        <name>SMB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMBPermissionSetGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
