sfdx-source/force-app/main/default/flows/Create_New_Account_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>LEM-1606: Accumulate External Ids in Set.</description>
        <name>Add_External_Ids_To_Set</name>
        <label>Add External Ids To Set</label>
        <locationX>466</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>allExternalIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Accumulate_External_Id.External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accumulate_External_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-1606: Assigns Account Id of the Account that was fetched.</description>
        <name>Assign_Account_Id_From_Account</name>
        <label>Assign Account Id From Account</label>
        <locationX>392</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>accountRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Account_Relationship.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Account_Relationships_linked_to_current_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-1606: Assigns the Account Id from the Opportunity that was fetched.</description>
        <name>Assign_Account_Id_From_Opportunity</name>
        <label>Assign Account Id From Opportunity</label>
        <locationX>259</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>accountRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Account_Relationship.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_Account_Relationships_linked_to_current_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-1606: Assign Related Account of the new Account Relationship.</description>
        <name>Assign_New_Account_Relationship_Fields</name>
        <label>Assign New Account Relationship Fields</label>
        <locationX>645</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>New_Account_Relationship.Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Account_On_New_AccountRelationship.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Inverse_Relationship_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEM-1606: Checks if unique External Id already exists and accordingly allows Account Relationship creation.</description>
        <name>Does_Unique_External_Id_Exist</name>
        <label>Does Unique External Id Exist</label>
        <locationX>935</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Create_New_Account_Relationship_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External_Id_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>allExternalIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>externalIdOfCreatedAccountRelationship</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allExternalIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>externalIdOfReciprocalOfCreatedRelationship</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>External Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-1606: Check if Account record was fetched.</description>
        <name>Is_Account_Fetched</name>
        <label>Is Account Fetched</label>
        <locationX>384</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Fetched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id_From_Account</targetReference>
            </connector>
            <label>Account Fetched</label>
        </rules>
    </decisions>
    <description>LEM-1606: It creates a new Account Relationship by intuitive Relationship Type selection.</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-1606: External Id of Account Relationship</description>
        <name>externalIdOfCreatedAccountRelationship</name>
        <dataType>String</dataType>
        <expression>{!New_Account_Relationship.Account__c} &amp; TEXT({!New_Account_Relationship.Inverse_Relationship_Type__c}) &amp; {!New_Account_Relationship.Related_Account__c} &amp; TEXT({!New_Account_Relationship.Relationship_Type__c})</expression>
    </formulas>
    <formulas>
        <description>LEM-1606: Generates the External Id of the Reciprocal of the Created Account Relationship.</description>
        <name>externalIdOfReciprocalOfCreatedRelationship</name>
        <dataType>String</dataType>
        <expression>{!New_Account_Relationship.Related_Account__c} &amp; TEXT({!New_Account_Relationship.Relationship_Type__c}) &amp;{!New_Account_Relationship.Account__c} &amp; TEXT({!New_Account_Relationship.Inverse_Relationship_Type__c})</expression>
    </formulas>
    <interviewLabel>Create New Account Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Account Relationship</label>
    <loops>
        <description>LEM-1606: Populate Set with External Ids.</description>
        <name>Accumulate_External_Id</name>
        <label>Accumulate External Id</label>
        <locationX>464</locationX>
        <locationY>495</locationY>
        <collectionReference>Get_all_Account_Relationships_linked_to_current_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_External_Ids_To_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_New_Account_Relationship_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>LEM-1606: Creation of the New Account Relationship record.</description>
        <name>Create_New_Account_Relationship_Record</name>
        <label>Create New Account Relationship Record</label>
        <locationX>911</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>New_Account_Relationship</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get_Account_Details</label>
        <locationX>549</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Fetched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Account_Relationships_linked_to_current_Account</name>
        <label>Get all Account Relationships linked to current Account</label>
        <locationX>322</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accumulate_External_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>External_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-1606: Fetches the Opportunity details from which the flow was triggered.</description>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>193</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Id_From_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1151</locationX>
        <locationY>492</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Custom</name>
            <extensionName>c:displayMessageInScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isError</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>The Account Relationship you are trying to create already exists.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Details.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_Message_Opportunity</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(205, 32, 32);&quot;&gt;The Account Relationship you are trying to create already exists.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Details.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-1606: Screen Components to populate details of the Related Account.</description>
        <name>Related_Account_Details</name>
        <label>Related Account Details</label>
        <locationX>679</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <fields>
            <name>Related_Account_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_Account_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Related_Account_On_New_AccountRelationship</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Related_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account_Relationship__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>New_Account_Relationship.Related_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_Account_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Account_Relationship.Relationship_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>New_Account_Relationship.Relationship_Status__c</objectFieldReference>
        </fields>
        <fields>
            <name>Related_Account_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_Account_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Account_Relationship.Start_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_Account_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>New_Account_Relationship.End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-1606: Screen to intuitively select Inverse Relationship Type.</description>
        <name>Select_Inverse_Relationship_Type</name>
        <label>Select Inverse Relationship Type</label>
        <locationX>798</locationX>
        <locationY>495</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Unique_External_Id_Exist</targetReference>
        </connector>
        <fields>
            <name>Display_Text_For_InverseRelationshipType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Select the relationship that describes how {!accountName} is related to {!New_Account_Relationship.Related_Account__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>New_Account_Relationship.Inverse_Relationship_Type__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1067</locationX>
        <locationY>651</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message_Custom</name>
            <extensionName>c:displayMessageInScreenFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isError</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSuccess</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>A new Account Relationship was created.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Details.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Success_Message_Opportunity</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(54, 150, 83);&quot;&gt;A new Account Relationship was created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity_Details.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>553</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Related_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-1606: Stores the name of the Account from which the Account Relationship will be created.</description>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-1606: Stores the record Id of the Account.</description>
        <name>accountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-1606: Set of External Ids</description>
        <name>allExternalIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-1606: Stores the Log record on DML failure.</description>
        <name>Log_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Log__c</objectType>
    </variables>
    <variables>
        <description>LEM-1606: Stores the new Account Relationship details.</description>
        <name>New_Account_Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Relationship__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
