sfdx-source/force-app/main/default/flows/Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-15224: It calls the apex invocable method for Opportunity Name assignment and creation of Product Insights.</description>
        <name>Update_Opportunity_Name_and_Create_Product_Insights</name>
        <label>Update Opportunity Name and Create Product Insights</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <actionName>OpportunityCreationController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountPlanId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>levers</name>
            <value>
                <elementReference>DataTable.selectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityRecord</name>
            <value>
                <elementReference>Get_Created_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityCreationController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <description>LEM-19282: It stores error message to display on creation.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>An error was encountered, please reach out to System Administrator for assistance.</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-19282: Error Title String</description>
        <name>errorTitleString</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </constants>
    <decisions>
        <description>LEM-15224: It is used to check whether the user has access to create the opportunity or not.</description>
        <name>Check_User_Access</name>
        <label>Check User Access</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_For_No_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Access</defaultConnectorLabel>
        <rules>
            <name>User_Has_Access</name>
            <conditionLogic>(1 AND (2 OR 6)) OR 3 OR 4 OR 5 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Allow_Opportunity_Creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eighteenDigitUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Account_Plan.Account__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Strategy_and_Operations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Data_Operations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>eighteenDigitUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_Team_Members.UserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Allow_Account_Plan_and_Opportunity_Creation_for_ADM_and_AMM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Levers</targetReference>
            </connector>
            <label>User Has Access</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15224: It is used to check whether at least one Lever is selected or not.</description>
        <name>Levers_Selected</name>
        <label>Levers Selected?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Levers Selected</defaultConnectorLabel>
        <rules>
            <name>No_Levers_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTable.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>No Levers Selected</label>
        </rules>
    </decisions>
    <description>LEM-15224: It is used to Create Opportunity from Quick action on Account Plan.</description>
    <dynamicChoiceSets>
        <name>levers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Lever__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>LEM-15224: It is used to store the 18 digit User ID.</description>
        <name>eighteenDigitUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Create Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>LEM-15224: It is used to create the Opportunity by assigning values.</description>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>opportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DisplayErrorMessageOnOpportunityCreation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Current_Account_Plan.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Plan__c</field>
            <value>
                <elementReference>Get_Current_Account_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Number_of_Stores__c</field>
            <value>
                <elementReference>Estimated_of_Stores</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Current_Account_Plan.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Sub_Type__c</field>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>VSP Recommendation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Untouched</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <description>LEM-15224: It is used to get the account team member records.</description>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account_Plan.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-15224: It is used to query the created Opportunity Record.</description>
        <name>Get_Created_Opportunity</name>
        <label>Get Created Opportunity</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Name_and_Create_Product_Insights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-15224: It is used to query the current Account Plan Record.</description>
        <name>Get_Current_Account_Plan</name>
        <label>Get Current Account Plan</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-15224: It is used to query the Levers related to the current Account Plan.</description>
        <name>Get_Related_Levers</name>
        <label>Get Related Levers</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Account_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lever__c</object>
        <sortField>Solution_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>LEM-15224: It is used to created new Opportunity.</description>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Levers_Selected</targetReference>
        </connector>
        <fields>
            <name>Create_New_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>closeDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Opportunity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Estimated_of_Stores</name>
                    <dataType>Number</dataType>
                    <fieldText>Estimated # of Stores</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GuidanceText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 240, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Select the Levers from the Account Plan that this opportunity will drive.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Lever__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Plan Levers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Levers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Solution_Name__c&quot;,&quot;guid&quot;:&quot;column-d37d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Solution Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Predicted_Incremental_Sales__c&quot;,&quot;guid&quot;:&quot;column-7f0f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Predicted Sales Uplift$&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Predicted Incremental Sales $&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Adjusted_Incr_Sales_Uplift__c&quot;,&quot;guid&quot;:&quot;column-a322&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Adjusted Incr. Sales Uplift $&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Lever_Points__c&quot;,&quot;guid&quot;:&quot;column-5bf7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Points&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-ceb6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LEM-19282: It will show the error message if there is any error during the Opportunity creation.</description>
        <name>DisplayErrorMessageOnOpportunityCreation</name>
        <label>DisplayErrorMessageOnOpportunityCreation</label>
        <locationX>490</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorMessageTitleOnOpportunityCreation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!errorTitleString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageOnOpportunityCreation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LEM-15224: It is used to display error when no Levers are selected.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageForLeversSelection</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Please select atleast one Lever before proceeding.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LEM-15224: It is displayed when the user do not have access to create Opportunity.</description>
        <name>Error_Screen_For_No_Access</name>
        <label>Error Screen For No Access</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageForNoAccess</name>
            <fieldText>&lt;p&gt;The current user do not have access to this action. Please contact System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Account_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-15224: It stores the recordId of account plan.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
