sfdx-source/force-app/main/default/flows/Create_Update_Decision_Maker_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addFaultError</name>
        <label>addFaultError</label>
        <locationX>992</locationX>
        <locationY>1495</locationY>
        <assignmentItems>
            <assignToReference>showFaultError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>finalScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>createContact</name>
        <choiceText>New Contact</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>existingContact</name>
        <choiceText>Existing Contact</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>isContactAssociatedWithAccount</name>
        <label>isContactAssociatedWithAccount</label>
        <locationX>386</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>accountCRelationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>contactNotAssociatedwithAccount</defaultConnectorLabel>
        <rules>
            <name>contactAssociatedwithAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAssociatedAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRoleonContact</targetReference>
            </connector>
            <label>contactAssociatedwithAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNewContactButtonSelected</name>
        <label>isNewContactButtonSelected</label>
        <locationX>613</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>selectRoletoContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>existingContactButtonSelected</defaultConnectorLabel>
        <rules>
            <name>newContactButtonSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>createContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewContactScreen</targetReference>
            </connector>
            <label>newContactButtonSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>isStoreAccountNull</name>
        <label>isStoreAccountNull</label>
        <locationX>613</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>getAccountContactRelation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>storeAccountNotNull</defaultConnectorLabel>
        <rules>
            <name>storeAccountisNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getStoreAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>accountNotFoundErrorScreen</targetReference>
            </connector>
            <label>storeAccountisNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create/Update Decision Maker Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create/Update Decision Maker Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>accountCRelationship</name>
        <label>accountCRelationship</label>
        <locationX>290</locationX>
        <locationY>1431</locationY>
        <connector>
            <targetReference>finalScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>addFaultError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>getStoreAccount.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>getAccountContactRelation.Roles</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>insertContactRecord</name>
        <label>insertContactRecord</label>
        <locationX>613</locationX>
        <locationY>1013</locationY>
        <connector>
            <targetReference>selectRoletoContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>addFaultError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Business_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAccountContactRelation</name>
        <label>getAccountContactRelation</label>
        <locationX>622</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRoletoContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStoreAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAssociatedAccount</name>
        <label>getAssociatedAccount</label>
        <locationX>395</locationX>
        <locationY>992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isContactAssociatedWithAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStoreAccount</name>
        <label>getStoreAccount</label>
        <locationX>621</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isStoreAccountNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRoleonContact</name>
        <label>updateRoleonContact</label>
        <locationX>492</locationX>
        <locationY>1432</locationY>
        <connector>
            <targetReference>finalScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>addFaultError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactLookup.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>getAccountContactRelation.Roles</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordUpdates>
    <screens>
        <name>accountNotFoundErrorScreen</name>
        <label>accountNotFoundErrorScreen</label>
        <locationX>392</locationX>
        <locationY>386</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>storeNotFoundErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 6, 6);&quot;&gt;Store account can not be found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>assignRoletoContact</name>
        <label>assignRoletoContact</label>
        <locationX>622</locationX>
        <locationY>678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isNewContactButtonSelected</targetReference>
        </connector>
        <fields>
            <name>readinessErrorDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Readiness Error: &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Please ensure the Contact with Decision Maker role is created on the store account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Contact_Relationship_Information</name>
            <fieldText>Account Contact Relationship Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Contact_Relationship_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accName</name>
                    <fieldText>&lt;p&gt;Account Name&lt;/p&gt;&lt;p&gt;{!getStoreAccount.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Create_New_Contact</name>
                    <choiceReferences>createContact</choiceReferences>
                    <choiceReferences>existingContact</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Choose one of the following</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>createNewContactScreen</name>
        <label>createNewContactScreen</label>
        <locationX>1055</locationX>
        <locationY>934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>insertContactRecord</targetReference>
        </connector>
        <fields>
            <name>readinessErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;Readiness Error: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: sans-serif; font-size: 12px;&quot;&gt;Please ensure the Contact with Decision Maker role is created on the store account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Information</name>
            <fieldText>Contact Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountName</name>
                    <fieldText>&lt;p&gt;Account&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getStoreAccount.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Business_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Business Phone</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finalScreen</name>
        <label>finalScreen</label>
        <locationX>403</locationX>
        <locationY>1616</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>readinessCheckErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Readiness Error: &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Please ensure the Contact with Decision Maker role is created on the store account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(17, 221, 44);&quot;&gt;Contact role updated successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>showFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 10, 10);&quot;&gt;We are facing some technical issue, {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>showFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectRoletoContact</name>
        <label>selectRoletoContact</label>
        <locationX>395</locationX>
        <locationY>853</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>getAssociatedAccount</targetReference>
        </connector>
        <fields>
            <name>readinessErrorDisplayTextMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Readiness Error: &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Please ensure the Contact with Decision Maker role is created on the store account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Contact_Relationship_Information_0_0</name>
            <fieldText>Account Contact Relationship Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Contact_Relationship_Information_0_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>acc_Name</name>
                    <fieldText>&lt;p&gt;Account Name&lt;/p&gt;&lt;p&gt;{!getStoreAccount.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>contactLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MasterRecordId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>insertContactRecord</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getAccountContactRelation.Roles</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>495</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getStoreAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showFaultError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
