sfdx-source/force-app/main/default/flows/Create_Opportunity_Contact_Roles_from_Stores.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>LEM-23682: It is used to create and assign values to the Contact.</description>
        <name>Assign_Contact_Data</name>
        <label>Assign Contact Data</label>
        <locationX>270</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Unknown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Unknown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Stores.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Stores.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Stores.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Stores.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Stores.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Stores.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Stores.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Stores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to assign Mailing Address to Contact.</description>
        <name>Assign_Mailing_Address</name>
        <label>Assign Mailing Address</label>
        <locationX>798</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to create and assign values to the Opportunity Contact Record.</description>
        <name>Assign_OCR_Data</name>
        <label>Assign OCR Data</label>
        <locationX>270</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>opportunityContactRoleRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityContactRoleRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Created_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityContactRoleRecord.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GateKeeperOpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityContactRoleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunityContactRoleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Created_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to create and assign values to the Opportunity Contact Record.</description>
        <name>Assign_OCR_Data_0</name>
        <label>Assign OCR Data</label>
        <locationX>666</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>opportunityContactRoleRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityContactRoleRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityContactRoleRecord.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.GateKeeperOpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityContactRoleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunityContactRoleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Selected_Contact_has_Phone_Mailing_Address_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to assign Phone and Mailing Address to Contact .</description>
        <name>Assign_Phone_and_Mailing_Address</name>
        <label>Assign Phone and Mailing Address</label>
        <locationX>270</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to assign Phone to Contact .</description>
        <name>Assign_Phone_Number</name>
        <label>Assign Phone Number</label>
        <locationX>534</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Selected_Contacts.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Selected_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to collect all Store Ids.</description>
        <name>Assign_Store_Ids</name>
        <label>Assign Store Ids</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>storeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Store_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Store_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to collect all Store Accounts that don&apos;t have Contact.</description>
        <name>Collect_Store_Accounts_without_Contact</name>
        <label>Collect Store Accounts without Contact</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>storeAccountsWithoutContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_All_Store_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_Store_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to collect Contact IDs that have Opportunity Contact Role.</description>
        <name>Collect_Store_Contacts_with_Available_OCR</name>
        <label>Collect Store Contacts with Available OCR</label>
        <locationX>270</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>contactIdsWithOCR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_OCR_Records.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_OCR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to collect Contact IDs that don&apos;t have Opportunity Contact Role associated.</description>
        <name>Collect_Store_Contacts_with_No_OCR_Available</name>
        <label>Collect Store Contacts with No OCR Available</label>
        <locationX>270</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>contactsWithoutOCR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_Existing_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Existing_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23682: It is used to collect all Store Account IDs that have Contact.</description>
        <name>Collect_Store_Ids_that_have_Contacts</name>
        <label>Collect Store Ids that have Contacts</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>storeAccountIdsWithContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEM-23682: It is used to check if Contacts have Opportunity Contact Role associated or not.</description>
        <name>Does_Contact_with_No_OCR_exists</name>
        <label>Does Contact with No OCR exists?</label>
        <locationX>402</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Existing_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_with_No_OCR</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>contactIdsWithOCR</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_all_Existing_Contacts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Store_Contacts_with_No_OCR_Available</targetReference>
            </connector>
            <label>Contact with No OCR</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23682: It is used to check if selected Contact has Phone/Mailing Address populated or not .</description>
        <name>Does_Selected_Contact_has_Phone_Mailing_Address_Populated</name>
        <label>Does Selected Contact has Phone/Mailing Address Populated?</label>
        <locationX>666</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Selected_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_Mailing_Address_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Selected_Contacts.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Selected_Contacts.MailingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_and_Mailing_Address</targetReference>
            </connector>
            <label>Phone &amp; Mailing Address is Null</label>
        </rules>
        <rules>
            <name>Phone_is_blank_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Selected_Contacts.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Number</targetReference>
            </connector>
            <label>Phone is blank/null</label>
        </rules>
        <rules>
            <name>Mailing_Address_is_blank_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Selected_Contacts.MailingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mailing_Address</targetReference>
            </connector>
            <label>Mailing Address is blank/null</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23682: It is used to check if store accounts have contact or not.</description>
        <name>Does_Store_Accounts_that_don_t_have_Contact_exists</name>
        <label>Does Store Accounts that don&apos;t have Contact exists?</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Loop_through_All_Store_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Store_Account_without_Contact</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>storeAccountIdsWithContact</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_All_Store_Accounts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Store_Accounts_without_Contact</targetReference>
            </connector>
            <label>Store Account without Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23682: It is used to check whether the stores are present or not.</description>
        <name>Does_Stores_exists</name>
        <label>Does Stores exists?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stores_are_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Stores</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Store_Accounts</targetReference>
            </connector>
            <label>Stores are Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23682: It is used to check if Contact record list is empty or not.</description>
        <name>Is_Contact_List_Empty</name>
        <label>Is Contact List Empty?</label>
        <locationX>182</locationX>
        <locationY>4082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_List_Is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contacts</targetReference>
            </connector>
            <label>Contact List Is Not Empty</label>
        </rules>
    </decisions>
    <description>LEM-23682: It is used to Create Contacts/Opportunity Contact Roles from Stores.</description>
    <environments>Default</environments>
    <interviewLabel>Create Opportunity Contact Roles from Stores {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity Contact Roles from Stores</label>
    <loops>
        <description>LEM-23682: It is used to iterate over Contacts.</description>
        <name>Loop_through_all_Existing_Contacts</name>
        <label>Loop through all Existing Contacts</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <collectionReference>Get_Contacts_Related_to_the_Store_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Contact_with_No_OCR_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contacts_from_Store_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-23682: It is used to iterate over the All Store Accounts.</description>
        <name>Loop_through_All_Store_Accounts</name>
        <label>Loop through All Store Accounts</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <collectionReference>Get_All_Stores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Store_Accounts_that_don_t_have_Contact_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunity_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-23682: It is used to iterate over the store Contacts.</description>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Contacts_Related_to_the_Store_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Store_Ids_that_have_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_All_Store_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-23682: It is used to iterate over Contacts.</description>
        <name>Loop_through_Created_Contacts</name>
        <label>Loop through Created Contacts</label>
        <locationX>182</locationX>
        <locationY>3074</locationY>
        <collectionReference>contactRecordsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OCR_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Selected_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-23682: It is used to iterate over the Opportunity Contact Roles.</description>
        <name>Loop_through_OCR_Records</name>
        <label>Loop through OCR Records</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <collectionReference>Get_Opportunity_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Store_Contacts_with_Available_OCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_all_Existing_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-23682: It is used to iterate over Selected Contacts.</description>
        <name>Loop_through_Selected_Contacts</name>
        <label>Loop through Selected Contacts</label>
        <locationX>182</locationX>
        <locationY>3374</locationY>
        <collectionReference>OCR_Not_Available_Contacts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OCR_Data_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-23682: It is used to iterate over selected stores.</description>
        <name>Loop_through_Selected_Stores</name>
        <label>Loop through Selected Stores</label>
        <locationX>182</locationX>
        <locationY>2666</locationY>
        <collectionReference>Contact_Not_Available_Stores.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-23682: It is used to iterate over the Store Accounts.</description>
        <name>Loop_through_Store_Accounts</name>
        <label>Loop through Store Accounts</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_All_Stores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Store_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts_Related_to_the_Store_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>LEM-23682: It is used to save the Contact records.</description>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>182</locationX>
        <locationY>2966</locationY>
        <connector>
            <targetReference>Loop_through_Created_Contacts</targetReference>
        </connector>
        <inputReference>contactRecordsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>LEM-23682: It is used to save the Opportunity Contact Role records.</description>
        <name>Create_Opportunity_Contact_Roles</name>
        <label>Create Opportunity Contact Roles</label>
        <locationX>182</locationX>
        <locationY>3974</locationY>
        <connector>
            <targetReference>Is_Contact_List_Empty</targetReference>
        </connector>
        <inputReference>opportunityContactRoleCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>LEM-23682: It is used to fetch all stores associated with Business Account of Opportunity.</description>
        <name>Get_All_Stores</name>
        <label>Get All Stores</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Stores_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.StoreAccountRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-23682: It is used to fetch Contacts associated with Store Accounts.</description>
        <name>Get_Contacts_Related_to_the_Store_Accounts</name>
        <label>Get Contacts Related to the Store Accounts</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>storeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-23682: It is used to get the Opportunity Record.</description>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Stores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-23682: It is used to fetch Opportunity Contact Roles associated with Contacts of Stores.</description>
        <name>Get_Opportunity_Contact_Roles</name>
        <label>Get Opportunity Contact Roles</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_OCR_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>existingContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>LEM-23682: It is used to update the Contact records.</description>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>50</locationX>
        <locationY>4190</locationY>
        <inputReference>contactRecords</inputReference>
    </recordUpdates>
    <screens>
        <description>LEM-23682: It is used to show Stores that don&apos;t have Contacts and Contacts that don&apos;t have Opportunity Contact Role associated with them.</description>
        <name>Create_Contacts_from_Store_Screen</name>
        <label>Create Contacts from Store Screen</label>
        <locationX>182</locationX>
        <locationY>2558</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_Selected_Stores</targetReference>
        </connector>
        <fields>
            <name>Contact_Not_Available_Stores</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create Contacts from Store</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>storeAccountsWithoutContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6112&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-dbe2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;BillingAddress&quot;,&quot;guid&quot;:&quot;column-eb20&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Billing Address&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Address&quot;,&quot;type&quot;:&quot;customAddress&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OCR_Not_Available_Contacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Existing Contacts to Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>contactsWithoutOCR</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-0106&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0f23&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contact Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-04c7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Phone&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Business Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;MailingAddress&quot;,&quot;guid&quot;:&quot;column-017a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Mailing Address&quot;,&quot;type&quot;:&quot;customAddress&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-23682: It is used to store Contact IDs that have Opportunity Contact Role.</description>
        <name>contactIdsWithOCR</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store the contact record values.</description>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store the list of contact records.</description>
        <name>contactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store the list of contact records.</description>
        <name>contactRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store Contacts that don&apos;t have Opportunity Contact Role associated with them.</description>
        <name>contactsWithoutOCR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store Contact IDs of Store Accounts.</description>
        <name>existingContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store the list of opportunity contact role records.</description>
        <name>opportunityContactRoleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store the opportunity contact role record values.</description>
        <name>opportunityContactRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <description>LEM-23682: It stores the recordId of opportunity.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store Account IDs that have Contact associated with them.</description>
        <name>storeAccountIdsWithContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store Accounts that don&apos;t have Contact associated with them.</description>
        <name>storeAccountsWithoutContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>LEM-23682: It is used to store Store Account IDs associated with Business Account of Opportunity.</description>
        <name>storeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
