sfdx-source/force-app/main/default/flows/Create_OAR_and_AR_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Linkable_Related_Accounts</name>
        <label>Linkable Related Accounts</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>RelatedAccountsAvailableforLinking</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Unlinked_Related_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Unlinked_Related_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_OAR_Assignment_2</name>
        <label>New OAR Assignment 2</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NewOAR.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOAR.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOAR.Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Accounts2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOAR.Secondary_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AR_Related_Account.Related_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OAR_Records_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OAR_Record_Assignment</name>
        <label>OAR Record Assignment</label>
        <locationX>1282</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>NewOAR.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOAR.Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Channel_Partners</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOAR.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOAR.Secondary_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AR_Related_Id_2.Related_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_OAR_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Related_Account_Channel_Partners</name>
        <label>Related Account Channel Partners</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Collection_Of_Record_Accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OAR_Record_Loop.Related_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChannelPartners_OfLinkedRA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OAR_Record_Loop.Related_Account__r.Related_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OAR_Record_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateARChoice</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: serif; color: rgb(68, 68, 68);&quot;&gt;+ Create New Account Relationship&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreateNewAccountRelationship</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Accumulate_Related_Account_Choice_Set</name>
        <label>Accumulate Related Account Choice Set</label>
        <locationX>1194</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Linkable_Related_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChannelPartners_OfLinkedRA</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Filter_Unlinked_Related_Accounts.Related_Account__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Unlinked_Related_Accounts</targetReference>
            </connector>
            <label>Continue Loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blank_Screen_Decision</name>
        <label>Blank Screen Decision</label>
        <locationX>1018</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Account_Relationship_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedAccountsAvailableforLinking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_AR_Screen_2</targetReference>
            </connector>
            <label>Show Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Display_Decision</name>
        <label>Display Decision</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_OAR_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoRelatedAccounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_AR_Screen</targetReference>
            </connector>
            <label>NoRelatedAccounts</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Record</name>
        <label>New or Existing Record</label>
        <locationX>1194</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Get_AR_Related_Id_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_AR_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Channel_Partners</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateARChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountRelationshipAfterOARAddition</targetReference>
            </connector>
            <label>New AR Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Selection</name>
        <label>New or Existing Selection</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_AR_Related_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Account_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Accounts2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateARChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account_Relationship</targetReference>
            </connector>
            <label>New Account Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Existing_OAR_Records</name>
        <label>No Existing OAR Records</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>OAR_Record_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_OAR_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_New_AR</targetReference>
            </connector>
            <label>No Records</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllRelatedAccounts</name>
        <dataType>String</dataType>
        <displayField>Related_Account_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Relationship_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Account_Relationship__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceOfRelatedAccount</name>
        <collectionReference>RelatedAccountsAvailableforLinking</collectionReference>
        <dataType>String</dataType>
        <displayField>Related_Account_Name__c</displayField>
        <object>Account_Relationship__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InverseRelationshipTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inverse_Relationship_Type__c</picklistField>
        <picklistObject>Account_Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipTypeScreenSelection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_Type__c</picklistField>
        <picklistObject>Account_Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create OAR and AR Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create OAR and AR Records</label>
    <loops>
        <name>Filter_Unlinked_Related_Accounts</name>
        <label>Filter Unlinked Related Accounts</label>
        <locationX>1018</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Related_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Accumulate_Related_Account_Choice_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Blank_Screen_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OAR_Record_Loop</name>
        <label>OAR Record Loop</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Existing_OAR_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_Account_Channel_Partners</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Unlinked_Related_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_OAR_Record</name>
        <label>Create New OAR Record</label>
        <locationX>1282</locationX>
        <locationY>2126</locationY>
        <inputReference>NewOAR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OAR_Records_2</name>
        <label>Create OAR Records 2</label>
        <locationX>490</locationX>
        <locationY>1118</locationY>
        <inputReference>NewOAR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AR_Related_Account</name>
        <label>Get AR Related Account</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_OAR_Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Accounts2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AR_Related_Id_2</name>
        <label>Get AR Related Id 2</label>
        <locationX>1282</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OAR_Record_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Channel_Partners</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_OAR_Records</name>
        <label>Get Existing OAR Records</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Existing_OAR_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Account_Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_Account__c</queriedFields>
        <queriedFields>Relationship_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Accounts</name>
        <label>Get Related Accounts</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Relationship_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_Account_Name__c</queriedFields>
        <queriedFields>Related_Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_AR_Screen</name>
        <label>New AR Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Account_Relationship</targetReference>
        </connector>
        <fields>
            <name>InstructionalText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!InstructionalTextTemplate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedAccounts</name>
            <choiceReferences>CreateARChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CreateARChoice</defaultSelectedChoiceReference>
            <fieldText>Related Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_AR_Screen_2</name>
        <label>New AR Screen 2</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountRelationshipAfterOARAddition</targetReference>
        </connector>
        <fields>
            <name>InstructionalText2</name>
            <fieldText>&lt;p&gt;{!InstructionalTextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Related_Accounts3</name>
            <choiceReferences>CreateARChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CreateARChoice</defaultSelectedChoiceReference>
            <fieldText>Related Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Account_Relationship_Screen</name>
        <label>Opportunity Account Relationship Screen</label>
        <locationX>1194</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_or_Existing_Record</targetReference>
        </connector>
        <fields>
            <name>InstructionalText4</name>
            <fieldText>&lt;p&gt;{!InstructionalTextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Channel_Partners</name>
            <choiceReferences>ChoiceOfRelatedAccount</choiceReferences>
            <choiceReferences>CreateARChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Related Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_New_AR</name>
        <label>Select New AR</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_or_Existing_Selection</targetReference>
        </connector>
        <fields>
            <name>InstructionalText6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!InstructionalTextTemplate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Related_Accounts2</name>
            <choiceReferences>AllRelatedAccounts</choiceReferences>
            <choiceReferences>CreateARChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Related Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AccountRelationshipAfterOARAddition</name>
        <label>AccountRelationshipAfterOARAddition</label>
        <locationX>1018</locationX>
        <locationY>2558</locationY>
        <flowName>Create_New_Account_Relationship</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>LEM-1606: Create a new Account Relationship when the parent Account has no existing Account Relationships.</description>
        <name>Create_New_Account_Relationship</name>
        <label>Create New Account Relationship</label>
        <locationX>380</locationX>
        <locationY>2990</locationY>
        <flowName>Create_New_Account_Relationship</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>InstructionalTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;If the account you’d like to add as an opportunity partner is not available, please ensure that an existing  account relationship is active or create a new one here.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ChannelPartners_OfLinkedRA</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection_Of_Record_Accounts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateNewAccountRelationship</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CreateNewAccountRelationship</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewOAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Account_Relationship__c</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RelatedAccountsAvailableforLinking</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Relationship__c</objectType>
    </variables>
</Flow>