sfdx-source/force-app/main/default/flows/Create_Stakeholder_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>BlankValuesErrorMessageAssignment</name>
        <label>BlankValuesErrorMessageAssignment</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ShowErrorMessageBlankValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowErrorMessageBothPopulated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stakeholders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BlankValuesTrue</name>
        <label>BlankValuesTrue</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ShowErrorMessageBlankValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowErrorMessageBothPopulated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Stakeholders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BothValuesPopulatedTrue</name>
        <label>BothValuesPopulatedTrue</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ShowErrorMessageBothPopulated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowErrorMessageBlankValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Stakeholders</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccessDecision</name>
        <label>AccessDecision</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Stakeholder_Records_No_access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasAccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasAccessVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BlankValuesErrorMessageAssignment</targetReference>
            </connector>
            <label>HasAccess</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindContactStakeholderDuplicate</name>
        <label>FindContactStakeholderDuplicate</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>CreateContactStakeholderRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DuplicateContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactStakeholderRecords.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>DuplicateContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>FindUserStakeholderDuplicates</name>
        <label>FindUserStakeholderDuplicates</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>CreateUserStakeholderRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserStakeholderRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GerUserStakeholderRecords.Stakeholder_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>UserStakeholderRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>LookupDecision</name>
        <label>LookupDecision</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactAndUserNotPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BlankValuesTrue</targetReference>
            </connector>
            <label>ContactAndUserNotPopulated</label>
        </rules>
        <rules>
            <name>ContactAndUserPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BothValuesPopulatedTrue</targetReference>
            </connector>
            <label>ContactAndUserPopulated</label>
        </rules>
        <rules>
            <name>ContactLookupIsBlank</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>ContactLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GerUserStakeholderRecords</targetReference>
            </connector>
            <label>ContactLookupIsBlank</label>
        </rules>
        <rules>
            <name>UserLookupIsBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactStakeholderRecords</targetReference>
            </connector>
            <label>UserLookupIsBlank</label>
        </rules>
    </decisions>
    <interviewLabel>Create Stakeholder Records {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>false</isAdditionalPermissionRequiredToRun>
    <label>Create Stakeholder Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateContactStakeholderRecord</name>
        <label>CreateContactStakeholderRecord</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initiative__c</field>
            <value>
                <elementReference>InitiativeRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateUserStakeholderRecord</name>
        <label>CreateUserStakeholderRecord</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <inputAssignments>
            <field>Initiative__c</field>
            <value>
                <elementReference>InitiativeRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ExistingStakeholderRecords</name>
        <label>ExistingStakeholderRecords</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiativeRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GerUserStakeholderRecords</name>
        <label>GerUserStakeholderRecords</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindUserStakeholderDuplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiativeRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactStakeholderRecords</name>
        <label>GetContactStakeholderRecords</label>
        <locationX>1238</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindContactStakeholderDuplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiativeRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stakeholder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Grabs UserAccessRecord of user running the flow to check if they have Edit Access of Parent Object Initiative</description>
        <name>GetUserAccessRecords</name>
        <label>GetUserAccessRecords</label>
        <locationX>1370</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccessDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InitiativeRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasEditAccess</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>HasAccessVariable</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Create_Stakeholder_Records_No_access</name>
        <label>Create Stakeholder Records</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stakeholders</name>
        <label>Stakeholders</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExistingStakeholderRecords</targetReference>
        </connector>
        <fields>
            <name>Stakeholders_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stakeholders_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>External Participant</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Stakeholder__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stakeholders_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UserLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Internal DoorDash Participant</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Stakeholder__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BothFieldsPopulatedValidationError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You can only search for a single user or contact at a time. Please remove the value from one and proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowErrorMessageBothPopulated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoFieldsPopulatedErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You must enter a value to search for. Please enter a value for either a Contact or a User and proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowErrorMessageBlankValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserAccessRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Text Field to hold User Access Record ID</description>
        <name>HasAccessVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitiativeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowErrorMessageBlankValues</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowErrorMessageBothPopulated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
