sfdx-source/force-app/main/default/flows/Internal_Communications_for_Work_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-746: It is used to send email to Account Owner when Work Order status is Onboarding Complete and Activated Centrally is No.</description>
        <name>Send_Email_To_Account_Owner_When_Activated_Centrally_Is_No</name>
        <label>Send Email To Account Owner When Activated Centrally Is No</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>WorkOrder.Notify_Activated_Centrally_No_Work_Order_Account_Owner_on_Onboarding_Completion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrder.Notify_Activated_Centrally_No_Work_Order_Account_Owner_on_Onboarding_Completion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>LEM-746: It is used to send email to Account Owner when Work Order status is Onboarding Complete and Activated Centrally is Yes.</description>
        <name>Send_Email_To_Account_Owner_When_Activated_Centrally_Is_Yes</name>
        <label>Send Email To Account Owner When Activated Centrally Is Yes</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>WorkOrder.Notify_Activated_Centrally_Yes_Work_Order_Account_Owner_on_Onboarding_Completion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrder.Notify_Activated_Centrally_Yes_Work_Order_Account_Owner_on_Onboarding_Completion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>LEM-1684: It is used to send email to Account Owner when Work Order Provisioning Status is Readiness Check Failed.</description>
        <name>Send_Email_To_Account_Owner_When_Readiness_Check_Failed</name>
        <label>Send Email To Account Owner When Readiness Check Failed</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <actionName>WorkOrder.Notify_Account_Owner_When_Readiness_Check_Failed_On_Parent_Work_Order</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Work_Order_Segment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrder.Notify_Account_Owner_When_Readiness_Check_Failed_On_Parent_Work_Order</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>LEM-746: It is used to send email to Account Owner when Work Order type is COO.</description>
        <name>Send_Email_To_Account_Owner_When_WorkOrder_Type_Is_COO</name>
        <label>Send Email To Account Owner When WorkOrder Type Is COO</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>WorkOrder.Notify_COO_Work_Order_Account_Owner_for_Change_of_Ownership</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WorkOrder.Notify_COO_Work_Order_Account_Owner_for_Change_of_Ownership</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <description>LEM-746: No picklist value of Activated Centrally field.</description>
        <name>No</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-746: Yes picklist value of Activated Centrally field.</description>
        <name>Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <description>LEM-19035: It is used to check Work Order Segment type.</description>
        <name>Check_Work_Order_Segment</name>
        <label>Check Work Order Segment</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountSegmentSMB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_MxS_Communication_to_Account_Team_Members</targetReference>
            </connector>
            <label>SMB</label>
        </rules>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.AccountSegmentSMB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Work_Order_Type</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-5727: It checks whether the Work Order Type is &apos;Drive&apos;.</description>
        <name>Check_Work_Order_Type</name>
        <label>Check Work Order Type</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Drive_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_MxS_Communications_To_Drive_Specialists</targetReference>
            </connector>
            <label>Is Drive Work Order?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-746: Send emails to Account Owner based on various conditions.</description>
        <name>Send_Emails_Decision_Outcomes</name>
        <label>Send Emails Decision Outcomes</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Status_Changed_To_Confirmed_And_WorkOrder_Type_is_COO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrderTypeCOO</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrderStatusConfirmed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrderStatusConfirmed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Account_Owner_When_WorkOrder_Type_Is_COO</targetReference>
            </connector>
            <label>Has Status Changed To Confirmed And WorkOrder Type is COO</label>
        </rules>
        <rules>
            <name>Has_Status_Changed_To_Onboarding_Complete_And_Activated_Centrally_Is_Yes</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrderStatusOnboardingComplete</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activated_Centrally_AC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrderStatusOnboardingComplete</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrder_Type_Marketplace</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrderTypeCOO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Account_Owner_When_Activated_Centrally_Is_Yes</targetReference>
            </connector>
            <label>Has Status Changed To Onboarding Complete And Activated Centrally Is Yes</label>
        </rules>
        <rules>
            <name>Has_Status_Changed_To_Onboarding_Complete_And_Activated_Centrally_Is_No</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrderStatusOnboardingComplete</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activated_Centrally_AC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrderStatusOnboardingComplete</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrder_Type_Marketplace</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.WorkOrderTypeCOO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Account_Owner_When_Activated_Centrally_Is_No</targetReference>
            </connector>
            <label>Has Status Changed To Onboarding Complete And Activated Centrally Is No</label>
        </rules>
        <rules>
            <name>Has_Provisioning_Status_Changed_To_Readiness_Check_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provisioning_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Work_Order_Provisioning_Status_Readiness_Check_Failed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Readiness_Check_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Account_Owner_When_Readiness_Check_Failed</targetReference>
            </connector>
            <label>Has Provisioning Status Changed To Readiness Check Failed</label>
        </rules>
    </decisions>
    <description>LEM-746, LEM-5727,LEM-19035: It is used to send emails based on various criteria on Parent Work Order creation or updation.</description>
    <environments>Default</environments>
    <interviewLabel>Internal Communications for Work Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Communications for Parent Work Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Emails_Decision_Outcomes</targetReference>
        </connector>
        <filterFormula>AND(
  NOT({!$Permission.Bypass_Work_Order_Flows}),
  ISBLANK({!$Record.ParentWorkOrderId}),
  {!$Record.Account.RecordType.DeveloperName} = {!$Label.BusinessAccountRecordTypeName},
  {!$Record.Account.Owner.IsActive},
  NOT(ISBLANK({!$Record.Account_Owner_Email_Id__c}))
)</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>LEM-19035: It is used to send emails to all Account Team Members on Readiness Check Failure.</description>
        <name>Internal_MxS_Communication_to_Account_Team_Members</name>
        <label>Internal MxS Communication to Account Team Members</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <flowName>Subflow_Internal_MxS_Communications_By_Account_Team_Members</flowName>
        <inputAssignments>
            <name>emailTemplateName</name>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Notification_Template_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orgWideAddressDisplayName</name>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Org_Wide_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectType</name>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Object_Name_WorkOrder_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>LEM-5727: It is used to send emails to &quot;Drive Specialists&quot; on Readiness Check Failure.</description>
        <name>Internal_MxS_Communications_To_Drive_Specialists</name>
        <label>Internal MxS Communications To Drive Specialists</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <flowName>Subflow_Internal_MxS_Communications_By_Account_Team_Members</flowName>
        <inputAssignments>
            <name>accountTeamMemberRole</name>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Account_Team_Roles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>emailTemplateName</name>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Notification_Template_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orgWideAddressDisplayName</name>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Org_Wide_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectType</name>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Object_Name_WorkOrder_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>