sfdx-source/force-app/main/default/flows/MainFlow_Equipment_Request_Guided_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>LEM-13511 : Select Request Type Assignment</description>
        <name>Assign_Request_Type</name>
        <label>Assign Request Type</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SelectedRequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HomeScreenProgressIndicator.requestType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsRequestTypeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayRequestTypeError.displayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Merchant_Record_To_Check_Duplicate_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511 : Set Selected Request Type Flag value</description>
        <name>Set_SelectedRequestType_Flag</name>
        <label>Set SelectedRequestType Flag</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IsRequestTypeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayRequestTypeErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestTypeError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayRequestTypeError.displayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Request_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEM-13511: Decision on Duplicate Records</description>
        <name>Decision_On_Duplicate_Record</name>
        <label>Decision On Duplicate Record</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Merchant_Order_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Record</defaultConnectorLabel>
        <rules>
            <name>Found_Duplicate_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Merchant_Record_To_Check_Duplicate_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Type_Validation</targetReference>
            </connector>
            <label>Duplicate Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13511 : Validate Selected Request Type</description>
        <name>Request_Type_Selected</name>
        <label>Request Type Selected</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Request_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Type_Select</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRequestType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SelectedRequestType_Flag</targetReference>
            </connector>
            <label>Request Type Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13511: Validate Request Type</description>
        <name>Request_Type_Validation</name>
        <label>Request Type</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Marketing_Kit_Duplicate_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Marketing Kit</defaultConnectorLabel>
        <rules>
            <name>Not_Marketing_Kit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Record</targetReference>
            </connector>
            <label>Not Marketing Kit</label>
        </rules>
    </decisions>
    <description>LEM-13511 : Guided Flow for Equipment Request. This is a main screen to start with Guided Flow.</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-13511m: Get Progress Indicator Current Step</description>
        <name>ProgressIndicatorCurrentStep</name>
        <dataType>String</dataType>
        <expression>if(
	{!SelectedRequestType}=&apos;Net-New&apos;,
		&apos;Net-New Tablet and/or Printer&apos;,
			if(
				{!SelectedRequestType}=&apos;Replacement&apos;,
					&apos;Replacement Tablet, Printer, and/or Accessories&apos;,
						if(
							{!SelectedRequestType}=&apos;Return&apos;,
								&apos;Return Label Only&apos;,
							if(
							{!SelectedRequestType}=&apos;Marketing Kit&apos;,
								&apos;Marketing Kit&apos;,
							null
)
)))</expression>
    </formulas>
    <formulas>
        <description>LEM-13511 : Error For Blank Request Type</description>
        <name>RequestTypeError</name>
        <dataType>String</dataType>
        <expression>{!$Label.SMB_Guided_Flow_Request_Type}+&apos;,~&apos;</expression>
    </formulas>
    <formulas>
        <name>ShowMessage</name>
        <dataType>Boolean</dataType>
        <expression>{!IsRequestTypeSelected} &amp;&amp; !ISNULL({!DisplayRequestTypeErrorMessage})</expression>
    </formulas>
    <interviewLabel>MainFlow- Equipment Request Guided Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MainFlow- Equipment Request Guided Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>LEM-13511: get Merchant Order Records To Check Duplicate Records</description>
        <name>Get_Merchant_Record_To_Check_Duplicate_Records</name>
        <label>Get Merchant Record To Check Duplicate Records</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_On_Duplicate_Record</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5 AND 6 AND 7))</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Duplicate_Tablet_Order_Post_Sales__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedRequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Plan_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Dead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Plan_Status__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Work_Plan_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MX_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13511 : Get Store Account Details</description>
        <name>Get_Store_Account_Details</name>
        <label>Get Store Account Details</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>LEM-13511 : Display Duplicate Record For Selected Store Account Record</description>
        <name>Duplicate_Record</name>
        <label>Duplicate Record</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Merchant_Order_Screen</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicatorOnDuplicateCheck</name>
            <extensionName>c:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Duplicate Check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressIndicatorMap</name>
                <value>
                    <elementReference>ProgressIndicatorMap</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <elementReference>SelectedRequestType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviewMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt;{!$Label.SMB_Guided_Flow_Review_Duplicates}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DuplicateRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MX_Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Duplicate Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Merchant_Record_To_Check_Duplicate_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Work_Plan_Name__c&quot;,&quot;guid&quot;:&quot;column-fde9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Plan Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Plan Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Work_Plan_Status__c&quot;,&quot;guid&quot;:&quot;column-4980&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Plan Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Work Plan Status&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Work_Order_Sub_Type__c&quot;,&quot;guid&quot;:&quot;column-81ef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Order Sub-Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Work Order Sub Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Product_Bundle_Name__c&quot;,&quot;guid&quot;:&quot;column-4148&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product Bundle&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Product Bundle Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-d51a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-14124: Marketing Kit Duplicate Error Message</description>
        <name>Marketing_Kit_Duplicate_Error_Message</name>
        <label>Marketing Kit Duplicate Error Message</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowDuplicateErrorMessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>{!$Label.SMB_Guided_Flow_Duplicates_Exist}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13511 : Display Duplicate Record For Selected Store Account Record</description>
        <name>Marketing_Kit_Duplicate_Record</name>
        <label>Marketing Kit Duplicate Record</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Marketing_Kit_Duplicate_Error_Message</targetReference>
        </connector>
        <fields>
            <name>ProgressIndicatorOfDuplicateCheck</name>
            <extensionName>c:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Duplicate Check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressIndicatorMap</name>
                <value>
                    <elementReference>ProgressIndicatorMap</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <elementReference>SelectedRequestType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PreviewMessage2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;{!$Label.SMB_Guided_Flow_Review_Duplicates}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DuplicateRecords2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MX_Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Duplicate Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Merchant_Record_To_Check_Duplicate_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Work_Plan_Name__c&quot;,&quot;guid&quot;:&quot;column-afce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Plan Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Plan Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Work_Plan_Status__c&quot;,&quot;guid&quot;:&quot;column-4980&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Plan Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Work Plan Status&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Product_Bundle_Name__c&quot;,&quot;guid&quot;:&quot;column-4148&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product Bundle&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product Bundle Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-d51a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13511 : Select Request Type</description>
        <name>Request_Type</name>
        <label>Request Type</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Request_Type_Selected</targetReference>
        </connector>
        <fields>
            <name>DisplayRequestTypeError</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>DisplayRequestTypeErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <elementReference>DisplayRequestTypeError.displayMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisplayRequestTypeError.displayMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HomeScreenProgressIndicator</name>
            <extensionName>c:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Select Request Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressIndicatorMap</name>
                <value>
                    <elementReference>ProgressIndicatorMap</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <elementReference>SelectedRequestType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayNote</name>
            <fieldText>&lt;p&gt;{!$Label.Guided_Flow_Display_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequestType</name>
            <extensionName>c:guidedFlowPickList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>RequestTypeOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pickListLabel</name>
                <value>
                    <stringValue>Request Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pickListValue</name>
                <value>
                    <elementReference>SelectedRequestType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedRequestType</assignToReference>
                <name>outPutValue</name>
            </outputParameters>
            <validationRule>
                <errorMessage>&lt;p&gt;Invalid Request type for now. Will be accomodated in the future&lt;/p&gt;</errorMessage>
                <formulaExpression>{!SelectedRequestType} = &apos;Marketing Kit&apos;</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Store_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>LEM-13511: Calling merchant order Sub Screen Flow</description>
        <name>Merchant_Order_Screen</name>
        <label>Merchant Order Screen</label>
        <locationX>644</locationX>
        <locationY>1382</locationY>
        <flowName>SubFlow_Guided_Equipment_Request_Order_Screen</flowName>
        <inputAssignments>
            <name>ProgressIndicatorMap</name>
            <value>
                <elementReference>ProgressIndicatorMap</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgressIndicatorStep</name>
            <value>
                <elementReference>ProgressIndicatorCurrentStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequestType</name>
            <value>
                <elementReference>SelectedRequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StoreAccount</name>
            <value>
                <elementReference>Get_Store_Account_Details</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>DisplayRequestTypeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Set flag value True or False</description>
        <name>IsRequestTypeSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-13511 : Map for Progress Indicator. It contains mapping between Request Type and Steps
[
   {
      &quot;RequestType&quot;:&quot;Net-New Tablet and/or Printer&quot;,
      &quot;Value&quot;:&quot;Duplicate Check,Net-New Tablet and/or Printer&quot;
   },
   {
      &quot;RequestType&quot;:&quot;Replacement Tablet, Printer, and/or Accessories&quot;,
      &quot;Value&quot;:&quot;Duplicate Check,Replacement Tablet, Printer, and/or Accessories&quot;
   },
   {
      &quot;RequestType&quot;:&quot;Return Label Only&quot;,
      &quot;Value&quot;:&quot;Duplicate Check,Return Label Only&quot;
   }
]</description>
        <name>ProgressIndicatorMap</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.Progress_Indicator_Mappings</elementReference>
        </value>
    </variables>
    <variables>
        <description>LEM-13511: Record Id for the selected Account Details Page</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511 : Select Request Types</description>
        <name>RequestTypeOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.Guided_Flow_Request_Type</elementReference>
        </value>
    </variables>
    <variables>
        <description>LEM-13511 : Stores Selected Request Type</description>
        <name>SelectedRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
