sfdx-source/force-app/main/default/flows/Manage_RESSMO_Link_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Manage_RESSMO_Link_Action</name>
        <label>Manage_RESSMO_Link_Action</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>ManageRESSMOLinkController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MessageScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignmentExceptionBoolean</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>GetContractRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expirationDate</name>
            <value>
                <elementReference>RESSMO_Expiration_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ManageRESSMOLinkController</nameSegment>
        <outputParameters>
            <assignToReference>action_message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>action_success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignmentExceptionBoolean</name>
        <label>AssignmentExceptionBoolean</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>action_success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MessageScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Expire</name>
        <choiceText>Expire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extend</name>
        <choiceText>Extend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extend</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckObjectsWithUniqueIdentifier</name>
        <label>CheckObjectsWithUniqueIdentifier</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Error_Missing_UUID_on_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoUniqueIdentifier</defaultConnectorLabel>
        <rules>
            <name>HasUniqueIdentifier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStoreAccountWithContract.Unique_Identifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContractWithMxLink</targetReference>
            </connector>
            <label>HasUniqueIdentifier</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContractHavingMxLink</name>
        <label>IsContractHavingMxLink</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>ErrorMissingMxLink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContractWithoutMxLink</defaultConnectorLabel>
        <rules>
            <name>ContractWithMxLink</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContractWithMxLink.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SSMOLink</targetReference>
            </connector>
            <label>ContractWithMxLink</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateEligibility</name>
        <dataType>Boolean</dataType>
        <expression>{!RESSMO_Expiration_Date} &gt; {!$Flow.CurrentDate} &amp;&amp; {!RESSMO_Expiration_Date} &gt; DATEVALUE({!GetContractWithMxLink.Expiration_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>Readable_Error</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Flow.FaultMessage}, &quot;An Apex error occurred: System.FlowException: &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RESSMOURL</name>
        <dataType>String</dataType>
        <expression>{!GetContractWithMxLink.One_Time_Mx_Link__c}</expression>
    </formulas>
    <interviewLabel>Manage RESSMO Link Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage RESSMO Link Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContractRecord</name>
        <label>GetContractRecord</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStoreAccountWithContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContractWithMxLink</name>
        <label>GetContractWithMxLink</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContractHavingMxLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RESSMO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mx_Onboarding_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStoreAccountWithContract</name>
        <label>GetStoreAccountWithContract</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckObjectsWithUniqueIdentifier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContractRecord.RESSMO_Store_Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Missing_UUID_on_Object</name>
        <label>Error Missing UUID on Object</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingUUIDOnObject</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(254, 24, 24);&quot;&gt;{!$Label.RESSMO_Illegal_primitive_Exception}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMissingMxLink</name>
        <label>ErrorMissingMxLink</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoMxLinkFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;Contract does not have a relevant Mx Onboarding Link&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MessageScreen</name>
        <label>MessageScreen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExceptionMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!action_message}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Readable_Error}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>action_success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowExpireSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Contract is expired in SSMO&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manage_RESSMO_Link</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Expire</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>action_success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowExtendSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The Contract is extended in SSMO&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manage_RESSMO_Link</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Extend</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>action_success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SSMOLink</name>
        <label>SSMOLink</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Manage_RESSMO_Link_Action</targetReference>
        </connector>
        <fields>
            <name>RESSMOLink</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!RESSMOURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;RESSMO Link&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Manage_RESSMO_Link</name>
            <choiceReferences>Expire</choiceReferences>
            <choiceReferences>Extend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Manage RESSMO Link</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RESSMO_Expiration_Date</name>
            <dataType>Date</dataType>
            <fieldText>RESSMO Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;An Expiration Date is required when Extending the Contract&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a Valid date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DateEligibility}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Extend</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContractRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>action_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>action_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RESSMOURLDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
