sfdx-source/force-app/main/default/flows/Manage_RESSMO_Link_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Manage_RESSMO_Link_Action</name>
        <label>Manage_RESSMO_Link_Action</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <actionName>ManageRESSMOLinkController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Action_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignmentExceptionBoolean</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>expirationDate</name>
            <value>
                <elementReference>GetQuoteRecord.SSMO_Expiration_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>GetQuoteRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ManageRESSMOLinkController</nameSegment>
        <outputParameters>
            <assignToReference>action_message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>action_success</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignExtendSSMOValues</name>
        <label>AssignExtendSSMOValues</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.SSMO_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RESSMO_Expiration_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_RESSMO_Link_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentExceptionBoolean</name>
        <label>AssignmentExceptionBoolean</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>action_success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSSMOValues</name>
        <label>AssignSSMOValues</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.SSMO_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>yesterday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manage_RESSMO_Link_Action</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Expire</name>
        <choiceText>Expire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Expire_Boolean</name>
        <choiceText>Expire</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Extend</name>
        <choiceText>Extend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extend_Boolean</name>
        <choiceText>Extend</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Action_Success</name>
        <label>Check if Action Success</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Success_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateQuote</targetReference>
            </connector>
            <label>Action Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckObjectsWithUniqueIdentifier</name>
        <label>CheckObjectsWithUniqueIdentifier</label>
        <locationX>809</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error_Missing_UUID_on_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoUniqueIdentifier</defaultConnectorLabel>
        <rules>
            <name>HasUniqueIdentifier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetStoreAccountWithQuote.Unique_Identifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunityWithQuote.Unique_Identifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuoteRecord.Unique_Identifier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsRecordHavingRESSMOLink</targetReference>
            </connector>
            <label>HasUniqueIdentifier</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExtendOrExpireSSMO</name>
        <label>ExtendOrExpireSSMO</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>AssignExtendSSMOValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ExtendSSMO</defaultConnectorLabel>
        <rules>
            <name>ExpireSSMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manage_RESSMO_Link</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Expire</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSSMOValues</targetReference>
            </connector>
            <label>ExpireSSMO</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRecordHavingRESSMOLink</name>
        <label>IsRecordHavingRESSMOLink</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_Missing_RESSMO_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No RESSMO Link</defaultConnectorLabel>
        <rules>
            <name>Record_With_RESSMO_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityWithQuote.RESSMO_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SSMOLink</targetReference>
            </connector>
            <label>Record With RESSMO Link</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateEligibility</name>
        <dataType>Boolean</dataType>
        <expression>{!RESSMO_Expiration_Date} &gt; {!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>Readable_Error</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Flow.FaultMessage}, &quot;An Apex error occurred: System.FlowException: &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RESSMOURLDisplay</name>
        <dataType>String</dataType>
        <expression>{!GetOpportunityWithQuote.RESSMO_Link__c}</expression>
    </formulas>
    <formulas>
        <name>yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 1</expression>
    </formulas>
    <interviewLabel>Manage RESSMO Link Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage RESSMO Link Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOpportunityWithQuote</name>
        <label>GetOpportunityWithQuote</label>
        <locationX>809</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStoreAccountWithQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuoteRecord.SBQQ__Opportunity2__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteRecord</name>
        <label>GetQuoteRecord</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunityWithQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStoreAccountWithQuote</name>
        <label>GetStoreAccountWithQuote</label>
        <locationX>809</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckObjectsWithUniqueIdentifier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuoteRecord.RESSMO_Store_Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuote</name>
        <label>UpdateQuote</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>GetQuoteRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Missing_RESSMO_Link</name>
        <label>Error Missing RESSMO Link</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RESSMO_Link_is_not_present</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(228, 13, 13);&quot;&gt;{!$Label.Void_RESSMO_Link_Error_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Missing_UUID_on_Object</name>
        <label>Error Missing UUID on Object</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MissingUUIDOnObject</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(254, 24, 24); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.RESSMO_Illegal_primitive_Exception}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SSMOLink</name>
        <label>SSMOLink</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExtendOrExpireSSMO</targetReference>
        </connector>
        <fields>
            <name>To_void_the_SSMO_link_click_on_Continue</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!RESSMOURLDisplay}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;RESSMO Link&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Manage_RESSMO_Link</name>
            <choiceReferences>Expire</choiceReferences>
            <choiceReferences>Extend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Manage RESSMO Link</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RESSMO_Expiration_Date</name>
            <dataType>Date</dataType>
            <fieldText>RESSMO Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a Valid Date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!DateEligibility}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Extend</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExceptionMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 14, 14);&quot;&gt;{!action_message}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 14, 14);&quot;&gt;{!Readable_Error}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>action_success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowExpireSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;The Quote is expired in SSMO&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>action_success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Manage_RESSMO_Link</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Expire</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowExtendSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Quote is extended in SSMO&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manage_RESSMO_Link</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Extend</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>action_success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQuoteRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>action_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>action_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
