sfdx-source/force-app/main/default/flows/Mx_Onboarding_Link_Send_Bell_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-23683: It is used to get the Opportunity Team Members associated to the Mx Onboarding Link related Opportunity.</description>
        <name>Get_Opportunity_Team_Members</name>
        <label>Get Opportunity Team Members</label>
        <locationX>510</locationX>
        <locationY>323</locationY>
        <actionName>OINotificationsFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_Opportunity_team_members_present</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityIds</name>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OINotificationsFlowController</nameSegment>
        <outputParameters>
            <assignToReference>opportunityTeamMembersList</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>LEM-19035: It sends a bell notification to the business account owner and opportunity owner when the record creation status is set to failure.</description>
        <name>Send_Bell_Notification_to_Business_Account_Owner_and_Opportunity_Owner</name>
        <label>Send Bell Notification to Business Account Owner and Opportunity Owner</label>
        <locationX>114</locationX>
        <locationY>1931</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Label.Log_Bell_Notification_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Label.Onboarding_Inputs_Submission_Error_Bell_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Label.Onboarding_Inputs_Submission_Error_Bell_Notification_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>LEM-23683: It is user to send Onboarding Inputs Submission Email to Mx Onboarding Link Creator , Opportunity Owner and Opportunity Team.</description>
        <name>Send_Onboarding_Inputs_Submission_Email</name>
        <label>Send Onboarding Inputs Submission Email.</label>
        <locationX>378</locationX>
        <locationY>1571</locationY>
        <actionName>InternalMxSCommunicationsService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_Failure_Error_occurred_on_Apex_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_by_Name.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>existingContacts</name>
            <value>
                <elementReference>Get_Contacts_for_Internal_Communications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mxOnboardingLinkInstance</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityTeamMembers</name>
            <value>
                <elementReference>opportunityTeamMembers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideAddressId</name>
            <value>
                <elementReference>Get_Organization_Wide_Address_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordOwnerIds</name>
            <value>
                <elementReference>recordOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <elementReference>$Label.Mx_Onboarding_Link_Object_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userInstances</name>
            <value>
                <elementReference>Get_User_Details</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InternalMxSCommunicationsService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>LEM-19035: It adds Account Owner Id to the recipientIds variable.</description>
        <name>Add_Account_Owner_Id_to_Recipient_Ids</name>
        <label>Add Account Owner Id to Recipient Ids</label>
        <locationX>114</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Business_Account__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Bell_Notification_to_Business_Account_Owner_and_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-19035: It adds Account Team Members Id to the recipientIds variable.</description>
        <name>Add_Account_Team_Members_to_Recipient_Ids</name>
        <label>Add Account Team Members to Recipient Ids</label>
        <locationX>138</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Account_Team.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23683: It adds Opportunity Team Members Id to the recipientIds and opportunityTeamMembers variable.</description>
        <name>Add_Opportunity_Team_Members_to_Recipient_Ids</name>
        <label>Add Opportunity Team Members to Recipient Ids</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>opportunityTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Teams</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Teams.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opportunity_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23683: It is used to get the Created By Id of the Mx Onboarding Link record and Opportunity Owner Id.</description>
        <name>Collect_Mx_Onboarding_Link_Creator_Id_and_Opportunity_Owner_Id</name>
        <label>Collect Mx Onboarding Link Creator Id and Opportunity Owner Id</label>
        <locationX>378</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>recordOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEM-23683: It checks if the Opportunity Team Members are present or not.</description>
        <name>Are_Opportunity_team_members_present</name>
        <label>Are Opportunity team members present?</label>
        <locationX>510</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Record_Creation_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Team_Members_are_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityTeamMembersList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Opportunity_Teams</targetReference>
            </connector>
            <label>Opportunity Team Members are present</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-19035: It checks if the Account Team Members are present or not.</description>
        <name>Check_if_Account_Team_Members_are_present</name>
        <label>Check if Account Team Members are present</label>
        <locationX>114</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Add_Account_Owner_Id_to_Recipient_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Team_Members_are_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Account_Team</targetReference>
            </connector>
            <label>Account Team Members are present</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23432: It is used to check if team member is active.</description>
        <name>Is_Member_Active</name>
        <label>Is Member Active?</label>
        <locationX>270</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Account_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Account_Team.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Account_Team_Members_to_Recipient_Ids</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-19035: It checks if the Record Creation Status has changed.</description>
        <name>Is_Record_Creation_Status_Changed</name>
        <label>Is Record Creation Status Changed?</label>
        <locationX>510</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Creation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Creation_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Members</targetReference>
            </connector>
            <label>Failure</label>
        </rules>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inactive_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inactive_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Id_by_Name</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
    </decisions>
    <description>LEM-19035: It is used to send a bell notification to the business account owner and Account Team when the record creation status is set to failure.
LEM-23683: It is used to send email notification to Mx Onboarding Link record creator, Opportunity Owner and Team when Onboarding input form is submitted.</description>
    <environments>Default</environments>
    <interviewLabel>Mx Onboarding Link: Send Bell Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mx Onboarding Link: Send Bell Notification</label>
    <loops>
        <description>LEM-19035: It is used to collect the User Ids from the queried Account Team Members.</description>
        <name>Loop_through_Account_Team</name>
        <label>Loop through Account Team</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_Account_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Member_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Account_Owner_Id_to_Recipient_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-23683: It is used to collect the User Ids from the queried Opportunity Team Members.</description>
        <name>Loop_through_Opportunity_Teams</name>
        <label>Loop through Opportunity Team</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>opportunityTeamMembersList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Opportunity_Team_Members_to_Recipient_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Record_Creation_Status_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>LEM-23683: It creates Log records when there is an error on Apex Action.</description>
        <name>Log_Failure_Error_occurred_on_Apex_Action</name>
        <label>Log Failure - Error occurred on Apex Action</label>
        <locationX>642</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>Class_Method_Name__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Message__c</field>
            <value>
                <stringValue>Error occurred while sending email through Apex action.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>LEM-19035: It is used to get the Account Team Members associated to the calculated Corporate Account Id</description>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>114</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_Team_Members_are_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-23683: It queries existing Contacts created for internal communications.</description>
        <name>Get_Contacts_for_Internal_Communications</name>
        <label>Get Contacts for Internal Communications</label>
        <locationX>378</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Onboarding_Inputs_Submission_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Team_Member_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Team_Member_Id__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-23683: It is used to get Email Template.</description>
        <name>Get_Email_Template_Id_by_Name</name>
        <label>Get Email Template Id by Name</label>
        <locationX>378</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Organization_Wide_Address_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Onboarding_Inputs_Submission_Notfication_Template_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-23683: It is used to get Organization-Wide Address Id based on the received org wide address display name.</description>
        <name>Get_Organization_Wide_Address_Id</name>
        <label>Get Organization-Wide Address Id</label>
        <locationX>378</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Mx_Onboarding_Link_Creator_Id_and_Opportunity_Owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Org_Wide_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-23683: It collects User details based on the collected User Ids.</description>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>378</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts_for_Internal_Communications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>384</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Team_Members</targetReference>
        </connector>
        <object>Mx_Onboarding_Link__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-23432: It is used to collect the Opportunity Team Members.</description>
        <name>opportunityTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <description>LEM-23683: It is used to store the Opportunity Team Members associated to the Mx Onboarding Link related Opportunity.</description>
        <name>opportunityTeamMembersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <description>LEM-19035: To store the Ids of all recipients.</description>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-23432: It is used to collect all the related record Owner/Creator Ids</description>
        <name>recordOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>