sfdx-source/force-app/main/default/flows/Mx_Onboading_Link_RESSMO_Completed_Rep_Notification_NSE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails_to_User_Controller</name>
        <label>Send Emails to User Controller</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <actionName>RESSMOSubmissionFlowController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideAddress</name>
            <value>
                <elementReference>Org_wide_email.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>email_template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RESSMOSubmissionFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>add_opportunity_owner</name>
        <label>add opportunity owner</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contract__r.SBQQ__Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_userIds_is_greater_than_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>filter_active_team_members</name>
        <label>filter active team members</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opp_team_mem_loop.User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_team_mem_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dec_to_send_email_or_not</name>
        <label>Dec to send email or not</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.One_Time_Mx_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opportunity_team_members</targetReference>
            </connector>
            <label>not null link</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_userIds_is_greater_than_1</name>
        <label>if userIds is greater than 1</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>userIds_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAddresses</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_wide_email</targetReference>
            </connector>
            <label>userIds exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Active_or_Inactive</name>
        <label>Owner Active or Inactive</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>if_userIds_is_greater_than_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.SBQQ__Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_opportunity_owner</targetReference>
            </connector>
            <label>Owner Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Active_or_Inactive</name>
        <label>User Active or Inactive</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Opp_team_mem_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opp_team_mem_loop.User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filter_active_team_members</targetReference>
            </connector>
            <label>user active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mx Onboading Link : RESSMO C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mx Onboading Link : RESSMO Completed - Rep Notification - NSE</label>
    <loops>
        <name>Opp_team_mem_loop</name>
        <label>Opp team mem loop</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>opportunity_team_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>User_Active_or_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Owner_Active_or_Inactive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>email_template</name>
        <label>email template</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Emails_to_User_Controller</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.NSE_Submission_Flow_Completed</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>opportunity_team_members</name>
        <label>opportunity team members</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_team_mem_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__r.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Org_wide_email</name>
        <label>Org wide email</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>email_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Readiness_Check_Failure_Org_Wide_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dec_to_send_email_or_not</targetReference>
        </connector>
        <filterFormula>AND( ISPICKVAL({!$Record.Record_Creation_Status__c}, &apos;WO Creation Success&apos;), ISCHANGED({!$Record.Record_Creation_Status__c}),  ISPICKVAL({!$Record.Source__c}, &apos;RESSMO&apos;))</filterFormula>
        <object>Mx_Onboarding_Link__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
