sfdx-source/force-app/main/default/flows/New_Mx_Tag_Association.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>LEM-14987: It checks whether SObject record is of type Lead or Account.</description>
        <name>Check_for_SObject_Type</name>
        <label>Check for SObject Type</label>
        <locationX>567</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Mx_Tag_Association_On_Lead</targetReference>
            </connector>
            <label>Lead Record</label>
        </rules>
        <rules>
            <name>Account_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Mx_Tag_Association_On_Account</targetReference>
            </connector>
            <label>Account Record</label>
        </rules>
    </decisions>
    <description>LEM-14987, LEM-16913: It is used to create Mx Tag Association from Account (Business &amp; Store) and Lead record page.</description>
    <dynamicChoiceSets>
        <name>StatusValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MxTagAssociation_Status__c</picklistField>
        <picklistObject>Mx_Tag_Association__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>New Mx Tag Association {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Mx Tag Association</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>LEM-14987: It takes data from screen and create new Mx Tag Association.</description>
        <name>Create_Mx_Tag_Association_On_Account</name>
        <label>Create Mx Tag Association On Account</label>
        <locationX>122</locationX>
        <locationY>179</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MxTagAssociation_Status__c</field>
            <value>
                <elementReference>Status_Account_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MxTag__c</field>
            <value>
                <elementReference>MxTagForAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mx_Tag_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>LEM-14987: It takes data from screen and create new Mx Tag Association record.</description>
        <name>Create_Mx_Tag_Association_On_Lead</name>
        <label>Create Mx Tag Association On Lead</label>
        <locationX>1032</locationX>
        <locationY>179</locationY>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MxTagAssociation_Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MxTag__c</field>
            <value>
                <elementReference>MxTagForLead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mx_Tag_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>LEM-14987: This screen is used to take the data from user.</description>
        <name>New_Mx_Tag_Association_On_Account</name>
        <label>New Mx Tag Association On Account</label>
        <locationX>332</locationX>
        <locationY>187</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Mx_Tag_Association_On_Account</targetReference>
        </connector>
        <fields>
            <name>New_Mx_Tag_Association_On_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Mx_Tag_Association_On_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MxTagForAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MxTag__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mx Tag</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Mx_Tag_Association__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>tagId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Mx_Tag_Association__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TODAY</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;{!$Label.Help_text_of_start_date_of_Mx_Tag_Association}&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Mx_Tag_Association_On_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner_Account_screen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Owner</fieldText>
                    <fieldType>InputField</fieldType>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Status_Account_Screen</name>
                    <choiceReferences>StatusValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Active</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;{!$Label.Help_text_of_status_of_Mx_Tag_Association}&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;{!$Label.Help_text_of_end_date_of_Mx_Tag_Association}&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LEM-14987: This screen is used to enter necessary Mx Tag Association deatils.</description>
        <name>New_Mx_Tag_Association_On_Lead</name>
        <label>New Mx Tag Association On Lead</label>
        <locationX>845</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Mx_Tag_Association_On_Lead</targetReference>
        </connector>
        <fields>
            <name>New_Mx_Tag_Association_On_Lead_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Mx_Tag_Association_On_Lead_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MxTagForLead</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MxTag__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mx Tag</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Mx_Tag_Association__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>tagId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Lead</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Lead__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Mx_Tag_Association__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MxTag_Association_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TODAY</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Mx_Tag_Association_On_Lead_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Full_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Owner</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>StatusValues</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Active</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;{!$Label.Help_text_of_status_of_Mx_Tag_Association}&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>MxTag_Association_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>450</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_for_SObject_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tagId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
