sfdx-source/force-app/main/default/flows/Notify_the_Requester_on_the_new_Case_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_the_Requester_on_New_Case_Comment</name>
        <label>Notify the Requester on New Case Comment</label>
        <locationX>712</locationX>
        <locationY>724</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@doordash.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>CaseRequesterIsBlank</name>
        <label>CaseRequesterIsBlank</label>
        <locationX>706</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>Notify_the_Requester_on_New_Case_Comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RequesterIsNotBlank</defaultConnectorLabel>
        <rules>
            <name>RequesterIsBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentCaseRecord.Requester__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Case</targetReference>
            </connector>
            <label>RequesterIsBlank</label>
        </rules>
    </decisions>
    <description>LEM-6640, LEM-8970 Sends out Email to Requester on inserting a new Case Comment</description>
    <environments>Default</environments>
    <formulas>
        <name>caseRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;,
    {!$Api.Enterprise_Server_URL_510})) &amp;
    {!parentCaseRecord.Id}</expression>
    </formulas>
    <formulas>
        <description>LEM-8970</description>
        <name>RecipientEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!parentCaseRecord.Requester__c}),{!parentCaseRecord.CreatedBy.Email},{!parentCaseRecord.Requester__r.Email})</expression>
    </formulas>
    <interviewLabel>Notify the Requester on the new Case Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify the Requester on the new Case Comment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetParentCaseRecord</name>
        <label>GetParentCaseRecord</label>
        <locationX>713</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseRequesterIsBlank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>parentCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Requester__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>712</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Notify_the_Requester_on_New_Case_Comment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Requester__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>parentCaseRecord.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <start>
        <locationX>586</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetParentCaseRecord</targetReference>
        </connector>
        <filterFormula>AND(
            NOT({!$Permission.Bypass_Case_Comment_Flows}),
            NOT(ISBLANK({!$Record.ParentId}))
        )</filterFormula>
        <object>CaseComment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is a notification that there is a new comment on the case. Here are the details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Name: {!parentCaseRecord.Account.Name}&lt;/p&gt;&lt;p&gt;Link to Case: &lt;a href=&quot;{!caseRecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!parentCaseRecord.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Case Owner: {!parentCaseRecord.Owner:User.FirstName} {!parentCaseRecord.Owner:User.LastName} {!parentCaseRecord.Owner:Group.Name}&lt;/p&gt;&lt;p&gt;Case Status: {!parentCaseRecord.Status}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Comment details are below:&lt;/p&gt;&lt;p&gt;{!$Record.CommentBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;—The DoorDash Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have a new comment on Case Number {!parentCaseRecord.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>CaseCommentBodyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
