sfdx-source/force-app/main/default/flows/OCR_Creation_On_Opportunity_Created_By_Nintex_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>LEM-2387: It checks whether Contact exists with matching Drive/Marketplace Nintex Id of Opportunity.</description>
        <name>Does_Contact_Exists_With_Matching_Nintex_Id</name>
        <label>Does Contact Exists With Matching Nintex Id?</label>
        <locationX>712</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>createOCR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revert_Flag</targetReference>
            </connector>
            <label>Is Contact Not Found?</label>
        </rules>
    </decisions>
    <description>LEM-2387: This Flow will be used to create OCR record for an opportunity created by Nintex user.</description>
    <environments>Default</environments>
    <interviewLabel>OCR Creation On Opportunity Created By Nintex User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OCR Creation On Opportunity Created By Nintex User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createOCR</name>
        <label>createOCR</label>
        <locationX>844</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Revert_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Contract Signatory</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>712</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exists_With_Matching_Nintex_Id</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 5) AND 4</filterLogic>
        <filters>
            <field>OCR_Flag_From_Nintex__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Nintex_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Marketplace_Nintex_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Nintex_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Drive_Nintex_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Nintex_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OCR_Email_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Revert_Flag</name>
        <label>Revert Flag</label>
        <locationX>746</locationX>
        <locationY>739</locationY>
        <inputAssignments>
            <field>Is_Updated_from_Nintex__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>586</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR (2 AND 6) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Marketplace_Nintex_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Drive_Nintex_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Updated_from_Nintex__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Nintex_Use_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drive - Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Drive_Nintex_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Nintex_Use_Case__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Drive - Amendment</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
