sfdx-source/force-app/main/default/flows/Opt_Out_of_Communications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>LEM-17656: It is used to check if the record is Lead or Contact.</description>
        <name>Check_if_Lead_or_Contact</name>
        <label>Check if Lead or Contact?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_current_Contact_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_current_Lead_record</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>LEM-17656: Flow for Opt out of Communications setting.</description>
    <environments>Default</environments>
    <interviewLabel>Opt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opt Out of Communications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>LEM-17656: It is used to get the current Contact record.</description>
        <name>Get_current_Contact_record</name>
        <label>Get current Contact record</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opt_out_of_Communications_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-17656: It is used to get the current Lead record.</description>
        <name>Get_current_Lead_record</name>
        <label>Get current Lead record</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opt_out_of_Communications_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>LEM-17656: It updates the Contact Record.</description>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DoNotCall</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_Out_of_Marketing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opted_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Email_Opt_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>LEM-17656: It is used to update the Email Opt out field on Lead.</description>
        <name>Update_Email_Opt_Out_on_Lead</name>
        <label>Update Email Opt Out on Lead</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>LEM-17656: It updates the Lead Record.</description>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Email_Opt_Out_on_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DoNotCall</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_Out_of_Marketing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opted_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>LEM-17656: Screen to display the Opt out of Communications message.</description>
        <name>Opt_out_of_Communications_Contact</name>
        <label>Opt out of Communications Contact</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessageContact</name>
            <fieldText>&lt;p&gt;Selection of Opt Out of Communications will indicate that this Merchant does not want to receive any emails, calls, SMS, or Marketing from DoorDash. To proceed, please select ‘Agree’.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Agree</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>LEM-17656: Screen to display the Opt out of Communications message.</description>
        <name>Opt_out_of_Communications_Lead</name>
        <label>Opt out of Communications Lead</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Lead_Record</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessageLead</name>
            <fieldText>&lt;p&gt;Selection of Opt Out of Communications will indicate that this Merchant does not want to receive any emails, calls, SMS, or Marketing from DoorDash. To proceed, please select ‘Agree’.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Agree</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Lead_or_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-17656: It stores the record Id of the triggering record.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
