sfdx-source/force-app/main/default/flows/PhotoShoot_Request_Guided_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Extract Offset value with current date &amp; time.</description>
        <name>Get_offSet_Value</name>
        <label>Get offSet Value</label>
        <locationX>957</locationX>
        <locationY>134</locationY>
        <actionName>TimeZoneConversion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Duplicate_Work_Order_Records_For_Business_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>TimeZoneConversion</nameSegment>
        <outputParameters>
            <assignToReference>offSetVal</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>LEM-15832: Error Message for Change Country code</description>
        <name>Add_Error_Message_on_Country_Code_Change</name>
        <label>Add Error Message on Country Code Change</label>
        <locationX>380</locationX>
        <locationY>6410</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Guided_Flow_Country_Code_Change_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PhotoShoot_Date_Time_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddStoreAccountIds</name>
        <label>AddStoreAccountIds</label>
        <locationX>1045</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>StoreAccountIdsAll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Store_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Store_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 : Assign Account Record To Variable</description>
        <name>Assign_Account_Record_To_StoreAccount_Variable</name>
        <label>Assign Account Record To StoreAccount Variable</label>
        <locationX>149</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>storeAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedStoreAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 : Assign Photoshoot Contact Id</description>
        <name>Assign_Contact_Record_To_StoreAccount_Variable</name>
        <label>Assign Contact Record To StoreAccount Variable</label>
        <locationX>237</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>photoshootContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_contact.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 : Assign Decision Maker Contact Id</description>
        <name>Assign_Decision_Maker_Contact_Id</name>
        <label>Assign Decision Maker Contact Id</label>
        <locationX>501</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>DecisionMakerContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_contact.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504: Assign Default Contact Id</description>
        <name>Assign_Default_Contact</name>
        <label>Assign Default Contact</label>
        <locationX>149</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>ContactRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultContactRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Account_or_Contact_Record_Selections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504: Assigns default values to fields.</description>
        <name>Assign_Default_Values</name>
        <label>Assign Default Values</label>
        <locationX>512</locationX>
        <locationY>5870</locationY>
        <assignmentItems>
            <assignToReference>DefaultMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContactRecord.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContactRecord.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultMenuPreviewLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkStep_Menu_Preview_Link.Menu_Preview_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultMenuURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Record.Menu_URL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PhotoShoot_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Assign Error Messages</description>
        <name>Assign_Error_For_Account_And_Contact_Selection</name>
        <label>Assign Error For Account And Contact Selection</label>
        <locationX>50</locationX>
        <locationY>4730</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please fill out all required fields before continuing.,~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Account_And_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Assign Error Messages</description>
        <name>Assign_Error_Message_to_List_Variable</name>
        <label>Assign Error Message to List Variable</label>
        <locationX>314</locationX>
        <locationY>7310</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please fill out all required fields before continuing.,~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_PhotoShoot_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504: It assigns Menu Preview Link as Menu source for Work Order.</description>
        <name>Assign_Menu_Preview_Link</name>
        <label>Assign Menu Preview Link</label>
        <locationX>578</locationX>
        <locationY>7418</locationY>
        <assignmentItems>
            <assignToReference>MenuSourceOnMxOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Menu_Preview_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504: It assigns Menu URL as Menu Source on Work Order</description>
        <name>Assign_Menu_URL</name>
        <label>Assign Menu URL</label>
        <locationX>842</locationX>
        <locationY>7418</locationY>
        <assignmentItems>
            <assignToReference>MenuSourceOnMxOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Menu_URL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Assign Error Messages</description>
        <name>Assign_Mobile_or_Phone_error</name>
        <label>Assign Mobile or Phone error</label>
        <locationX>380</locationX>
        <locationY>7010</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please enter either contact phone or mobile number.Or please re-enter the phone number without any special characters.,~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504: Assign Selected Contact Id</description>
        <name>Assign_Selected_Contact</name>
        <label>Assign Selected Contact</label>
        <locationX>413</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>ContactRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContactRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Account_or_Contact_Record_Selections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Store_Count</name>
        <label>Assign Store Count</label>
        <locationX>369</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>validStoreCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Store_Accounts_for_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>369</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>StoreAccountRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Store_Accounts_for_Lookup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Store_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504: It is used to assign the default Store Id.</description>
        <name>AssignDefaultStoreAccountId</name>
        <label>Assign Default Store Account Id</label>
        <locationX>380</locationX>
        <locationY>4946</locationY>
        <assignmentItems>
            <assignToReference>SelectedStoreAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 : Set display account lookup field value with False</description>
        <name>Copy_2_of_Display_Account_Lookup_With_True</name>
        <label>Display Account Lookup With True</label>
        <locationX>413</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>displayAccountLookup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedStoreAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Account_And_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 : Set display account lookup field value with False</description>
        <name>Display_Account_Lookup_With_False</name>
        <label>Display Account Lookup With False</label>
        <locationX>149</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>displayAccountLookup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Store_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 : Display Warning Message For Duplicate Record</description>
        <name>Duplicate_Warning_Message</name>
        <label>Duplicate Warning Message</label>
        <locationX>759</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>DisplayRequestTypeErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please review previous related duplicate requests.,~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Work_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_StoreAccount_Ids</name>
        <label>Get StoreAccount Ids</label>
        <locationX>369</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>StoreAccountIdsWithXref</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Xref.Salesforce_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Xref</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-15821 : Error Message on PhotoShoot Date And Time</description>
        <name>PhotoShoot_Date_Time_Error_Message</name>
        <label>PhotoShoot Date Time  Error Message</label>
        <locationX>688</locationX>
        <locationY>6710</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Guided_Flow_49_Hours_PhotoShoot_Validation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_and_Contact_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504: Re-Assigns default values to fields.</description>
        <name>Re_Assigns_Default_Values</name>
        <label>Re-Assigns Default Values</label>
        <locationX>512</locationX>
        <locationY>6086</locationY>
        <assignmentItems>
            <assignToReference>DefaultPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Con_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MoCon_Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultMenuPreviewLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Menu_Preview_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultMenuURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Menu_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesAndTags</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Notes_Tags</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRecord.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRecord.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.countryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRecord.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRecord.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.provinceCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Assign_Error_Message_to_List_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Rest Error Messages</description>
        <name>Reset_Assign_Error_Message_to_List_Variable</name>
        <label>Reset Error Message to List Variable</label>
        <locationX>512</locationX>
        <locationY>6194</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>errorMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Country_Code_Change_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Assign Error Messages</description>
        <name>Reset_Error_For_Account_And_Contact_Selection</name>
        <label>Reset Error For Account And Contact Selection</label>
        <locationX>512</locationX>
        <locationY>4730</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>errorMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Store_Account_Id_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 : Show Contact Record Lookup for contact under business account</description>
        <name>Show_Contact_Business_Lookup</name>
        <label>Show Contact Business Lookup</label>
        <locationX>627</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ShowBusinessContactLookup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Permission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - This flag will be true for lookup under Store a/c (Decision Maker)</description>
        <name>Show_Contact_Lookup_For_Contact_Under_Store</name>
        <label>Show Contact Lookup For Contact Under Store Decision Maker</label>
        <locationX>891</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ShowBusinessContactLookup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Permission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Store Business Contact Recod</description>
        <name>Store_Contact_Record_With_Business_Contact</name>
        <label>Store Contact Record With Business Contact</label>
        <locationX>512</locationX>
        <locationY>5654</locationY>
        <assignmentItems>
            <assignToReference>SelectedContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Record.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WorkStep_Menu_Preview_Link</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Highvaluemarketmxrequestingadditionalphotos</name>
        <choiceText>High value market mx requesting additional photos&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High value market mx requesting additional photos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Issueswiththeoriginalphotoshootdelivered</name>
        <choiceText>Issues with the original photoshoot delivered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Issues with the original photoshoot delivered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacingolderphotosduetonewmenu</name>
        <choiceText>Replacing older photos due to new menu&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacing older photos due to new menu</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Stores_with_Xref</name>
        <label>Check Stores with Xref</label>
        <locationX>501</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Store_Accounts_for_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Store_with_Xref</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreAccountIdsWithXref</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_on_Store_Accounts_for_Lookup.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Collection</targetReference>
            </connector>
            <label>Store with Xref</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 : Check whether user has service permission or not</description>
        <name>Check_User_Permission</name>
        <label>Check User Permission</label>
        <locationX>759</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Get_Store_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User has service permission</defaultConnectorLabel>
        <rules>
            <name>User_Do_Not_have_Service_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Allow_Duplicate_Photoshoot_Request_Creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowDuplicateErrorMessage</targetReference>
            </connector>
            <label>User Do Not have Service Permission</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 : Check contact record on Business Account</description>
        <name>Contact_Record_On_Business_Account</name>
        <label>Contact Record On Business Account</label>
        <locationX>759</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Show_Contact_Lookup_For_Contact_Under_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Does Not Exists On Business Account</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist_On_Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_On_Business_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Contact_Business_Lookup</targetReference>
            </connector>
            <label>Contact Exist On Business Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 : Store Contact Record In Variable</description>
        <name>Decision_On_Get_Contact_Record</name>
        <label>Decision On Get Contact Record</label>
        <locationX>512</locationX>
        <locationY>5246</locationY>
        <defaultConnector>
            <targetReference>Account_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision Make Record</defaultConnectorLabel>
        <rules>
            <name>Business_Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Contact_Record</targetReference>
            </connector>
            <label>Business Contact Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15832: Display Error Message on Country Code Change</description>
        <name>Display_Country_Code_Change_Error</name>
        <label>Display Country Code Change Error</label>
        <locationX>512</locationX>
        <locationY>6302</locationY>
        <defaultConnector>
            <targetReference>PhotoShoot_Date_Time_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Country_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SelectedAccountRecord.BillingCountryCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Error_Message_on_Country_Code_Change</targetReference>
            </connector>
            <label>Change Country Code</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 - Check Required Field Validation</description>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>512</locationX>
        <locationY>7202</locationY>
        <defaultConnector>
            <targetReference>Menu_Source_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Validation_Rule_Message</name>
            <conditionLogic>(1 AND (2 OR 3)) OR (4 AND 5) OR (6 AND 7) OR (4 AND 6) OR (5 AND 7) OR 8 OR (9 OR 10) OR (11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_Additional_Photoshoot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_if_Other</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_if_Other</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Menu_Preview_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_URL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_URL</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_Preview_Link</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>displayValidationError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Store_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Store_Account</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Information</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Information</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message_to_List_Variable</targetReference>
            </connector>
            <label>Required Validation Rule Message</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-24179: It checks whether Store Accounts exists on the current Business Account or not.</description>
        <name>Does_Store_Accounts_Exists</name>
        <label>Does Store Accounts Exists?</label>
        <locationX>957</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Show_No_Store_Accounts_Exists_ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Store_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreAccountIdsAll</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Xref</targetReference>
            </connector>
            <label>Store Account Exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_DM_or_Photoshoot_contact</name>
        <label>Is Contact DM or Photoshoot contact</label>
        <locationX>501</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Photoshoot_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_contact.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Photoshoot Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Record_To_StoreAccount_Variable</targetReference>
            </connector>
            <label>Photoshoot Contact</label>
        </rules>
        <rules>
            <name>Decision_Maker_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_contact.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Decision Maker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Decision_Maker_Contact_Id</targetReference>
            </connector>
            <label>Decision Maker Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504: Checks if the Default contact is changed or not</description>
        <name>Is_Default_Contact_or_Changed</name>
        <label>Is Default Contact or Changed</label>
        <locationX>281</locationX>
        <locationY>4322</locationY>
        <defaultConnector>
            <targetReference>Assign_Selected_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedContactRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Contact</targetReference>
            </connector>
            <label>Default</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504: It checks if the Store Account Id is null.</description>
        <name>Is_Store_Account_Id_Null</name>
        <label>Is Store Account Id Null</label>
        <locationX>512</locationX>
        <locationY>4838</locationY>
        <defaultConnector>
            <targetReference>Store_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedStoreAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDefaultStoreAccountId</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504: It verifies whether Menu Preview Link or Menu URL is input by user.</description>
        <name>Menu_Source_Validation</name>
        <label>Menu Source Validation</label>
        <locationX>710</locationX>
        <locationY>7310</locationY>
        <defaultConnector>
            <targetReference>Assign_Menu_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Menu URL Exists</defaultConnectorLabel>
        <rules>
            <name>Menu_Preview_Link_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Menu_Preview_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_Preview_Link</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Menu_Preview_Link</targetReference>
            </connector>
            <label>Menu Preview Link Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_and_Contact_Information</name>
        <label>Mobile and Contact Information</label>
        <locationX>512</locationX>
        <locationY>6902</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile_or_phone_blank</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>MoCon_Mobile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MoCon_Mobile</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Con_Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Con_Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile_or_Phone_error</targetReference>
            </connector>
            <label>Mobile or phone blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15821 : PhotoShoot Date &amp; Time Validation</description>
        <name>PhotoShoot_Date_Time_Validation</name>
        <label>PhotoShoot Date Time Validation</label>
        <locationX>512</locationX>
        <locationY>6602</locationY>
        <defaultConnector>
            <targetReference>PhotoShoot_Date_Time_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_or_Equal_to_49_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateDatAndTimeWIthGMT</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetDateWithAdditionOf49Hours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_and_Contact_Information</targetReference>
            </connector>
            <label>Greater or Equal to 49 Hours</label>
        </rules>
        <rules>
            <name>No_Date_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPhotoShootDateTimeBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_and_Contact_Information</targetReference>
            </connector>
            <label>No Date Time</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 : Validating number of store account</description>
        <name>Store_Account_More_Than_One</name>
        <label>Store Account More Than One</label>
        <locationX>281</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Display_Account_Lookup_With_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Store_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validStoreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Account_Lookup_With_False</targetReference>
            </connector>
            <label>One Store Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 : Decision on whether Account and Contact are selected or not.</description>
        <name>Validate_Account_or_Contact_Record_Selections</name>
        <label>Validate Account or Contact Record Selection</label>
        <locationX>281</locationX>
        <locationY>4622</locationY>
        <defaultConnector>
            <targetReference>Reset_Error_For_Account_And_Contact_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Add_Error_Message</name>
            <conditionLogic>((1 OR 2) AND 5) OR (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>SelectedStoreAccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedStoreAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>displayAccountLookup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_For_Account_And_Contact_Selection</targetReference>
            </connector>
            <label>Add Error Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Duplicate_Photoshoot_Work_Order_Exists</name>
        <label>Verify Duplicate Photoshoot Work Order Exists</label>
        <locationX>957</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Duplicate_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicates Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Photoshoot_Work_Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Work_Order_Records_For_Business_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Warning_Message</targetReference>
            </connector>
            <label>Duplicate Photoshoot Work Order Exists</label>
        </rules>
    </decisions>
    <description>LEM-13504 : When a Mx requests a Photoshoot after onboarding (i.e. they didnt originally want a Photoshoot, or they have a new menu so now they need new photos), then there should be a way to request the photoshoot from the business account.</description>
    <dynamicChoiceSets>
        <name>StoresForLookup</name>
        <collectionReference>StoreAccountRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>defaultContactId</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!photoshootContactId}),
    IF(
        ISBLANK({!DecisionMakerContactId}),
        &apos;&apos;,
        {!DecisionMakerContactId}
    ),
    {!photoshootContactId}
)</expression>
    </formulas>
    <formulas>
        <description>LEM-13504- Display Other Reason PlaceHolder</description>
        <name>DisplayOtherReasonBox</name>
        <dataType>Boolean</dataType>
        <expression>If({!Reason_for_Additional_Photoshoot}=&apos;Other&apos;,false,true)</expression>
    </formulas>
    <formulas>
        <description>LEM-13504 -Get Current Date After 2 Days</description>
        <name>GateDateTimeAfterTwoDaye</name>
        <dataType>DateTime</dataType>
        <expression>if(
WEEKDAY($Flow.CurrentDate)==1 || WEEKDAY($Flow.CurrentDate)==2  || WEEKDAY($Flow.CurrentDate)==3  || WEEKDAY($Flow.CurrentDate)==4  || WEEKDAY($Flow.CurrentDate)==5,
$Flow.CurrentDateTime+2,$Flow.CurrentDateTime+3)</expression>
    </formulas>
    <formulas>
        <description>LEM-15821 : Get future date &amp; time with addition of 49 hours</description>
        <name>GetDateWithAdditionOf49Hours</name>
        <dataType>DateTime</dataType>
        <expression>If(WeekDay(DateValue({!$Flow.CurrentDateTime}))=6 || WeekDay(DateValue({!$Flow.CurrentDateTime}))=7,
{!$Flow.CurrentDateTime}+73/24,{!$Flow.CurrentDateTime}+49/24)</expression>
    </formulas>
    <formulas>
        <description>LEM-15821: Validating PhotoShootDate Time field value</description>
        <name>IsPhotoShootDateTimeBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!PhotoShoot_Date_Time})</expression>
    </formulas>
    <formulas>
        <name>MobilePhoneValidation</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL({!MoCon_Mobile}) || ISBLANK({!MoCon_Mobile}) || (LEN({!MoCon_Mobile})&gt;=10 &amp;&amp; LEN({!MoCon_Mobile})&lt;=15  &amp;&amp; NOT(REGEX({!MoCon_Mobile} ,&quot;^[a-z A-Z]*$&quot;)))</expression>
    </formulas>
    <formulas>
        <description>LEM-24179: It holds the error message to be displayed when no Store Accounts exists on the current Business Account.</description>
        <name>NoStoreAccountsErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.Photoshoot_Request_NoStoreAccountsErrorMessage}</expression>
    </formulas>
    <formulas>
        <name>PhoneValidation</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Con_Phone}) || ISNULL({!Con_Phone}) || (LEN({!Con_Phone})&gt;=10 &amp;&amp; LEN({!Con_Phone})&lt;=15  &amp;&amp; NOT(REGEX({!Con_Phone} ,&quot;^[a-z A-Z]*$@#%&amp;!~&gt;&lt;?;:,&quot;)))</expression>
    </formulas>
    <formulas>
        <description>Adding 1 Hour in the selected photoshoot date &amp; time.</description>
        <name>PhotoShootDateAndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!PhotoShoot_Date_Time}+1/24</expression>
    </formulas>
    <formulas>
        <description>LEM-15821: Convert Date into GMT</description>
        <name>UpdateDatAndTimeWIthGMT</name>
        <dataType>DateTime</dataType>
        <expression>DateTimeValue({!PhotoShoot_Date_Time})</expression>
    </formulas>
    <formulas>
        <description>LEM-15917: It returns Photoshoot date and time based on GMT time zone</description>
        <name>UpdateDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!PhotoShoot_Date_Time}+{!offSetVal}/24</expression>
    </formulas>
    <interviewLabel>PhotoShoot Request Guided Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PhotoShoot Request Guided Flow</label>
    <loops>
        <description>LEM-13595</description>
        <name>Iterate_over_contact</name>
        <label>Iterate over contact</label>
        <locationX>149</locationX>
        <locationY>3638</locationY>
        <collectionReference>Get_Contact_associated_with_Store</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Contact_DM_or_Photoshoot_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Account_And_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Store_Accounts</name>
        <label>Loop on Store Accounts</label>
        <locationX>957</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_Store_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddStoreAccountIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Store_Accounts_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Store_Accounts_for_Lookup</name>
        <label>Loop on Store Accounts for lookup</label>
        <locationX>281</locationX>
        <locationY>2498</locationY>
        <collectionReference>Get_Store_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Stores_with_Xref</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_Account_More_Than_One</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Xref</name>
        <label>Loop on Xref</label>
        <locationX>281</locationX>
        <locationY>2198</locationY>
        <collectionReference>Get_Xref</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_StoreAccount_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Store_Accounts_for_Lookup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>LEM-13504: It creates Photoshoot Parent WorkOrder.</description>
        <name>Create_Work_order_Record</name>
        <label>Create Work order Record</label>
        <locationX>710</locationX>
        <locationY>7610</locationY>
        <assignRecordIdToReference>workOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>WorkOrderCreationFailureMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SelectedContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Source__c</field>
            <value>
                <stringValue>Guided Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Menu_Preview_Link__c</field>
            <value>
                <elementReference>MenuSourceOnMxOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__City__s</field>
            <value>
                <elementReference>SelectedAccountRecord.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__CountryCode__s</field>
            <value>
                <elementReference>SelectedAccountRecord.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__PostalCode__s</field>
            <value>
                <elementReference>SelectedAccountRecord.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__StateCode__s</field>
            <value>
                <elementReference>SelectedAccountRecord.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__Street__s</field>
            <value>
                <elementReference>SelectedAccountRecord.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Date__c</field>
            <value>
                <elementReference>UpdateDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Review_Notes_and_Tags__c</field>
            <value>
                <elementReference>NotesAndTags</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Time__c</field>
            <value>
                <elementReference>UpdateDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisioning_Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Additional_Photoshoot__c</field>
            <value>
                <elementReference>Reason_for_Additional_Photoshoot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_if_Other__c</field>
            <value>
                <elementReference>Reason_if_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Location_for_Photoshoot__c</field>
            <value>
                <elementReference>SelectedStoreAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Photoshoot</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <description>LEM-13504 : Get Contact Record Id From Account Contact Record for Selected ContactId</description>
        <name>Account_Contact_Record</name>
        <label>Account Contact Record</label>
        <locationX>600</locationX>
        <locationY>5354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Selected_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccountContactRecordId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ContactRecordId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>LEM-13504 : Get contact records for selected AccountId</description>
        <name>Contact_On_Business_Account</name>
        <label>Contact On Business Account</label>
        <locationX>759</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Record_On_Business_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_associated_with_Store</name>
        <label>Get Contact associated with Store</label>
        <locationX>149</locationX>
        <locationY>3422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Record_To_StoreAccount_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Store_Account_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13504 : Get Duplicate Work Order Records For Selected Business Account Where Segment = SMB</description>
        <name>Get_Duplicate_Work_Order_Records_For_Business_Account</name>
        <label>Get Duplicate Work Order Records For Business Account</label>
        <locationX>957</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Duplicate_Photoshoot_Work_Order_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Dead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Photoshoot</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 ; Get New Work Order Details</description>
        <name>Get_New_Work_Order_Record</name>
        <label>Get New Work Order Record</label>
        <locationX>710</locationX>
        <locationY>7826</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SuccessToastMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>NewWorkOrderNumber</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>512</locationX>
        <locationY>5546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Contact_Record_With_Business_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13504 : Get Store Account Record</description>
        <name>Get_Store_Account_Record</name>
        <label>Get Store Account Record</label>
        <locationX>149</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_associated_with_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>StoreAccountIdsWithXref</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Store_Accounts</name>
        <label>Get Store Accounts</label>
        <locationX>957</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Store_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkStep_Menu_Preview_Link</name>
        <label>Get WorkStep Menu Preview Link</label>
        <locationX>512</locationX>
        <locationY>5762</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Default_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedStoreAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketplace</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Setup Menu</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Dead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Menu_Preview_Link__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13504: It is used to</description>
        <name>Get_Xref</name>
        <label>Get Xref</label>
        <locationX>281</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Xref</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Account_Name__c</field>
            <operator>In</operator>
            <value>
                <elementReference>StoreAccountIdsAll</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Xref__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13504 : Get Store Account Record for selected account.</description>
        <name>Store_Account_Record</name>
        <label>Store Account Record</label>
        <locationX>512</locationX>
        <locationY>5138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_On_Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedStoreAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>LEM-13504 : Update Contact Record</description>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>710</locationX>
        <locationY>7718</locationY>
        <connector>
            <targetReference>Get_New_Work_Order_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpateContactRecordFailure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedContactRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Con_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MoCon_Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Con_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>LEM-13504 : Create PhotoShoot Record</description>
        <name>Create_PhotoShoot_Record</name>
        <label>Create PhotoShoot Record</label>
        <locationX>512</locationX>
        <locationY>5978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Re_Assigns_Default_Values</targetReference>
        </connector>
        <fields>
            <name>DisplayValidationErrorMessages</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>errorMessages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <elementReference>displayValidationError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>displayValidationError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Store_Details</name>
            <fieldText>Store Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Store_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Store_Account</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Store_Account_Record.Name_With_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Store Location for Photoshoot</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>StoreBillingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>SelectedAccountRecord.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>SelectedAccountRecord.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>SelectedAccountRecord.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>provinceCode</name>
                        <value>
                            <elementReference>SelectedAccountRecord.BillingStateCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>SelectedAccountRecord.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>SelectedAccountRecord.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryCode</name>
                        <value>
                            <elementReference>SelectedAccountRecord.BillingCountryCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Store_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Information</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Contact_Record.Name</elementReference>
                    </defaultValue>
                    <fieldText>Contact Information</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Con_First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedContactRecord.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Con_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedContactRecord.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Con_Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedContactRecord.Email</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MoCon_Mobile</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultMobile</elementReference>
                    </defaultValue>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please re-enter the phone number without any special characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!MobilePhoneValidation}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Con_Phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultPhone</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please re-enter the phone number without any special characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PhoneValidation}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContactPhotoShoot_Date_Time</name>
            <fieldText>PhotoShoot Date &amp; Time</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ContactPhotoShoot_Date_Time_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PhotoShoot_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>PhotoShoot_Date_Time</elementReference>
                    </defaultValue>
                    <fieldText>PhotoShoot Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Menu_Details</name>
            <fieldText>Menu Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Menu_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Menu_Preview_Link</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultMenuPreviewLink</elementReference>
                    </defaultValue>
                    <fieldText>Menu Preview Link</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>displayMessageForMenu</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; color: rgb(231, 7, 7);&quot;&gt;Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other).&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Menu_Preview_Link</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Menu_URL</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Menu_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Menu_URL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultMenuURL</elementReference>
                    </defaultValue>
                    <fieldText>Menu URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reason_For_PhotoShoot</name>
            <fieldText>Reason For PhotoShoot</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reason_For_PhotoShoot_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_for_Additional_Photoshoot</name>
                    <choiceReferences>Issueswiththeoriginalphotoshootdelivered</choiceReferences>
                    <choiceReferences>Highvaluemarketmxrequestingadditionalphotos</choiceReferences>
                    <choiceReferences>Replacingolderphotosduetonewmenu</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Reason_for_Additional_Photoshoot</elementReference>
                    </defaultValue>
                    <fieldText>Reason for Additional Photoshoot</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;If this is an additional photoshoot, please indicate why Mx is requesting another photoshoot.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reason_For_PhotoShoot_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_if_Other</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Reason_if_Other</elementReference>
                    </defaultValue>
                    <fieldText>Reason if Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Required if Other is selected for Reason for Additional Photoshoot&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>displayOtherReasonMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; background-color: rgb(255, 255, 255); color: rgb(237, 14, 14);&quot;&gt;Required if Other is selected for Reason for Additional Photoshoot&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Reason_for_Additional_Photoshoot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Reason_if_Other</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes_Tags</name>
            <fieldText>Notes &amp; Tags</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Notes_Tags_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Notes_Tags</name>
                    <defaultValue>
                        <stringValue>{!NotesAndTags}</stringValue>
                    </defaultValue>
                    <fieldText>Photoshoot Review Notes / Tags</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504 : Duplicate Work Order Records</description>
        <name>Duplicate_Work_Orders</name>
        <label>Duplicate Work Order</label>
        <locationX>759</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_On_Business_Account</targetReference>
        </connector>
        <fields>
            <name>DisplayDuplicateRecordMessage</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>DisplayRequestTypeErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Work_Orders</name>
            <fieldText>Work Orders</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Orders_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowDuplicateRecords</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>WorkOrder</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Duplicate Work Orders</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Duplicate_Work_Order_Records_For_Business_Account</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Work_Order_Name_Link__c&quot;,&quot;guid&quot;:&quot;column-8965&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Order Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Order Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-cf43&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Order Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-13d8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-eadc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504 : No Duplicate Work Order Records</description>
        <name>No_Duplicate_Work_Order</name>
        <label>No Duplicate Work Order</label>
        <locationX>1155</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Store_Accounts</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DisplayDuplicateRecordMessage</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>DisplayRequestTypeErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>No duplicates found, click &apos;Next&apos; to continue.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504 : Create PhotoShoot Record</description>
        <name>Select_Account_And_Contact</name>
        <label>Select Account And Contact</label>
        <locationX>281</locationX>
        <locationY>4214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Is_Default_Contact_or_Changed</targetReference>
        </connector>
        <fields>
            <name>ShowValidationErrorForAccountAndContact</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>errorMessages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>displayValidationError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>General_Information</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Please select the store location for the photoshoot and the contact. You can update details for the address and contact on the next screen.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Store_Details</name>
            <fieldText>Store Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Store_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GetStoreAccount</name>
                    <extensionName>c:guidedFlowLookUp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>SelectedStoreAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayInfo</name>
                        <value>
                            <stringValue>{   &quot;additionalFields&quot;: [     &quot;BillingStreet&quot;   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>matchingInfo</name>
                        <value>
                            <stringValue>{   &quot;primaryField&quot;: {     &quot;fieldPath&quot;: &quot;Name&quot;   },   &quot;additionalFields&quot;: [     {       &quot;fieldPath&quot;: &quot;Name&quot;     }   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Store Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>Label_Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filter</name>
                        <value>
                            <stringValue> {   &quot;criteria&quot;: [     {       &quot;fieldPath&quot;: &quot;ParentId&quot;,       &quot;operator&quot;: &quot;eq&quot;,       &quot;value&quot;: &quot;&quot;     }   ],   &quot;filterLogic&quot;: &quot;1&quot; }</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedStoreAccountId</assignToReference>
                        <name>selectedId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>SelectedStoreAccountId</assignToReference>
                        <name>defaultValue</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>displayAccountLookup</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Store_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>storeAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Store Location for Photoshoot</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>displayAccountLookup</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Store_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactSearchOnBusinessAccount</name>
                    <extensionName>c:guidedFlowLookUp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>defaultContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayInfo</name>
                        <value>
                            <stringValue>{   &quot;additionalFields&quot;: [     &quot;Email&quot;,     &quot;Phone&quot;   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>matchingInfo</name>
                        <value>
                            <stringValue>{   &quot;primaryField&quot;: {     &quot;fieldPath&quot;: &quot;Name&quot;   },   &quot;additionalFields&quot;: [     {       &quot;fieldPath&quot;: &quot;Email&quot;     }   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filter</name>
                        <value>
                            <stringValue>{    &quot;criteria&quot;:[       {          &quot;fieldPath&quot;:&quot;AccountId&quot;,          &quot;operator&quot;:&quot;eq&quot;,          &quot;value&quot;:&quot;&quot;       }    ],    &quot;filterLogic&quot;:&quot;1&quot; }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>globalSearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedContactRecordId</assignToReference>
                        <name>selectedId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>DefaultContactRecordId</assignToReference>
                        <name>defaultValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-24179: It displays a message regarding no Store Accounts being present on the current Business Account.</description>
        <name>Show_No_Store_Accounts_Exists_ErrorMessage</name>
        <label>Show No Store Accounts Exists ErrorMessage</label>
        <locationX>1634</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowNoStoreAccountsExistsErrorMessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>NoStoreAccountsErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504- Show Duplicate Error Message</description>
        <name>ShowDuplicateErrorMessage</name>
        <label>ShowDuplicateErrorMessage</label>
        <locationX>627</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowErrorMessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Duplicates exist. You cannot create this request. Please work with Photos team to proceed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504: Success Toast message for Photo shoot request creation.</description>
        <name>SuccessToastMessage</name>
        <label>SuccessToastMessage</label>
        <locationX>710</locationX>
        <locationY>7934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplaySuccessToastmessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Photoshoot {0} Work Order creation is successful.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>NewWorkOrderNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>workOrderId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504: Failure Tosta Message for update Contact Recor</description>
        <name>UpateContactRecordFailure</name>
        <label>UpateContactRecordFailure</label>
        <locationX>1106</locationX>
        <locationY>7826</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ToastMessageForWorkOrderFailure</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504: Failure Tosta Message for Photo shoot request creation.</description>
        <name>WorkOrderCreationFailureMessage</name>
        <label>WorkOrderCreationFailureMessage</label>
        <locationX>1370</locationX>
        <locationY>7718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ToastMessageForWorkOrderFailure</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>831</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_offSet_Value</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>LEM-15832: Store Country Code For Validation</description>
        <name>AccountCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>billingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>LEM-13504 : Store Contact Record Id</description>
        <name>ContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DecisionMakerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13504: Stores default Menu Preview Link value.</description>
        <name>DefaultMenuPreviewLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13504: Stores default Menu URL value.</description>
        <name>DefaultMenuURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13504: Stores default Mobile Number.</description>
        <name>DefaultMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13504: Stores default Phone Number.</description>
        <name>DefaultPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayAccountLookup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-13504 : Add error messages in the list</description>
        <name>DisplayRequestTypeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayValidationError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13504: It is used to store the label name</description>
        <name>Label_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Select Store Account</stringValue>
        </value>
    </variables>
    <variables>
        <description>LEM-13504: It stores the Menu source link to be updated on the Merchant Order.</description>
        <name>MenuSourceOnMxOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13508 : Store Menu URL from Store Account</description>
        <name>menuUrlText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewWorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-21576: Add Photoshoot Review Tags and Notes.</description>
        <name>NotesAndTags</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offSetVal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>offsetvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>photoshootContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13504 : Store Record id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13504 : Store Account Record Id</description>
        <name>SelectedStoreAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowBusinessContactLookup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>storeAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>StoreAccountContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAccountIdsAll</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAccountIdsWithXref</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreAccountRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>validStoreCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Work order Record Id</description>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>