sfdx-source/force-app/main/default/flows/Reattempt_Merchant_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-13497: It enables user to retry &apos;Failed&apos; and &apos;Invalid&apos; Merchant Orders from UI using quick action.</description>
        <name>Retry_Merchant_Orders_Action</name>
        <label>Retry Merchant Orders Action</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>IntegrationOutboundService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Failed_ToastMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mxInterfaceTransactions</name>
            <value>
                <elementReference>Get_Interface_Transactions.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>LEM-15819: It is used to update payloads.</description>
        <name>Retry_Payload_Generation_Action</name>
        <label>Retry Payload Generation Action</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>MerchantOrdersService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Interface_Transactions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mxOrders</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Interface_Transaction_Ids</name>
        <label>Assign Interface Transaction Ids</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>interfaceTransactionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Interface_Transactions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retry_Merchant_Orders_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mx_Order</name>
        <label>Assign Mx Order</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>MxOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retry_Payload_Generation_Action</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEM-13497: It verifies the eligibility of current Merchant order for retry based on order status.</description>
        <name>Mx_Order_Eligible_For_Retry</name>
        <label>Mx Order eligible for retry</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ErrorToastMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mx Order not eligible for retry</defaultConnectorLabel>
        <rules>
            <name>Mx_Order_Status_Failed_Invalid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InProgressToastMessage</targetReference>
            </connector>
            <label>Mx Order Status Failed/Invalid/Blocked</label>
        </rules>
    </decisions>
    <description>LEM-13497: It enables users to manually retry Merchant Orders from record UI.</description>
    <environments>Default</environments>
    <interviewLabel>Reattempt Merchant Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reattempt Merchant Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>LEM-13497: It fetches the Interface Transaction record corresponding to the current Merchant Order selected for retry.</description>
        <name>Get_Interface_Transactions</name>
        <label>Get Interface Transactions</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Interface_Transaction_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interface_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>LEM-13497: It displays the toast message to indicate the Mx Order is not eligible for reattempt.</description>
        <name>ErrorToastMessage</name>
        <label>Error Toast Message</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MxOrderNotEligibleToastMessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Label.MxOrderIneligibleForRetry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failed_ToastMessage</name>
        <label>Failed Toast Message</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailedToastMessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Label.MxOrderRetryErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13497: It is used to display toast message to indicate the reattempt is in progress.</description>
        <name>InProgressToastMessage</name>
        <label>In Progress Toast Message</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Mx_Order</targetReference>
        </connector>
        <fields>
            <name>In_Progress_Toast_Message</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Label.MxOrderRetryInProgressToastMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mx_Order_Eligible_For_Retry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>interfaceTransactionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MxOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_Order__c</objectType>
    </variables>
    <variables>
        <description>LEM-13497: It is used to store the Merchant order record for retry.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MX_Order__c</objectType>
    </variables>
</Flow>
