sfdx-source/force-app/main/default/flows/Recalled_Slack_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-13990: Sends the Slack Notification to the associated User along with the related record.</description>
        <name>Recall_Notification</name>
        <label>Recall Notification</label>
        <locationX>528</locationX>
        <locationY>1284</locationY>
        <actionName>custom__Approval_Recall_Slack_Notification</actionName>
        <actionType>sendNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>custom__Approval_Recall_Slack_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>LEM-13990: Retrieves the Record Id of the record which has been recalled.</description>
        <name>Approval_Record_Id</name>
        <label>Approval Record Id</label>
        <locationX>528</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>ApprovalIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recall_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13990: Stores the Id of the assigned approver.</description>
        <name>IndividualUserId</name>
        <label>IndividualUserId</label>
        <locationX>88</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.sbaa__Approver__r.sbaa__User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_Record_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13990: It stores the User id&apos;s of each User of the Group.</description>
        <name>UserIds</name>
        <label>UserIds</label>
        <locationX>792</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Users.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEM-13990: Checks if the Approval Request has an individual Approver associated or a Group of users.</description>
        <name>Assigned_User_Group</name>
        <label>Assigned User/Group</label>
        <locationX>528</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_as_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sbaa__Approver__r.sbaa__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sbaa__Approver__r.sbaa__GroupId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sbaa__Approver__r.sbaa__User__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IndividualUserId</targetReference>
            </connector>
            <label>Assigned as Individual?</label>
        </rules>
        <rules>
            <name>Assigned_as_group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sbaa__Approver__r.sbaa__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sbaa__Approver__r.sbaa__GroupId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Members</targetReference>
            </connector>
            <label>Assigned as group</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13990: Check if the user in the group is Active.</description>
        <name>Check_user_Active</name>
        <label>Check user Active?</label>
        <locationX>924</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserIds</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <description>LEM-13990: Send a Slack Notification if the Approval request has been &apos;Recalled&apos;.</description>
    <environments>Default</environments>
    <interviewLabel>Recall Slack Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recalled Slack Notification</label>
    <loops>
        <description>LEM-13990: Loops through all the User associated with the Public group</description>
        <name>Users</name>
        <label>Users</label>
        <locationX>704</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Approval_Record_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>LEM-13990: Stores the Users present in the Public Group.</description>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>704</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sbaa__Approver__r.sbaa__GroupId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13990: Stores the User record present in the Public Group.</description>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>924</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_user_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Users.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recalled</stringValue>
            </value>
        </filters>
        <object>sbaa__Approval__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assigned_User_Group</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-13990: Retrieves the Approval Ids</description>
        <name>ApprovalIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13990: Retrieves the User Id of the User who sent the Quote for approval.</description>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
