sfdx-source/force-app/main/default/flows/Related_Accounts_on_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>LEM-16014: It collects phone numbers from the current AC Contact Trace Record.</description>
        <name>Collect_Phone_Numbers</name>
        <label>Collect Phone Numbers</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>contactTraceRecordPhoneNumbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_AC_Contact_Trace_Records.amazonconnect__CustomerEndpointAddress__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_AC_Contact_Trace_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-16014: It collects store account Ids from the associated child work plans.</description>
        <name>Collect_Store_Account_Ids</name>
        <label>Collect Store Account Ids</label>
        <locationX>424</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>storeAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Child_Work_Plans.WorkOrder.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Child_Work_Plans</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>LEM-16014: It filters decision makers from the queried Account Contact Relations.</description>
        <name>Filter_Decision_Makers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Decision Makers</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNextValueToReference>currentItem_Filter_Decision_Makers</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Account_Contact_Relations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Decision_Makers.Roles</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Decision Maker</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Are_Decision_Makers_Found</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>LEM-16104: It checks whether &quot;Decision Makers&quot; exists for WhatId on the current task record.</description>
        <name>Are_Decision_Makers_Found</name>
        <label>Are Decision Makers Found?</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>No_Records_found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Decision_Makers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Decision_Makers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filter_Decision_Makers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Accounts_Screen</targetReference>
            </connector>
            <label>Found?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-16104: It checks whether store accounts exists for WhatId on the current task record.</description>
        <name>Are_Related_Store_Accounts_Found</name>
        <label>Are Related Store Accounts Found?</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>No_Records_found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Store_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeAccountIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>storeAccountIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AC_Contract_Trace_Records</targetReference>
            </connector>
            <label>Found?</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-16104: It checks whether child Work Plans exists for WhatId on the current task record.</description>
        <name>Are_Work_Plans_Found</name>
        <label>Are Work Plans Found?</label>
        <locationX>501</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Records_found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Work_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Plan_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Plan_Details</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Child_Work_Plans</targetReference>
            </connector>
            <label>Found?</label>
        </rules>
    </decisions>
    <description>LEM-16014: It displays related accounts on Task.</description>
    <environments>Default</environments>
    <interviewLabel>Related Accounts on Taks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Related Accounts on Task</label>
    <loops>
        <description>LEM-16104: It iterates over AC Contact Trace Records to collect Contact&apos;s Phone Numbers.</description>
        <name>Iterate_over_AC_Contact_Trace_Records</name>
        <label>Iterate over AC Contact Trace Records</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_AC_Contract_Trace_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Phone_Numbers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Contact_Relations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-16014: Iterate over child work plans to collect store accounts.</description>
        <name>Iterate_over_Child_Work_Plans</name>
        <label>Iterate over Child Work Plans</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Work_Plan_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Store_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Related_Store_Accounts_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>LEM-16104: It queries AC Contact Trace Records for the current task record.</description>
        <name>Get_AC_Contract_Trace_Records</name>
        <label>Get AC Contact Trace Records</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_AC_Contact_Trace_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>amazonconnect__AC_ContactTraceRecord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-16014: It queries all Account Contact Relationships with &quot;Decision Maker&quot; role by Store Accounts Ids and WhoId.</description>
        <name>Get_Account_Contact_Relations</name>
        <label>Get Account Contact Relations</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Decision_Makers</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>storeAccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Details.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Phone__c</field>
            <operator>In</operator>
            <value>
                <elementReference>contactTraceRecordPhoneNumbers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-16014: It queries the Task record by the current record Id.</description>
        <name>Get_Task_Details</name>
        <label>Get Task Details</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Plan_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-16014: It queries the Task record by the current record Id.</description>
        <name>Get_Work_Plan_Details</name>
        <label>Get Work Plan Details</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Work_Plans_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Parent_Work_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Details.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Details.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>LEM-16014: It displays error message when relevant records are not found for the current task.</description>
        <name>No_Records_found_Screen</name>
        <label>No Records found Screen</label>
        <locationX>501</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Records_found_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.No_Associated_Accounts_on_Task_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-16014: It displays all store accounts related to the current task.</description>
        <name>Related_Accounts_Screen</name>
        <label>Related Accounts Screen</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_Records_found_Screen</targetReference>
        </connector>
        <fields>
            <name>Related_Accounts_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AccountContactRelation</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Accounts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Decision_Makers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-058c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-6977&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Contact Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Contact_Phone_To_Display__c&quot;,&quot;guid&quot;:&quot;column-ca7c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contact Phone&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-16104: It holds Phone Numbers from the AC Contact Trace Records.</description>
        <name>contactTraceRecordPhoneNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Decision_Makers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>LEM-16014: It captures the current record Id.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-16014: It holds the set of store account Ids associated with the retrieved child work plans.</description>
        <name>storeAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-16014: It holds all store accounts.</description>
        <name>StoreAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
