sfdx-source/force-app/main/default/flows/Show_Mx_Intel_Component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>LEM-13543: It checks if Mx Intel record is retrieved or not.</description>
        <name>Check_for_Mx_Intel_Record</name>
        <label>Check for Mx Intel Record</label>
        <locationX>642</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Merchant_Insights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Mx_Intel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mx_Intel_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Mx_Intel_Found</targetReference>
            </connector>
            <label>No Mx Intel</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13543: It checks whether SObject record is of type Lead or Opportunity.</description>
        <name>Check_for_SObject_Type</name>
        <label>Check for SObject Type</label>
        <locationX>219</locationX>
        <locationY>238</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Lead_Record</targetReference>
            </connector>
            <label>Lead Record</label>
        </rules>
        <rules>
            <name>Opportunity_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity Record</label>
        </rules>
    </decisions>
    <description>LEM-13543: It shows Mx Intel attributes of the Business Account with which the current Lead or Opportunity is associated.</description>
    <environments>Default</environments>
    <interviewLabel>Show Mx Intel Component {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Mx Intel Component</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>LEM-13543: It fetches the current Lead details.</description>
        <name>Get_Current_Lead_Record</name>
        <label>Get Current Lead Record</label>
        <locationX>50</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Mx_Intel_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13543: It fetches Mx Intel record related to the current record.</description>
        <name>Get_Mx_Intel_Record</name>
        <label>Get Mx Intel Record</label>
        <locationX>454</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Mx_Intel_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Mx_Database_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Selection_Intel_Mx_Database_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mx_Database_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Lead_Record.Mx_Database_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mx_Intel__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13543: It fetches the current Opportunity details.</description>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>451</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Mx_Intel_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>LEM-13543: It displays each field value in the screen.</description>
        <name>Merchant_Insights</name>
        <label>Merchant Insights</label>
        <locationX>930</locationX>
        <locationY>414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sales_Intel_Dashboard</name>
            <fieldText>&lt;p&gt;{!$Label.Sales_Intel_dashboard_Information}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Intelligence</name>
            <fieldText>Sales Intelligence</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sales_Intelligence_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>of_Dashers_in_Starting_Point</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Mx_Intel_Record.Number_of_Dashers_in_Starting_Point__c</elementReference>
                    </defaultValue>
                    <fieldText># of Dashers in Starting Point</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Users_in_3_Mile_Radius</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Mx_Intel_Record.Users_in_3_Mile_Radius__c</elementReference>
                    </defaultValue>
                    <fieldText>Users in 3 Mile Radius</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Date_Mx_Joined_Uber_Eats_Postmates</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Mx_Intel_Record.Date_Mx_Joined_Uber_Eats_Postmates__c</elementReference>
                    </defaultValue>
                    <fieldText>Date Mx Joined Uber Eats / Postmates</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Mx_Joined_Skip</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Mx_Intel_Record.Date_Mx_Joined_Skip__c</elementReference>
                    </defaultValue>
                    <fieldText>Date Mx Joined Skip</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sales_Intelligence_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prior_Churn_Date</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Mx_Intel_Record.Prior_Churn_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Prior Churn Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Second_Phone_to_Try</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Mx_Intel_Record.Second_Phone_to_Try__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>2nd Phone to Try?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Date_Mx_Joined_Grubhub</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Mx_Intel_Record.Date_Mx_Joined_Grubhub__c</elementReference>
                    </defaultValue>
                    <fieldText>Date Mx Joined Grubhub</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Mx_Joined_Menulog</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Mx_Intel_Record.Date_Mx_Joined_Menulog__c</elementReference>
                    </defaultValue>
                    <fieldText>Date Mx Joined Menulog</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13543:It displays screen to show error message when no Mx Intel is retrieved.</description>
        <name>No_Mx_Intel_Found</name>
        <label>No Mx Intel Found</label>
        <locationX>661</locationX>
        <locationY>609</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sales_Intelligence_On_Error_Screen</name>
            <fieldText>Sales Intelligence</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sales_Intelligence_On_Error_Screen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_Mx_Intel_Error_Message</name>
                    <fieldText>&lt;p&gt;{!$Label.Mx_Intel_Error_Message}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>101</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_for_SObject_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
