sfdx-source/force-app/main/default/flows/SMB_Work_Plan_Photoshoot_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-17067 : Extract Offset value of timezone difference</description>
        <name>Get_TimeZon_OffSet_Value</name>
        <label>Get TimeZon OffSet Value</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <actionName>TimeZoneConversion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Parent_Work_Plan_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>TimeZoneConversion</nameSegment>
        <outputParameters>
            <assignToReference>OffsetValue</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>LEM-14582 : Set Display Error Message Flag With True</description>
        <name>Add_Country_Code_Error_Message</name>
        <label>Add Country Code Error Message</label>
        <locationX>424</locationX>
        <locationY>4802</locationY>
        <assignmentItems>
            <assignToReference>displayCreatePhotoShootError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Guided_Flow_Country_Code_Change_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mobile_Or_Phone_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Work_Order_Id</name>
        <label>Assign Child Work Order Id</label>
        <locationX>468</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>selectedChildWorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedStoreAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Store_Id_From_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Work_Order_Id_For_Selection</name>
        <label>Assign Child Work Order Id For Selection</label>
        <locationX>116</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>SelectedStoreAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedChildWorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Display_Error_For_Store_Or_Contact_Selection_Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DM_Contact_Id</name>
        <label>Assign DM Contact Id</label>
        <locationX>556</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>DecisionMakerContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_ACR_for_Photoshoot_contact.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_ACR_for_Photoshoot_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14582 : Set Display Error Message Flag With False</description>
        <name>Assign_Flag_With_False_To_Display_Error</name>
        <label>Assign Flag With False To Display Error</label>
        <locationX>688</locationX>
        <locationY>5702</locationY>
        <assignmentItems>
            <assignToReference>displayCreatePhotoShootError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Parent_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14582 : Set Display Error Message Flag With True</description>
        <name>Assign_Flag_with_True_to_Display_Errors</name>
        <label>Assign Flag with True to Display Error</label>
        <locationX>424</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>displayCreatePhotoShootError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please enter either contact phone or mobile number.Or please re-enter the phone number without any special characters.,~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Error_For_Menu_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14528 : Assign Messages</description>
        <name>Assign_Messages</name>
        <label>Assign Messages</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>WarningMessageForDuplicateWorkOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please review previous related duplicate requests.,~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayMessageForEditAccountAndContact</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please select the store location for the photoshoot and the contact. You can update details for the address and contact on the next screen.,~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please fill out all required fields before continuing.,~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>businessAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Work_Plan_Record.WorkOrder.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Duplicate_PhotoShoot_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14582 : Store Get Account and Contact Record in Record Variable</description>
        <name>Assign_Object</name>
        <label>Assign Object</label>
        <locationX>556</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>StoreAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account_Record.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MenuURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreAccountRecord.Menu_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MenuPreviewLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Step_Record.Menu_Preview_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photoshoot_Work_Order_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Photoshoot_Contact_Id</name>
        <label>Assign Photoshoot Contact Id</label>
        <locationX>292</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>PhotoshootContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_ACR_for_Photoshoot_contact.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_ACR_for_Photoshoot_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14582: Assign Menu URL value and Menu Preview Link value.</description>
        <name>Assign_Value_with_Old_Value</name>
        <label>Assign Value with Old Value</label>
        <locationX>688</locationX>
        <locationY>5402</locationY>
        <assignmentItems>
            <assignToReference>MenuURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Menu_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MenuPreviewLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Menu_Preview_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_PhotoShoot_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14528 : Check Store Account Collection Size.
1. One Store
2. Multiple Store</description>
        <name>Check_Store_Account_Collection_Size</name>
        <label>Check Store Account Collection Size</label>
        <locationX>336</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>StoreCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>StoreIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Single_Store_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14582 : Set Display Error Message Flag With True</description>
        <name>Copy_1_of_Assign_Flag_with_True_to_Display_Error</name>
        <label>Copy 1 of Assign Flag with True to Display Error</label>
        <locationX>424</locationX>
        <locationY>5402</locationY>
        <assignmentItems>
            <assignToReference>displayCreatePhotoShootError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other).,~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_PhotoShoot_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14582 : Error Message on PhotoShoot Date And Time</description>
        <name>PhotoShoot_Date_Time_Error_Message</name>
        <label>PhotoShoot Date Time  Error Message</label>
        <locationX>732</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>displayCreatePhotoShootError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Guided_Flow_49_Hours_PhotoShoot_Validation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Store_Country_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Store_Account_Id</name>
        <label>Selected Store Account Id</label>
        <locationX>204</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>SelectedStoreAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreAccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_and_Contact_Selection_Validation_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14528 : Set Display Validation Flag with False</description>
        <name>Set_Display_Error_For_Store_and_Contact_With_False</name>
        <label>Set Display Error For Store and Contact With False</label>
        <locationX>556</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>displayAccountContactValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14528 : Validation Failure For Store or Contact Selection</description>
        <name>Set_Display_Error_For_Store_Or_Contact_Selection_Failure</name>
        <label>Set Display Error For Store Or Contact Selection Failure</label>
        <locationX>116</locationX>
        <locationY>3746</locationY>
        <assignmentItems>
            <assignToReference>displayAccountContactValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Store_Account_and_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14582 : Set Display Error Message Flag With False</description>
        <name>Set_Flag_With_False_To_Display_Error</name>
        <label>Set Flag With False To Display Error</label>
        <locationX>556</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>displayCreatePhotoShootError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>photoshootDateTimeFromWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Photoshoot_Date_And_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotesAndTags</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Notes_Tags</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccountRecord.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccountRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccountRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccountRecord.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.countryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccountRecord.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccountRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccountRecord.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreBillingAddress.provinceCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PhotoShoot_Date_Time_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14528 : Single Store Record</description>
        <name>Single_Store_Record</name>
        <label>Single Store Record</label>
        <locationX>204</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>StoreAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedStoreAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Store_Account_and_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Account_Record_Id</name>
        <label>Store Account Record Id</label>
        <locationX>424</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>StoreIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collection_Of_Store_Account_Id.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Of_Store_Account_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Selected_Store_Id</name>
        <label>Assign Selected Store Id</label>
        <locationX>336</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>Assign_Child_Work_Order_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Store</defaultConnectorLabel>
        <rules>
            <name>One_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Store_Account_Id</targetReference>
            </connector>
            <label>One Store</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-14528 : Check custom &quot;Allow_Duplicate_Photoshoot_Request_Creation&quot; permission set to take decision whether user can continue with work order creation or not.</description>
        <name>Check_Permission_For_Continue_With_Work_Order_Creation</name>
        <label>Check Permission For Continue With Work Order Creation</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Check_Store_Account_Collection_Size</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes-Having Permission</defaultConnectorLabel>
        <rules>
            <name>Not_Having_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Allow_Duplicate_Photoshoot_Request_Creation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Toast_Message_For_Duplicate_Record</targetReference>
            </connector>
            <label>Not - Having Permission</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15821  : Country Code Validation</description>
        <name>Check_Store_Country_Code</name>
        <label>Check Store Country Code</label>
        <locationX>556</locationX>
        <locationY>4694</locationY>
        <defaultConnector>
            <targetReference>Mobile_Or_Phone_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Match_Country_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>StoreAccountRecord.BillingCountryCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Country_Code_Error_Message</targetReference>
            </connector>
            <label>Does Not Match Country Code</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-14528 : Display Duplicate Photoshoot Work order</description>
        <name>Display_Duplicate_PhotoShoot_Work_Order</name>
        <label>Display Duplicate PhotoShoot Work Order</label>
        <locationX>336</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>No_Duplicate_Record_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No- Duplicate</defaultConnectorLabel>
        <rules>
            <name>Yes_Duplicate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_PhotoShoot_WorkOrder_Recor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Duplicate_PhotoShoot_WorkOrder_Recor</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Duplicate_Record_Screen</targetReference>
            </connector>
            <label>Yes- Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15482 : Display Photoshoot Validation</description>
        <name>Display_Error_For_Menu_Field</name>
        <label>Display Error For Menu Field</label>
        <locationX>556</locationX>
        <locationY>5294</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_with_Old_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failed_Menu</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Menu_URL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_URL</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_Preview_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_Preview_Link</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Flag_with_True_to_Display_Error</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15482 : Display Photoshoot Validation</description>
        <name>Display_PhotoShoot_Validation</name>
        <label>Display PhotoShoot Validation</label>
        <locationX>556</locationX>
        <locationY>5594</locationY>
        <defaultConnector>
            <targetReference>Assign_Flag_With_False_To_Display_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validation_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>displayCreatePhotoShootError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Photoshoot_Work_Order_Creation</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-14528 : Get Single Store Record</description>
        <name>Get_Single_Store_Record</name>
        <label>Get Single Store Record</label>
        <locationX>336</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Select_Store_Account_and_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Account_Record</targetReference>
            </connector>
            <label>Single Store</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-14528 : Mobile or Phone Validation</description>
        <name>Mobile_Or_Phone_Validation</name>
        <label>Mobile Or Phone Validation</label>
        <locationX>556</locationX>
        <locationY>4994</locationY>
        <defaultConnector>
            <targetReference>Display_Error_For_Menu_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_Phone_or_Mobile</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Mobile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Mobile</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_with_True_to_Display_Errors</targetReference>
            </connector>
            <label>Blank Phone or Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-15821 : PhotoShoot Date &amp; Time Validation</description>
        <name>PhotoShoot_Date_Time_Validation</name>
        <label>PhotoShoot Date &amp; Time Validation</label>
        <locationX>556</locationX>
        <locationY>4394</locationY>
        <defaultConnector>
            <targetReference>PhotoShoot_Date_Time_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_or_Equal_to_49_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateDatAndTimeWIthGMT</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetDateWithAdditionOf49Hours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Store_Country_Code</targetReference>
            </connector>
            <label>Greater or Equal to 49 Hours</label>
        </rules>
        <rules>
            <name>No_Date_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPhotoShootDateTimeBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Store_Country_Code</targetReference>
            </connector>
            <label>No Date Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Photoshoot_or_DM_Contact_exists</name>
        <label>Photoshoot or DM Contact exists</label>
        <locationX>556</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Iterate_on_ACR_for_Photoshoot_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Photoshoot_Contact_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_ACR_for_Photoshoot_contact.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Photoshoot Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Photoshoot_Contact_Id</targetReference>
            </connector>
            <label>Photoshoot Contact exists</label>
        </rules>
        <rules>
            <name>DM_Contact_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_ACR_for_Photoshoot_contact.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Decision Maker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DM_Contact_Id</targetReference>
            </connector>
            <label>DM Contact exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-14528 : Validation For Store and Contact Selection</description>
        <name>Store_and_Contact_Selection_Validation_Error</name>
        <label>Store and Contact Selection Validation Error</label>
        <locationX>336</locationX>
        <locationY>3530</locationY>
        <defaultConnector>
            <targetReference>Set_Display_Error_For_Store_and_Contact_With_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No-Validation Failure</defaultConnectorLabel>
        <rules>
            <name>Yes_Validation_Failure</name>
            <conditionLogic>((1 OR 2) OR (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>SelectedStoreAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedStoreAccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Child_Work_Order_Id_For_Selection</targetReference>
            </connector>
            <label>Yes-Validation Failure</label>
        </rules>
    </decisions>
    <description>When Activate Centrally = Yes, MxS will perform Activations Outreach. If a Mx has agreed to a Photoshoot, they will will collect Photoshoot inputs (contact, address, date/time) from the Mx and then a Photoshoot Work Order will be created.</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-15821: Add Number of Days</description>
        <name>AddNumberOfDays</name>
        <dataType>Number</dataType>
        <expression>If(ISBLANK({!photoShootDateFromWO}),0,
If(WeekDay(DateValue(DateTimeValue({!photoShootDateFromWO})))=6 || WeekDay(DateValue(DateTimeValue({!photoShootDateFromWO})))=7,73,49)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>LEM-15821 : Get future date &amp; time with addition of 49 hours</description>
        <name>GetDateWithAdditionOf49Hours</name>
        <dataType>DateTime</dataType>
        <expression>If(WeekDay(DateValue({!$Flow.CurrentDateTime}))=6 || WeekDay(DateValue({!$Flow.CurrentDateTime}))=7,
{!$Flow.CurrentDateTime}+73/24,{!$Flow.CurrentDateTime}+49/24)</expression>
    </formulas>
    <formulas>
        <name>GetPhotoShootDateTime</name>
        <dataType>DateTime</dataType>
        <expression>If({!PhotoShootDateAndTimeValidCountry},
if(ISBLANK({!photoShootDateFromWO}),{!$Flow.CurrentDateTime}+49/24,DATETIMEVALUE({!photoShootDateFromWO})+{!AddNumberOfDays}/24)
,null)</expression>
    </formulas>
    <formulas>
        <name>GetWeekDay</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY(DATEVALUE({!GetPhotoShootDateTime}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IsPhotoShootDateTimeBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Photoshoot_Date_And_Time})</expression>
    </formulas>
    <formulas>
        <name>menuPreviewFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Menu_Preview_Link})) ,
    {!Menu_Preview_Link},
    IF(
             NOT(ISBLANK({!Menu_URL})),
                   {!Menu_URL},
            NULL
        )
    )</expression>
    </formulas>
    <formulas>
        <description>LEM-14582 : Menu Validations</description>
        <name>MenuValidationError</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Menu_URL}))</expression>
    </formulas>
    <formulas>
        <description>LEM-14528 : Mobile Phone Validation</description>
        <name>MobilePhoneValidation</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL({!Mobile}) || ISBLANK({!Mobile}) || (LEN({!Mobile})&gt;=10 &amp;&amp; LEN({!Mobile})&lt;=15  &amp;&amp; NOT(REGEX({!Mobile} ,&quot;^[a-z A-Z]*$&quot;)))</expression>
    </formulas>
    <formulas>
        <description>LEM-14582 : Phone Number Validation</description>
        <name>PhoneNumberValidation</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Phone}) || ISNULL({!Phone}) || (LEN({!Phone})&gt;=10 &amp;&amp; LEN({!Phone})&lt;=15  &amp;&amp; NOT(REGEX({!Phone} ,&quot;^[a-z A-Z]*$@#%&amp;!~&gt;&lt;?;:,&quot;)))</expression>
    </formulas>
    <formulas>
        <name>PhotoshootContactRecordId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!PhotoshootContactId}),IF(ISBLANK({!DecisionMakerContactId}),&apos;&apos;,{!DecisionMakerContactId}), {!PhotoshootContactId})</expression>
    </formulas>
    <formulas>
        <description>LEM-15821: Validating Country Code With US, PR and CAN</description>
        <name>PhotoShootDateAndTimeValidCountry</name>
        <dataType>Boolean</dataType>
        <expression> {!CountryCode}=&apos;US&apos; ||   {!CountryCode}=&apos;PR&apos; ||   {!CountryCode}=&apos;CAN&apos;</expression>
    </formulas>
    <formulas>
        <name>PhotoShootDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>photoshootDateTimeFromWO</name>
        <dataType>DateTime</dataType>
        <expression>DateTimeValue({!photoShootDateFromWO})</expression>
    </formulas>
    <formulas>
        <name>UpdateDatAndTimeWIthGMT</name>
        <dataType>DateTime</dataType>
        <expression>DateTimeValue({!Photoshoot_Date_And_Time})</expression>
    </formulas>
    <formulas>
        <name>UpdateDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Photoshoot_Date_And_Time}+{!OffsetValue}/24</expression>
    </formulas>
    <formulas>
        <description>LEM-14528 : Validation For Phone and Mobile Field</description>
        <name>ValidatePhoneAndMobileField</name>
        <dataType>Boolean</dataType>
        <expression>(NOT(ISNULL({!Phone}))  &amp;&amp; NOT(ISBLANK({!Phone})))
|| (NOT(ISNULL({!Mobile}))  &amp;&amp; NOT(ISBLANK({!Mobile})))</expression>
    </formulas>
    <interviewLabel>SMB - Work Plan Photoshoot Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMB - Work Plan Photoshoot Request</label>
    <loops>
        <description>LEM-14582 : Store ID collection</description>
        <name>Collection_Of_Store_Account_Id</name>
        <label>Collection Of Store Account Id</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Chile_Market_Place_WorkOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Account_Record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Store_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_on_ACR_for_Photoshoot_contact</name>
        <label>Iterate on ACR for Photoshoot contact</label>
        <locationX>204</locationX>
        <locationY>2330</locationY>
        <collectionReference>getRelatedContactAssociatedWithStore</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Photoshoot_or_DM_Contact_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Single_Store_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Parent_Work_Order</name>
        <label>Create Parent Work Order</label>
        <locationX>688</locationX>
        <locationY>5810</locationY>
        <assignRecordIdToReference>WorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_Recor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Work_Order_Creation_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>StoreAccountRecord.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>StoreAccountRecord.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Source__c</field>
            <value>
                <stringValue>Guided Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Menu_Preview_Link__c</field>
            <value>
                <elementReference>menuPreviewFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Work_Order__c</field>
            <value>
                <elementReference>Get_Parent_Work_Plan_Record.WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__City__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__CountryCode__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__PostalCode__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__StateCode__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__Street__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Date__c</field>
            <value>
                <elementReference>UpdateDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Review_Notes_and_Tags__c</field>
            <value>
                <elementReference>NotesAndTags</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Time__c</field>
            <value>
                <elementReference>UpdateDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>StoreAccountRecord.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisioning_Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>StoreAccountRecord.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Location_for_Photoshoot__c</field>
            <value>
                <elementReference>StoreAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>StoreAccountRecord.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Photoshoot</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <description>LEM-14532 : Get Child Work Order Records</description>
        <name>Get_Chile_Market_Place_WorkOrder</name>
        <label>Get Child Market Place WorkOrder</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_Of_Store_Account_Id</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 4 AND (2 OR 5)</filterLogic>
        <filters>
            <field>ParentWorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentWorkOrder</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketplace</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Dead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Extract duplicate Photoshoot work order record for selected business account record Id
Criteria :
AccountId = Business Account Id
Type = PhotoShoot
Status != Dead</description>
        <name>Get_Duplicate_PhotoShoot_WorkOrder_Recor</name>
        <label>Get Duplicate PhotoShoot WorkOrder Records</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Messages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Photoshoot</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Dead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 ; Get New Work Order Details</description>
        <name>Get_New_Work_Order_Record</name>
        <label>Get New Work Order Record</label>
        <locationX>688</locationX>
        <locationY>6026</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Merchant_Order_Address_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>NewWorkOrderNumber</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Get Parent Work Order Record Detail</description>
        <name>Get_Parent_Work_Order_Details</name>
        <label>Get Parent Work Order Details</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Chile_Market_Place_WorkOrder</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Work_Plan_Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketplace</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COO</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>businessAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>parentWorkOrder</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>photoShootDateFromWO</assignToReference>
            <field>Photoshoot_Date_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Get Parent Work Plan Record Details</description>
        <name>Get_Parent_Work_Plan_Record</name>
        <label>Get Parent Work Plan Record</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Work_Order_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkPlan</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Get Selected Account Record</description>
        <name>Get_Selected_Account_Record</name>
        <label>Get Selected Account Record</label>
        <locationX>556</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Selected_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedStoreAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Get Selected Contact Record</description>
        <name>Get_Selected_Contact_Record</name>
        <label>Get Selected Contact Record</label>
        <locationX>556</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Step_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Get All Store Account For Selected Business Account Id</description>
        <name>Get_Store_Account</name>
        <label>Get Store Accounts</label>
        <locationX>336</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_PhotoShoot_WorkOrder_Recor</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>StoreIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Franchise_Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>ParentId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Store_Id_From_Work_Order</name>
        <label>Get Store Id From Work Order</label>
        <locationX>468</locationX>
        <locationY>3338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_and_Contact_Selection_Validation_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedStoreAccountId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>SelectedStoreAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Get WorkStep record for selected store Id</description>
        <name>Get_Work_Step_Record</name>
        <label>Get Work Step Record</label>
        <locationX>556</locationX>
        <locationY>3962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Object</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (2 OR 4)</filterLogic>
        <filters>
            <field>Store_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedStoreAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketplace</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Setup Menu</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedContactAssociatedWithStore</name>
        <label>getRelatedContactAssociatedWithStore</label>
        <locationX>204</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_ACR_for_Photoshoot_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Store_Account_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14582 Get Store Record</description>
        <name>Store_Account_Record</name>
        <label>Store Account Record</label>
        <locationX>204</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedContactAssociatedWithStore</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>StoreIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Franchise_Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>LEM-14582 : Update Contect Recor</description>
        <name>Update_Contact_Recor</name>
        <label>Update Contact Recor</label>
        <locationX>688</locationX>
        <locationY>5918</locationY>
        <connector>
            <targetReference>Get_New_Work_Order_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Contact_Update_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>LEM-14582 : Update Merchant Order Address Field</description>
        <name>Update_Merchant_Order_Address_Record</name>
        <label>Update Merchant Order Address</label>
        <locationX>688</locationX>
        <locationY>6134</locationY>
        <connector>
            <targetReference>DisplaySuccessMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Photoshoot</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>StoreAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Menu_Source_for_Photoshoot__c</field>
            <value>
                <elementReference>menuPreviewFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Address__City__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Address__CountryCode__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Address__PostalCode__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Address__StateCode__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Address__Street__s</field>
            <value>
                <elementReference>StoreAccountRecord.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>MX_Order__c</object>
    </recordUpdates>
    <screens>
        <description>LEM-14528 : Display Success Message Screen</description>
        <name>Display_Contact_Update_Failure</name>
        <label>Display Contact Update Failure</label>
        <locationX>952</locationX>
        <locationY>6026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayContactUpdateFailureToast</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-14528 : Display Duplicate Record</description>
        <name>Display_Duplicate_Record_Screen</name>
        <label>Display Duplicate Record Screen</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Permission_For_Continue_With_Work_Order_Creation</targetReference>
        </connector>
        <fields>
            <name>WarningMessageForDuplicate</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>WarningMessageForDuplicateWorkOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_alert</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Duplicate_Work_Order_Section</name>
            <fieldText>Work Order</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Duplicate_Work_Order_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DuplicateWorkOrderDataTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>WorkOrder</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Duplicate PhotoShoot Work Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Duplicate_PhotoShoot_WorkOrder_Recor</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Work_Order_Name_Link__c&quot;,&quot;guid&quot;:&quot;column-7fb3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Order Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Order Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-8b77&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Order Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-921c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-5bf0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-14528 : Display Contact Update Failure</description>
        <name>Display_Work_Order_Creation_Failure</name>
        <label>Display Work Order. Creation Failure</label>
        <locationX>1216</locationX>
        <locationY>5918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayWorkOrderFailure</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-14528 : Display Success Message Screen</description>
        <name>DisplaySuccessMessage</name>
        <label>DisplaySuccessMessage</label>
        <locationX>688</locationX>
        <locationY>6242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessToast</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Photoshoot {0} Work Order creation is successful.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WorkOrderId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>NewWorkOrderNumber</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-14528 : Display Duplicate Record</description>
        <name>No_Duplicate_Record_Screen</name>
        <label>No Duplicate Record Screen</label>
        <locationX>490</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Store_Account_Collection_Size</targetReference>
        </connector>
        <fields>
            <name>DisplayDuplicateRecordMessage</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_alert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>No duplicates found, click &apos;Next&apos; to continue.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-14528 : Screen For Photoshoot Work Order Creation</description>
        <name>Photoshoot_Work_Order_Creation</name>
        <label>Photoshoot Work Order Creation</label>
        <locationX>556</locationX>
        <locationY>4178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Set_Flag_With_False_To_Display_Error</targetReference>
        </connector>
        <fields>
            <name>DisplayPhotoShootRecordCreationFailure</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>errorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>displayCreatePhotoShootError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>MobilePhoneValidation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PhoneNumberValidation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Store_Details</name>
            <fieldText>Store Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Store_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Store_Account</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreAccountRecord.Name</elementReference>
                    </defaultValue>
                    <fieldText>Store Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>StoreBillingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>StoreAccountRecord.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>StoreAccountRecord.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>StoreAccountRecord.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>StoreAccountRecord.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>StoreAccountRecord.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>provinceCode</name>
                        <value>
                            <elementReference>StoreAccountRecord.BillingStateCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryCode</name>
                        <value>
                            <elementReference>StoreAccountRecord.BillingCountryCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Store_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Information</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecord.Name</elementReference>
                    </defaultValue>
                    <fieldText>Contact Information</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecord.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecord.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecord.Email</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecord.MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please re-enter the phone number without any special characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!MobilePhoneValidation}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ContactRecord.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please re-enter the phone number without any special characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PhoneNumberValidation}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>PhotoShoot_Date_Time</name>
            <fieldText>PhotoShoot Date &amp; Time</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PhotoShoot_Date_Time_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Photoshoot_Date_And_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>photoshootDateTimeFromWO</elementReference>
                    </defaultValue>
                    <fieldText>Photoshoot Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Menu_Details</name>
            <fieldText>Menu Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Menu_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Menu_Preview_Link</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>MenuPreviewLink</elementReference>
                    </defaultValue>
                    <fieldText>Menu Preview Link</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!DisplayHelpText}&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(ISBLANK({!Menu_URL}) &amp;&amp; ISBLANK({!Menu_Preview_Link}))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Menu_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Menu_URL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>MenuURL</elementReference>
                    </defaultValue>
                    <fieldText>Menu URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Notes</name>
            <fieldText>Notes &amp; Tags</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Notes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Notes_Tags</name>
                    <defaultValue>
                        <stringValue>{!NotesAndTags}</stringValue>
                    </defaultValue>
                    <fieldText>Photoshoot Review Notes / Tags</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Photoshoot Work Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-14528 : Select Store and Contact</description>
        <name>Select_Store_Account_and_Contact</name>
        <label>Select Store Account and Contact</label>
        <locationX>336</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Assign_Selected_Store_Id</targetReference>
        </connector>
        <fields>
            <name>ShowValidationErrorForAccountAndContact</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>errorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>displayAccountContactValidationError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageForEditAccountAndContact</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_ warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>displayMessageForEditAccountAndContact</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Store_and_Contact</name>
            <fieldText>Select Store and Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Store_and_Contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GetStoreAccount</name>
                    <extensionName>c:guidedFlowLookUp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Store Location for Photoshoot</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>parentWorkOrder</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filter</name>
                        <value>
                            <stringValue>{   &quot;criteria&quot;: [     {       &quot;fieldPath&quot;: &quot;ParentWorkOrderId&quot;,       &quot;operator&quot;: &quot;eq&quot;,       &quot;value&quot;: &quot;&quot;     },     {       &quot;fieldPath&quot;: &quot;Type__c&quot;,       &quot;operator&quot;: &quot;eq&quot;,       &quot;value&quot;: &quot;Marketplace&quot;     },     {       &quot;fieldPath&quot;: &quot;Type__c&quot;,       &quot;operator&quot;: &quot;eq&quot;,       &quot;value&quot;: &quot;COO&quot;     },     {       &quot;fieldPath&quot;: &quot;Account_Record_Type_Name__c&quot;,       &quot;operator&quot;: &quot;eq&quot;,       &quot;value&quot;: &quot;Store&quot;     }   ],   &quot;filterLogic&quot;: &quot;1 AND (2 OR 3) AND 4&quot; }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayInfo</name>
                        <value>
                            <stringValue>{   &quot;primaryField&quot;: &quot;Account.Name&quot;, &quot;additionalFields&quot;: [ &quot;Account.BillingStreet&quot;  ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>matchingInfo</name>
                        <value>
                            <stringValue>{   &quot;primaryField&quot;: {     &quot;fieldPath&quot;: &quot;Account.Name&quot;   },   &quot;additionalFields&quot;: [     {       &quot;fieldPath&quot;: &quot;Account.Name&quot;     }   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>globalSearch</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>SelectedStoreAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Store</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedStoreAccountId</assignToReference>
                        <name>defaultValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>SelectedStoreAccountId</assignToReference>
                        <name>selectedId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>StoreCount</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Store_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreAccountRecord.Name</elementReference>
                    </defaultValue>
                    <fieldText>Store Location for Photoshoot</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>StoreCount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Store_and_Contact_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactSearchOnBusinessAccount</name>
                    <extensionName>c:guidedFlowLookUp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayInfo</name>
                        <value>
                            <stringValue>{   &quot;additionalFields&quot;: [     &quot;Email&quot;,     &quot;Phone&quot;   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filter</name>
                        <value>
                            <stringValue>{    &quot;criteria&quot;:[       {          &quot;fieldPath&quot;:&quot;AccountId&quot;,          &quot;operator&quot;:&quot;eq&quot;,          &quot;value&quot;:&quot;&quot;       }    ],    &quot;filterLogic&quot;:&quot;1&quot; }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>matchingInfo</name>
                        <value>
                            <stringValue>{   &quot;primaryField&quot;: {     &quot;fieldPath&quot;: &quot;Name&quot;   },   &quot;additionalFields&quot;: [     {       &quot;fieldPath&quot;: &quot;Email&quot;     }   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>PhotoshootContactRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>globalSearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContactRecordId</assignToReference>
                        <name>defaultValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ContactRecordId</assignToReference>
                        <name>selectedId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-14528 : Display Toast Message For Duplicate Work Order</description>
        <name>Toast_Message_For_Duplicate_Record</name>
        <label>Toast Message For Duplicate Record</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateMessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Duplicates exist. You cannot create this request. Please work with Photos team to proceed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TimeZon_OffSet_Value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-14528 : Storing Business Account Id</description>
        <name>businessAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528 : Variable for Store Contact Record</description>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>LEM-14528 : Select Contact Record Id</description>
        <name>ContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-15311 : Store Country Code</description>
        <name>CountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DecisionMakerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528 : Set Flag for display Store or Contact selection failure</description>
        <name>displayAccountContactValidationError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-14582 : Display Error Flag</description>
        <name>displayCreatePhotoShootError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-14582 : Display Help Text</description>
        <name>DisplayHelpText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other).</stringValue>
        </value>
    </variables>
    <variables>
        <description>LEM-14528 : Display Message For Edit Account and Contact</description>
        <name>displayMessageForEditAccountAndContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528 : Display Validation Error</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528: It is used to store the value of Menu Preview Link.</description>
        <name>MenuPreviewLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528: It is used to store the value of Menu URL.</description>
        <name>MenuURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13582 : Menu Validation</description>
        <name>MenuValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-14528 : New Work Order Number</description>
        <name>NewWorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-21576: Add Photoshoot Review Tags and Notes.</description>
        <name>NotesAndTags</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-17067- Get OffSet Value</description>
        <name>OffsetValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>LEM-14582 : Get Parent Work Order Record Id</description>
        <name>parentWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhotoshootContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528 : Store PhotoShoot Date</description>
        <name>photoshootDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>photoShootDateFromWO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>photoshootDateTimeFromWorkOrder</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>photoShootTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>photoshootTimeFromWO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528 : Assigning Parent Central Activations Outreach WorkPlan Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedChildWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528 : Select Account Record Id</description>
        <name>SelectedStoreAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528 : Store Account Record</description>
        <name>StoreAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>LEM-14528 : Get Total # of Store Account</description>
        <name>StoreCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>LEM-14582 : Store Ids</description>
        <name>StoreIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528 : Store Menu Preview Link</description>
        <name>StoreMenuPreviewLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarningMessageForDuplicateWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-15821 : Work order Photoshoot Date &amp; Time</description>
        <name>WorkOrderPhotoShootDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>