sfdx-source/force-app/main/default/flows/Sub_Flow_Validate_User_Permission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_False_In_HasUser_Permission</name>
        <label>Assign False In HasUser Permission</label>
        <locationX>468</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>HasUserPermission</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>LEM-13504 : Current user has permission</description>
        <name>Assign_True_In_HasUser_Permission</name>
        <label>Assign True In HasUser Permission</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>HasUserPermission</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>LEM-13504 : Permission Set Assignment</description>
        <name>Permission_Set_Assignment</name>
        <label>Permission Set Assignment</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_False_In_HasUser_Permission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_has_permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_True_In_HasUser_Permission</targetReference>
            </connector>
            <label>User has permission</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 : Check Permission Set Name Availability</description>
        <name>Permission_Set_Found</name>
        <label>Permission Set Found</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_False_In_HasUser_Permission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permission Set Not Found</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_Name_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Record_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Permission Set Name Found</label>
        </rules>
    </decisions>
    <description>LEM-13504 : Validate whether user has permission or not</description>
    <environments>Default</environments>
    <interviewLabel>Sub Flow - Validate User Permission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub Flow - Validate User Permission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>LEM-13504 - Check Permission Name</description>
        <name>Get_Permission_Record_id</name>
        <label>Get Permission Record id</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13504 - Get Permission Set Assignment Result</description>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Record_id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permission_Record_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-13504 : Return Value with True OR False</description>
        <name>HasUserPermission</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-13504 : Permission Set Name</description>
        <name>PermissionSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
