sfdx-source/force-app/main/default/flows/Subflow_Internal_MxS_Communications_By_Account_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-5727: It invokes the &quot;InternalMxSCommunicationsService&quot; apex class for sending internal communication&apos;s emails.</description>
        <name>Send_Email_to_Account_Team_Members</name>
        <label>Send Email to Account Team Members</label>
        <locationX>919</locationX>
        <locationY>3590</locationY>
        <actionName>InternalMxSCommunicationsService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Failure_Error_occurred_on_Apex_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountTeamMembers</name>
            <value>
                <elementReference>Get_Drive_Account_Team_Member_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_by_Name.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>existingContacts</name>
            <value>
                <elementReference>Get_Contacts_for_Internal_Communications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideAddressId</name>
            <value>
                <elementReference>Get_Organization_Wide_Address_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <elementReference>sObjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userInstances</name>
            <value>
                <elementReference>Get_User_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderInstance</name>
            <value>
                <elementReference>WorkOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workStepInstance</name>
            <value>
                <elementReference>WorkStep</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InternalMxSCommunicationsService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>LEM-19035: It invokes the &quot;InternalMxSCommunicationsService&quot; apex class for sending internal communication&apos;s emails.</description>
        <name>Send_Email_to_Account_Team_Members_0</name>
        <label>Send Email to Account Team Members</label>
        <locationX>391</locationX>
        <locationY>3590</locationY>
        <actionName>InternalMxSCommunicationsService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Log_Failure_Error_occurred_on_Apex_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountTeamMembers</name>
            <value>
                <elementReference>AccountTeamMembers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_by_Name.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>existingContacts</name>
            <value>
                <elementReference>Get_Contacts_for_Internal_Communications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityTeamMembers</name>
            <value>
                <elementReference>opportunityTeamMembers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideAddressId</name>
            <value>
                <elementReference>Get_Organization_Wide_Address_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordOwnerIds</name>
            <value>
                <elementReference>recordOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <elementReference>sObjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userInstances</name>
            <value>
                <elementReference>Get_User_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderInstance</name>
            <value>
                <elementReference>WorkOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workStepInstance</name>
            <value>
                <elementReference>WorkStep</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InternalMxSCommunicationsService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>LEM-23432: It consolidates all recipients on &apos;accountTeamMemberUserIds&apos; variable.</description>
        <name>Add_All_Recipients</name>
        <label>Add All Recipients</label>
        <locationX>655</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>accountTeamMemberUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>workOrderEmailRecipientIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-5727: It assigns the User Ids from each Account Team Member to the user Id collection variable.</description>
        <name>Assign_Account_Team_Members_User_Ids</name>
        <label>Assign Account Team Members User Ids</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>accountTeamMemberUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Account_Team_Members_User_Ids.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Account_Team_Members_User_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-19035: It assigns the User Ids from each Account Team Member to the user Id collection variable.</description>
        <name>Assign_Account_Team_Members_User_Ids_0</name>
        <label>Assign Account Team Members User Ids</label>
        <locationX>534</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>accountTeamMemberUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Account_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-19035: It assigns the businessAccountId variable value from Corporate Account field on Work Order.</description>
        <name>Assign_Business_Account_Id_from_Work_Order</name>
        <label>Assign Business Account Id from Work Order</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>businessAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder.Corporate_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_BusinessAccountId_For_Null_Value_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-5727: It assigns the businessAccountId variable value based on passed WorkStep.</description>
        <name>Assign_Business_Account_Id_from_Work_Step</name>
        <label>Assign Business Account Id from Work Step</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>businessAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStep.Business_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_BusinessAccountId_For_Null_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-19035 : It assigns query output to record variable.</description>
        <name>Assign_query_Result_for_Drive</name>
        <label>Assign query Result for Drive</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AccountTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Account_Team_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Account_Team_Members_User_Ids_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23432: It is used to get the Created By Id of the Mx Onboarding Link record for Work Order email.</description>
        <name>Collect_Mx_Onboarding_Link_Creator_Id</name>
        <label>Collect Mx Onboarding Link Creator Id</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>workOrderEmailRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrder.Mx_Onboarding_Link__r.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrder.Mx_Onboarding_Link__r.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_Team_Members_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23432: it is used to collect Opportunity Owner Id for sending Work order email</description>
        <name>Collect_Opportunity_Owner_Id</name>
        <label>Collect Opportunity Owner Id</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>workOrderEmailRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrder.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrder.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-23432: It assigns the Opportunity Team Member Ids to the collection variable for sending email.</description>
        <name>Collect_Opportunity_Team_Member_User_Ids</name>
        <label>Collect Opportunity Team Member User Ids</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>workOrderEmailRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opportunity_Team_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opportunity_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-19035 : It assigns query output to record variable.</description>
        <name>Storing_Query_Result</name>
        <label>Assign query Result for Non Drive</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AccountTeamMembers</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Team_Members_User_Ids_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>LEM-5727: It checks whether Account Team Members with the received role exists for the calculated Corporate Account Id.</description>
        <name>Check_Account_Team_Members_Exists</name>
        <label>Check Account Team Members Exists</label>
        <locationX>655</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Log_Failure_Recipients_Does_Not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recipients Does Not Exists</defaultConnectorLabel>
        <rules>
            <name>Account_Team_Members_Does_Not_Exists</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>accountTeamMemberUserIds</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>accountTeamMemberUserIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountTeamMemberUserIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderEmailRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderEmailRecipientIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Failure</targetReference>
            </connector>
            <label>Account Team Members Does Not Exists</label>
        </rules>
        <rules>
            <name>Recipients_Exists</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>accountTeamMemberUserIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountTeamMemberUserIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderEmailRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderEmailRecipientIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_All_Recipients</targetReference>
            </connector>
            <label>Recipients Exists</label>
        </rules>
        <rules>
            <name>Only_Account_Team_Members_Exists</name>
            <conditionLogic>NOT(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>accountTeamMemberUserIds</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>accountTeamMemberUserIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountTeamMemberUserIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderEmailRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderEmailRecipientIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_User_Details</targetReference>
            </connector>
            <label>Only Account Team Members Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-5727: It checks whether the Corporate Account Id is present for further processing.</description>
        <name>Check_BusinessAccountId_For_Null_Value</name>
        <label>Check BusinessAccountId For Null Value</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Corporate Account Id Does Not Exists</defaultConnectorLabel>
        <rules>
            <name>Corporate_Account_Id_Exists</name>
            <conditionLogic>NOT(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>businessAccountId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>businessAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Drive_Account_Team_Member_Details</targetReference>
            </connector>
            <label>Corporate Account Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-19035: It checks whether the Corporate Account Id is present for further processing.</description>
        <name>Check_BusinessAccountId_For_Null_Value_0</name>
        <label>Check BusinessAccountId For Null Value</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Corporate Account Id Does Not Exists</defaultConnectorLabel>
        <rules>
            <name>Corporate_Account_Id_Exists_0</name>
            <conditionLogic>NOT(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>businessAccountId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>businessAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Members_Details</targetReference>
            </connector>
            <label>Corporate Account Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23432: It is used to collect Opportunity Team Member Ids based on passed Role.</description>
        <name>Check_Id_Opportunity_Team_Role_is_Passed</name>
        <label>Check Id Opportunity Team Role is Passed</label>
        <locationX>358</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Collect_Opportunity_Team_Member_User_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Team Role Blank</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Team_Role_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityTeamRole</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityTeamRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Opportunity_Team_Members.TeamMemberRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>opportunityTeamRole</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Opportunity_Team_Member_User_Ids</targetReference>
            </connector>
            <label>Opportunity Team Role Matches</label>
        </rules>
        <rules>
            <name>Opportunity_Team_Role_Does_Not_Match</name>
            <conditionLogic>(1 AND 2) AND (NOT 3)</conditionLogic>
            <conditions>
                <leftValueReference>opportunityTeamRole</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityTeamRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Opportunity_Team_Members.TeamMemberRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>opportunityTeamRole</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Opportunity_Team_Members</targetReference>
            </connector>
            <label>Opportunity Team Role Does Not Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-19035 : It checks if role is passed when the subflow was invoked</description>
        <name>Check_if_Role_is_passed</name>
        <label>Check if Role is passed</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Account_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Role Not Empty - Non Drive Specialist</defaultConnectorLabel>
        <rules>
            <name>Role_Not_empty_Drive_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountTeamMemberRole</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Account_Team_Members.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>accountTeamMemberRole</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_query_Result_for_Drive</targetReference>
            </connector>
            <label>Role Not empty - Drive Specialist</label>
        </rules>
        <rules>
            <name>Role_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountTeamMemberRole</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Storing_Query_Result</targetReference>
            </connector>
            <label>Role is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-5727: It checks whether the passed SObject type value is WorkOrder or WorkStep.</description>
        <name>Check_SObject_Type</name>
        <label>Check SObject Type</label>
        <locationX>655</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Business_Account_Id_from_Work_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WorkStep Type</defaultConnectorLabel>
        <rules>
            <name>WorkOrder_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Business_Account_Id_from_Work_Order</targetReference>
            </connector>
            <label>WorkOrder Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-19035: It checks whether the passed SObject type value is WorkOrder or WorkStep.</description>
        <name>CheckSObjectType</name>
        <label>Check SObject Type</label>
        <locationX>655</locationX>
        <locationY>3482</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_Account_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WorkStep</defaultConnectorLabel>
        <rules>
            <name>WorkOrderType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Account_Team_Members_0</targetReference>
            </connector>
            <label>WorkOrder</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23432: It is used to validate the Mx Onboarding Link is associated to the passed Work Order.</description>
        <name>Mx_Onboarding_Link_Exists</name>
        <label>Mx Onboarding Link Exists</label>
        <locationX>182</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Team_Members_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mx Onboarding Link Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Mx_Onboarding_Link_Exists_On_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Mx_Onboarding_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrder.Mx_Onboarding_Link__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Mx_Onboarding_Link_Creator_Id</targetReference>
            </connector>
            <label>Mx Onboarding Link Exists On Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23432: It is used to verify Opportunity is associated for Work Order email.</description>
        <name>Opportunity_Id_Exist</name>
        <label>Opportunity Id Exist</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Mx_Onboarding_Link_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Id Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Id_Exists_on_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrder.Opportunity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Opportunity_Owner_Id</targetReference>
            </connector>
            <label>Opportunity Id Exists on Work Order</label>
        </rules>
    </decisions>
    <description>LEM-5727,LEM-19035: It is used to send internal communication&apos;s emails to Account Team Members based on the received values from calling flow.</description>
    <environments>Default</environments>
    <interviewLabel>Subflow - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Internal MxS Communications By Account Team Members</label>
    <loops>
        <description>LEM-5727: It is used to collect the User Ids from the queried Account Team Members.</description>
        <name>Collect_Account_Team_Members_User_Ids</name>
        <label>Collect Account Team Members User Ids</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Drive_Account_Team_Member_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Team_Members_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Account_Team_Members_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-19035: It is used to collect the User Ids from the queried Account Team Members.</description>
        <name>Loop_Through_Account_Team_Members</name>
        <label>Loop Through Account Team Members</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Account_Team_Members_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Role_is_passed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_Id_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>LEM-23432: It is used to iterate through the Opportunity Team Members and collect the User Ids of team members.</description>
        <name>Loop_through_Opportunity_Team_Members</name>
        <label>Loop through Opportunity Team Members</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <collectionReference>Get_Opportunity_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Id_Opportunity_Team_Role_is_Passed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mx_Onboarding_Link_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>LEM-5727: It creates Log records when there are no Account Team Members with the received role.</description>
        <name>Log_Failure</name>
        <label>Log Failure</label>
        <locationX>303</locationX>
        <locationY>2858</locationY>
        <connector>
            <targetReference>Add_All_Recipients</targetReference>
        </connector>
        <inputAssignments>
            <field>Class_Method_Name__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Message__c</field>
            <value>
                <stringValue>Account Team Members with {!accountTeamMemberRole} role does not exists on Corporate Account. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>LEM-23432: It creates Log records when there is an error on Apex Action.</description>
        <name>Log_Failure_Error_occurred_on_Apex_Action</name>
        <label>Log Failure - Error occurred on Apex Action</label>
        <locationX>655</locationX>
        <locationY>3698</locationY>
        <inputAssignments>
            <field>Class_Method_Name__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Message__c</field>
            <value>
                <stringValue>Error occurred while sending email through Apex action.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>LEM-5727: It creates Log records when there are no recipients</description>
        <name>Log_Failure_Recipients_Does_Not_Exist</name>
        <label>Log Failure - Recipients Does Not Exist</label>
        <locationX>1007</locationX>
        <locationY>2858</locationY>
        <inputAssignments>
            <field>Class_Method_Name__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Message__c</field>
            <value>
                <stringValue>Recipients does not exist for the Work Order.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>LEM-19035: It is used to query the Account Team Members associated to the calculated Corporate Account Id</description>
        <name>Get_Account_Team_Members_Details</name>
        <label>Get Account Team Member Details</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
        <sortField>UserId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-5727: It queries existing Contacts created for internal communications to Account Team Members.</description>
        <name>Get_Contacts_for_Internal_Communications</name>
        <label>Get Contacts for Internal Communications</label>
        <locationX>655</locationX>
        <locationY>3374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSObjectType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Team_Member_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>accountTeamMemberUserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Team_Member_Id__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-5727: It is used to query the Drive Account Team Members associated to the calculated Corporate Account Id based on the received role.</description>
        <name>Get_Drive_Account_Team_Member_Details</name>
        <label>Get Drive Account Team Member Details</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Account_Team_Members_User_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountTeamMemberRole</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>UserId</queriedFields>
        <sortField>UserId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-5727: It is used to get Email Template Id based on the received Email Template name.</description>
        <name>Get_Email_Template_Id_by_Name</name>
        <label>Get Email Template Id by Name</label>
        <locationX>655</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Organization_Wide_Address_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-23432: It is used to collect Opportunity Team Member records based on passed Business Account Id.</description>
        <name>Get_Opportunity_Team_Members</name>
        <label>Get Opportunity Team Members</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opportunity_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-5727: It is used to get Organization-Wide Address Id based on the received org wide address display name.</description>
        <name>Get_Organization_Wide_Address_Id</name>
        <label>Get Organization-Wide Address Id</label>
        <locationX>655</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SObject_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orgWideAddressDisplayName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <queriedFields>Id</queriedFields>
        <sortField>DisplayName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-5727: It collects User details based on the collected User Ids of Account Team Members.</description>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>655</locationX>
        <locationY>3266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts_for_Internal_Communications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountTeamMemberUserIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>529</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Template_Id_by_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>LEM-5727: It stores the Account Team Member&apos;s role received from the calling flow.</description>
        <name>accountTeamMemberRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-19035 : It stores the result of Account Team Members Query</description>
        <name>AccountTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <description>LEM-5727: It holds Id of users corresponding to the queried Account Team Members.</description>
        <name>accountTeamMemberUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-5727: It stores the business account Id to retrieve Account Team Members.</description>
        <name>businessAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-5727: It stores the Email Template name received from the calling flow.</description>
        <name>emailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-23432: It is used to collect the Opportunity Team Members.</description>
        <name>opportunityTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <description>LEM-23432: It is used to store Opportunity Team Role for sending email.</description>
        <name>opportunityTeamRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-5727: It stores the org wide address display name received from the calling flow.</description>
        <name>orgWideAddressDisplayName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-23432: It is used to collect all the related record Owner/Creator Ids</description>
        <name>recordOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>LEM-5727: It stores the sObject type received from the calling flow.</description>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>WorkOrder</stringValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>LEM-23432: It is used to store the recipient Ids for Work order email.</description>
        <name>workOrderEmailRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>