sfdx-source/force-app/main/default/flows/SubFlow_Guided_Equipment_Request_Order_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>LEM-13511: It is used to create Mx Orders and Mx Order Items.</description>
        <name>Generate_Mx_Orders_and_Mx_Order_Items</name>
        <label>Generate Mx Orders and Mx Order Items</label>
        <locationX>842</locationX>
        <locationY>5138</locationY>
        <actionName>GuidedFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_New_Work_Order_Record_Detail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Equipment_Response_Failure_Response</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>StoreAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printerIMEI</name>
            <value>
                <elementReference>SelectedPrinterIMEI</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productBundleName</name>
            <value>
                <elementReference>SelectedProductBundle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reasonForReturn</name>
            <value>
                <elementReference>MerchantOrder.Replacement_Reason_Other__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacementReason</name>
            <value>
                <elementReference>MerchantOrder.Reason_for_Replacement__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnComponent</name>
            <value>
                <elementReference>Return_Component</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingCity</name>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingCountryCode</name>
            <value>
                <elementReference>StoreAccount.BillingCountryCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingPostalCode</name>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingStateCode</name>
            <value>
                <elementReference>StoreAccount.BillingStateCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingStreet</name>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tabletIMEI</name>
            <value>
                <elementReference>SelectedTableIMEI</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>typeOfRequest</name>
            <value>
                <elementReference>SubType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrder</name>
            <value>
                <elementReference>workOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderId</name>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GuidedFlowController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>LEM-13511: Assign Contact Error</description>
        <name>Assign_Contact_Error</name>
        <label>Assign Contact Error</label>
        <locationX>600</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRecordErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Retur_Label_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-16713 : Assign Has Permission With False</description>
        <name>Assign_Has_Permission_With_False</name>
        <label>Assign Has Permission With False</label>
        <locationX>600</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>HasCreateContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Order_Protocol_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14124: Assign Mx Order Product Bundle values for Product Bundle picklist.</description>
        <name>Assign_Mx_Order_Product_bundle_values</name>
        <label>Assign Mx Order Product bundle values</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>StoreProductBundle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_from_Mx_Order_Product_Bundle_Quebec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14124: Assign Mx Order Product Bundle values for Product Bundle picklist.</description>
        <name>Assign_Mx_Order_Product_bundle_values_2</name>
        <label>Assign Mx Order Product bundle values 2</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>StoreProductBundle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_from_Mx_Order_Product_Bundle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14124: Assign Mx Order Product Bundle values for Product Bundle picklist.</description>
        <name>Assign_Mx_Order_Product_bundle_values_3</name>
        <label>Assign Mx Order Product bundle values 3</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>StoreProductBundle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_from_Mx_Order_Product_Bundle_Canada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14124: Assign Mx Order Product Bundle values for Product Bundle picklist.</description>
        <name>Assign_Mx_Order_Product_bundle_values_4</name>
        <label>Assign Mx Order Product bundle values 4</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>StoreProductBundle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_from_Marketing_Kit_Product_Bundle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14124: Assign Mx Order Product Bundle values excluding printer bundles for Product Bundle picklist.</description>
        <name>Assign_Non_Printer_Mx_Order_Product_bundle_values</name>
        <label>Assign Non Printer Mx Order Product bundle values</label>
        <locationX>842</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>StoreProductBundle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_from_Mx_Order_Product_Bundle_Without_Printer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-16546: It assigns Store Account&apos;s experience to determine printer eligibility in formula.</description>
        <name>Assign_Store_Experience</name>
        <label>Assign Store Experience</label>
        <locationX>974</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>storeExperience</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreAccount.Experience__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>businessTopMxCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Top_Mx_Secondary_Tags_from_Business_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Printer_Eligible_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sub_Type_as_Replacement</name>
        <label>Assign Sub Type as Replacement</label>
        <locationX>710</locationX>
        <locationY>4190</locationY>
        <assignmentItems>
            <assignToReference>SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tablet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Create_Marketing_Kit_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SubType_as_Marketing_Kit</name>
        <label>Assign SubType as Marketing Kit</label>
        <locationX>974</locationX>
        <locationY>4190</locationY>
        <assignmentItems>
            <assignToReference>SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing Kit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing Kit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Create_Marketing_Kit_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SubType_as_NetNew</name>
        <label>Assign SubType as NetNew</label>
        <locationX>446</locationX>
        <locationY>4190</locationY>
        <assignmentItems>
            <assignToReference>SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Net-New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tablet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Create_Marketing_Kit_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SubType_as_Return</name>
        <label>Assign SubType as Return</label>
        <locationX>1238</locationX>
        <locationY>4190</locationY>
        <assignmentItems>
            <assignToReference>SubType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tablet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Create_Marketing_Kit_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511: Assign Order Protocol Error</description>
        <name>Error_For_Order_Protocol</name>
        <label>Error For Order Protocol</label>
        <locationX>600</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProtocolError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Record_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511: Assign Order Protocol Error</description>
        <name>Failure_Message_For_Store_Order_Protocol</name>
        <label>Failure Message For Store Order Protocol</label>
        <locationX>600</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProtocolError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Store_State_Equals_Quebec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511: Return Label Error Assignment</description>
        <name>Other_Replacement_Reason_Missing</name>
        <label>Other Replacement Reason Missing</label>
        <locationX>281</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResonForRelacementForOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Back_To_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511: Reason For Replacement Not Selected</description>
        <name>Reason_For_Replacement_Validation</name>
        <label>Reason For Replacement Validation</label>
        <locationX>545</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ReasonForReplacementError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Back_To_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511: Assigns error message for &quot;Replacement Reason Other&quot; field length exceeded error.</description>
        <name>Replacement_Reason_Other_Field_Length_Validation</name>
        <label>Replacement Reason Other Field Length Validation</label>
        <locationX>809</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!$Label.SMB_Guided_Flow_Replacement_Reason_Other_Error_Message_Max_Length}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Back_To_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511: Set Display Error Decision With False</description>
        <name>Reset_Variables</name>
        <label>Reset Variables</label>
        <locationX>512</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>errorMessages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedProductBundle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductBunaleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MerchantOrder.Replacement_Reason_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectReasonForOther</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_product_Not_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511: Return Label Error Assignment</description>
        <name>Return_Label_Error_Assignment_For_Manual_Validation</name>
        <label>Return Label Error Assignment For Manual Validation</label>
        <locationX>512</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ErrorMessageForBothManualAndLookupEntry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reason_for_Replacement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511: Return Label Error Assignment</description>
        <name>Return_Label_Error_Assignment_For_Other</name>
        <label>Return Label Error Assignment For Other</label>
        <locationX>248</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TabletOrPrinterBlankError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reason_for_Replacement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13511: Assign Order Protocol Error</description>
        <name>Selection_Product_Error</name>
        <label>Selection Product Error</label>
        <locationX>380</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>DisplayError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedProductError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validation_on_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>LEM-13511: Expedited Shipping Type</description>
        <name>ExpeditedShipping</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Expedited&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expedited</stringValue>
        </value>
    </choices>
    <choices>
        <name>Overture_Box_Australia</name>
        <choiceText>Overture_Box_Australia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overture_Box_Australia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Overture_Box_Canada_English</name>
        <choiceText>Overture_Box_Canada_English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overture_Box_Canada_English</stringValue>
        </value>
    </choices>
    <choices>
        <name>Overture_Box_Canada_French</name>
        <choiceText>Overture_Box_Canada_French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overture_Box_Canada_French</stringValue>
        </value>
    </choices>
    <choices>
        <name>Overture_Box_New_Zealand</name>
        <choiceText>Overture_Box_New_Zealand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overture_Box_New_Zealand</stringValue>
        </value>
    </choices>
    <choices>
        <name>Overture_Box_US</name>
        <choiceText>Overture_Box_US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overture_Box_US</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reorder_Overture_Box_Australia</name>
        <choiceText>Reorder_Overture_Box_Australia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reorder_Overture_Box_Australia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reorder_Overture_Box_Canada_English</name>
        <choiceText>Reorder_Overture_Box_Canada_English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reorder_Overture_Box_Canada_English</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reorder_Overture_Box_Canada_French</name>
        <choiceText>Reorder_Overture_Box_Canada_French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reorder_Overture_Box_Canada_French</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reorder_Overture_Box_New_Zealand</name>
        <choiceText>Reorder_Overture_Box_New_Zealand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reorder_Overture_Box_New_Zealand</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reorder_Overture_Box_US</name>
        <choiceText>Reorder_Overture_Box_US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reorder_Overture_Box_US</stringValue>
        </value>
    </choices>
    <choices>
        <description>LEM-13511: Choice for return component with Yes</description>
        <name>ReturnComponent_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <description>LEM-13511: Return Component Choice With No</description>
        <name>RteurnComponent_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>LEM-13511: Standard Shipping Type Choice</description>
        <name>StandardShipping</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Standard&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <constants>
        <name>NetNew</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Net-New Tablet and/or Printer</stringValue>
        </value>
    </constants>
    <constants>
        <name>Replacement_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement Tablet, Printer, and/or Accessories</stringValue>
        </value>
    </constants>
    <constants>
        <description>LEM-13510: It is used to store the Request Type value - &apos;Return&apos;.</description>
        <name>RequestTypeReturnLabelOnly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Return</stringValue>
        </value>
    </constants>
    <decisions>
        <description>LEM-14124: Checks if State Of Store Account is Quebec</description>
        <name>Check_Store_State_Equals_Quebec</name>
        <label>Check Store State Equals Quebec</label>
        <locationX>512</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Top_Mx_Secondary_Tags_from_Business_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>State_Equals_Quebec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.BillingStateCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_Mx_Order_Product_Bundle_Quebec</targetReference>
            </connector>
            <label>State Equals Quebec</label>
        </rules>
        <rules>
            <name>Country_Equals_Cananda</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Preferred_Language__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Preferred_Language__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.BillingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_Mx_Order_Product_Bundle_Canada</targetReference>
            </connector>
            <label>Country Equals Cananda</label>
        </rules>
        <rules>
            <name>Request_Type_Equals_Marketing_Kit</name>
            <conditionLogic>1 AND 2 AND (3 OR (4 AND (5 OR 6)))</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.BillingCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.BillingCountryCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Preferred_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_Marketing_Kit_Product_Bundle</targetReference>
            </connector>
            <label>Request Type Equals Marketing Kit</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13511: Contact Record Validation</description>
        <name>Contact_Record_Validation</name>
        <label>Contact Record Validation</label>
        <locationX>512</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retur_Label_Validation</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13511: It determines the Work Order subtype.</description>
        <name>Determine_Subtype_based_on_the_Request_Type</name>
        <label>Determine Subtype based on the Request Type</label>
        <locationX>842</locationX>
        <locationY>4082</locationY>
        <defaultConnector>
            <targetReference>Assign_SubType_as_Return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return</defaultConnectorLabel>
        <rules>
            <name>Net_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgressIndicatorStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NetNew</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SubType_as_NetNew</targetReference>
            </connector>
            <label>Net-New</label>
        </rules>
        <rules>
            <name>Replacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgressIndicatorStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Replacement_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sub_Type_as_Replacement</targetReference>
            </connector>
            <label>Replacement</label>
        </rules>
        <rules>
            <name>Marketing_Kit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgressIndicatorStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SubType_as_Marketing_Kit</targetReference>
            </connector>
            <label>Marketing Kit</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-23255: It checks if &quot;Replacement Reason Other&quot; field value exceeds 255 characters or not.</description>
        <name>Display_Error_Message_For_More_Than_255_Characters</name>
        <label>Display Error Message For More Than 255 Characters</label>
        <locationX>941</locationX>
        <locationY>3506</locationY>
        <defaultConnector>
            <targetReference>Go_Back_To_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_255_Characters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReplacementReasonOtherFieldLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Replacement_Reason_Other_Field_Length_Validation</targetReference>
            </connector>
            <label>Greater Than 255 Characters</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_Back_To_Screen</name>
        <label>Go Back To Screen</label>
        <locationX>512</locationX>
        <locationY>3974</locationY>
        <defaultConnector>
            <targetReference>Determine_Subtype_based_on_the_Request_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_To_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisplayError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_Order</targetReference>
            </connector>
            <label>Back To Screen</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-16546: It is used to display product bundles based on printer eligibility.</description>
        <name>Printer_Eligible_Products</name>
        <label>Printer Eligible Products</label>
        <locationX>974</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Get_Records_from_Mx_Order_Product_Bundle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Printer Eligible</defaultConnectorLabel>
        <rules>
            <name>Printer_Not_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isPrinterEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_from_Mx_Order_Product_Bundle_Without_Printer</targetReference>
            </connector>
            <label>Printer Not Eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_for_Replacement</name>
        <label>Reason for Replacement</label>
        <locationX>512</locationX>
        <locationY>3290</locationY>
        <defaultConnector>
            <targetReference>Reason_For_Replacement_For_Return_Label_Yes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failure_Reason_for_Replacement</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>MerchantOrder.Reason_for_Replacement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (please specify reason in notes)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MerchantOrder.Replacement_Reason_Other__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>MerchantOrder.Replacement_Reason_Other__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Replacement_Reason_Missing</targetReference>
            </connector>
            <label>Failure</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13511: Reason For Replace Reason is Required For Return</description>
        <name>Reason_For_Replacement_For_Return_Label_Yes</name>
        <label>Reason For Replacement For Return Label Yes</label>
        <locationX>743</locationX>
        <locationY>3398</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Message_For_More_Than_255_Characters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reason_Replace_Required</name>
            <conditionLogic>1 AND (2 OR 5) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Return_Component</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProgressIndicatorStep</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MerchantOrder.Reason_for_Replacement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MerchantOrder.Reason_for_Replacement__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ProgressIndicatorStep</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Replacement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_For_Replacement_Validation</targetReference>
            </connector>
            <label>Reason Replace Required</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13511: Return Label Validation.If user clicks Next and Return Components = Yes and Tablet and Printer IMEI is filled out, there should be a validation that prevents the user from continuing – “Tablet or Printer IMEI must be filled out to proceed.</description>
        <name>Retur_Label_Validation</name>
        <label>Return Label Validation</label>
        <locationX>512</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Reason_for_Replacement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Return_Label_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Net-New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Return_Component</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReturnComponent_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>validateIMEIValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Label_Error_Assignment_For_Other</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Manual_And_Lookup_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validateIMEIValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Net-New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Return_Component</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReturnComponent_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManualAndLooupValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Label_Error_Assignment_For_Manual_Validation</targetReference>
            </connector>
            <label>Manual And Lookup Validation</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13511: Selected Produc Not Valid</description>
        <name>Selected_product_Not_Valid</name>
        <label>Selected product Not Valid</label>
        <locationX>512</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Validation_on_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Record_Validation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selection_Product_Error</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13511: Validation On User Entries</description>
        <name>Store_Order_Protocol_Validation</name>
        <label>Store Order Protocol Validation</label>
        <locationX>512</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Failure_Message_For_Store_Order_Protocol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Store Order Protocol Failure</defaultConnectorLabel>
        <rules>
            <name>Store_Order_protocol_Success</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>StoreAccount.Order_Protocol__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tablet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Order_Protocol__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>POS and Tablet (Merchant Owns)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Order_Protocol__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Android Tablet (Merchant Owns)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Order_Protocol__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Store_State_Equals_Quebec</targetReference>
            </connector>
            <label>Store Order protocol Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13483: It determines whether to make Marketing Kit Type Work Order.</description>
        <name>To_Create_Marketing_Kit_WO</name>
        <label>To Create Marketing Kit WO</label>
        <locationX>842</locationX>
        <locationY>4382</locationY>
        <defaultConnector>
            <targetReference>Create_Parent_Tablet_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marketing_Kit_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Marketing_Kit_Work_Order</targetReference>
            </connector>
            <label>Marketing Kit WO</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-16713 : Validate Create Contact Record Permission</description>
        <name>User_Has_Custom_Permission_To_Create_Contact_Record</name>
        <label>User Has Custom Permission To Create Contact Record</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Has_Permission_With_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCreateContactRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.HasContactRecordCreationPermissionInGuidedFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Order_Protocol_Validation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13511: Validation On User Entries</description>
        <name>Validation_on_Screen</name>
        <label>Validation on Screen</label>
        <locationX>512</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Error_For_Order_Protocol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validation_Success</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>StoreAccount.Order_Protocol__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tablet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Order_Protocol__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>POS and Tablet (Merchant Owns)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Order_Protocol__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Android Tablet (Merchant Owns)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreAccount.Order_Protocol__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Kit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Record_Validation</targetReference>
            </connector>
            <label>Validation Success</label>
        </rules>
    </decisions>
    <description>LEM-13511: Sub Flow for Equipment Request Screen user inputs</description>
    <dynamicChoiceSets>
        <name>MXOrderItems</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mx_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Store_Account_ID_18__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tablet</stringValue>
            </value>
        </filters>
        <object>MX_Order_Item__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>LEM-13511: Select product Bundle For Selected Country Code</description>
        <name>ProductBundleForSelectedCountryCode</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>((1 OR 3) AND 2 AND (4 OR 5)  AND (6 OR 7))</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.BillingCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>OrderType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Preferred_Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.Preferred_Language__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <object>Mx_Order_Product_Bundle__c</object>
        <outputAssignments>
            <assignToReference>SelectedProductBundle</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>LEM-14124: Select product Bundle For Selected State</description>
        <name>ProductBundleForSelectedState</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.BillingState</elementReference>
            </value>
        </filters>
        <object>Mx_Order_Product_Bundle__c</object>
        <outputAssignments>
            <assignToReference>SelectedProductBundle</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>LEM-13511: Lookup for defective Printer IMEI</description>
        <name>SelectDefectivePrinterIMEI</name>
        <dataType>String</dataType>
        <displayField>Identifier__c</displayField>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Store_Account_ID_18__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Printer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Identifier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Merchant_Order_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Net-New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Merchant_Order_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </filters>
        <object>MX_Order_Item__c</object>
        <outputAssignments>
            <assignToReference>PrinterIMEI</assignToReference>
            <field>Identifier__c</field>
        </outputAssignments>
        <valueField>Identifier__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>LEM-13511: Select Defective Table IMEI</description>
        <name>SelectDefectiveTabletIMEI</name>
        <dataType>String</dataType>
        <displayField>Identifier__c</displayField>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Store_Account_ID_18__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.Account_ID18__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tablet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Identifier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Merchant_Order_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Net-New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Merchant_Order_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Replacement</stringValue>
            </value>
        </filters>
        <object>MX_Order_Item__c</object>
        <outputAssignments>
            <assignToReference>TabletIMEI</assignToReference>
            <field>Identifier__c</field>
        </outputAssignments>
        <sortField>Identifier__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Identifier__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Shows Product Bundle Names</description>
        <name>ShowProductBundleName</name>
        <collectionReference>StoreProductBundle</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Mx_Order_Product_Bundle__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>LEM-13511: Store Table Order protocol  except &quot;Android Tablet (Merchant Owns)&quot; or &quot;POS and Tablet (Merchant Owns)&quot;</description>
        <name>TabletOrderProtocol</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DurableId</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Account.Order_Protocol__c.</stringValue>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AssignValueWithNull</name>
        <dataType>String</dataType>
        <expression>null</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Contact Record Error Message</description>
        <name>ContactRecordErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.SMB_Guided_Flow_Contact}</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Set Default Return Type For Return Request</description>
        <name>DefaultComponentReturnType</name>
        <dataType>String</dataType>
        <expression>if((Contains({!RequestType} ,&apos;Return&apos;) || Contains({!RequestType} ,&apos;Replacement&apos;)) &amp;&amp; {!Return_Component} != &apos;No&apos;,&apos;Yes&apos;,{!Return_Component})</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Set Default Shipment Type Based on Deck Rank Value</description>
        <name>DefaultShipmentType</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL(TEXT( {!StoreAccount.Deck_Rank__c})) || TEXT( {!StoreAccount.Deck_Rank__c}) =&apos;&apos; ||{!ProgressIndicatorStep}=&apos;Return Label Only&apos;,&apos;Standard&apos;,(IF(CONTAINS({!$Label.Guide_Flow_Shi},TEXT( {!StoreAccount.Deck_Rank__c})),&apos;Expedited&apos;,&apos;Standard&apos;)))</expression>
    </formulas>
    <formulas>
        <name>disablePrinterIMEILookUp</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT ISNULL({!Manual_Entry_Defective_Printer_IMEI}), NOT ISBLANK({!Manual_Entry_Defective_Printer_IMEI}))</expression>
    </formulas>
    <formulas>
        <name>disablePrinterManulaEntry</name>
        <dataType>Boolean</dataType>
        <expression>NOT ISBLANK({!Defective_Printer_IMEI.selectedChoiceValues})</expression>
    </formulas>
    <formulas>
        <name>disableTableIMEILookUp</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT ISNULL({!Manual_Entry_Defective_Tablet_IMEI}), NOT ISBLANK({!Manual_Entry_Defective_Tablet_IMEI}))</expression>
    </formulas>
    <formulas>
        <name>disableTabletManulaEntry</name>
        <dataType>Boolean</dataType>
        <expression>NOT ISBLANK({!Defective_Tablet_IMEI.selectedChoiceValues})</expression>
    </formulas>
    <formulas>
        <description>LEM-17073 : Allow for IMEIs not in DDMx to be entered manually in the Tablet Return/Replacement flow</description>
        <name>displayManualIMEI</name>
        <dataType>Boolean</dataType>
        <expression>NOT ISBLANK({!Defective_Tablet_IMEI.selectedChoiceValues})</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Display Reason For Other Error Message</description>
        <name>DisplayResonForOtherErrorMessage</name>
        <dataType>Boolean</dataType>
        <expression>
            if(CONTAINS(Text({!MerchantOrder.Reason_for_Replacement__c}),&apos;Other (please specify reason in notes)&apos;) &amp;&amp; ISBLANK({!MerchantOrder.Replacement_Reason_Other__c}), true, false)</expression>
    </formulas>
    <formulas>
        <name>ErrorMessageForBothManualAndLookupEntry</name>
        <dataType>String</dataType>
        <expression>{!$Label.SMB_Guided_Flow_Fill_With_Manual_Entry}</expression>
    </formulas>
    <formulas>
        <description>LEM-21339-It is used to disable Shipping Type when Request Type is &apos;Return Label Only&apos;</description>
        <name>disableShippingType</name>
        <dataType>Boolean</dataType>
        <expression>If({!ProgressIndicatorStep}=&apos;Return Label Only&apos;,true,false)</expression>
    </formulas>
    <formulas>
        <name>isPrinterEligible</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    AND(
        !ISBLANK(TEXT({!StoreAccount.Deck_Rank__c})),
        CONTAINS(&apos;Ace, King, King of Spades, Ace of Spades&apos;, TEXT({!StoreAccount.Deck_Rank__c}))
    ),
    AND(
        !ISBLANK({!storeExperience}),
        CONTAINS({!storeExperience}, &apos;Caviar&apos;)
    ),
    {!businessTopMxCount} &gt; 0
)</expression>
    </formulas>
    <formulas>
        <description>LEM-13510: It is used to evaluate if the Request Type is Return Label Only.</description>
        <name>IsRequestTypeReturnLabelOnly</name>
        <dataType>Boolean</dataType>
        <expression>IF({!RequestType} == {!RequestTypeReturnLabelOnly}, true, false)</expression>
    </formulas>
    <formulas>
        <name>ManualAndLooupValidation</name>
        <dataType>Boolean</dataType>
        <expression>OR
(
AND(
	OR(
		NOT ISNULL({!Manual_Entry_Defective_Tablet_IMEI}),
		NOT ISBLANK({!Manual_Entry_Defective_Tablet_IMEI})
	),
	OR(
		NOT ISNULL({!TabletIMEI}),
		NOT ISBLANK({!TabletIMEI})
	)
),
AND(
	OR(
		NOT ISNULL({!Manual_Entry_Defective_Printer_IMEI}),
		NOT ISBLANK({!Manual_Entry_Defective_Printer_IMEI})
	),
	OR(
		NOT ISNULL({!PrinterIMEI}),
		NOT ISBLANK({!PrinterIMEI})
	)
)
)</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Display Error For Order Protocol Selection</description>
        <name>OrderProtocolError</name>
        <dataType>String</dataType>
        <expression>{!$Label.SMB_Guided_Flow_Order_Protocol}</expression>
    </formulas>
    <formulas>
        <name>OrderType</name>
        <dataType>String</dataType>
        <expression>if({!RequestType} = &apos;Marketing Kit&apos;, &apos;Onboarding&apos;, {!RequestType})</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Product Bundle Name</description>
        <name>ProductBunaleName</name>
        <dataType>String</dataType>
        <expression>If({!RequestType}=&apos;Return&apos;,&apos;Return Label&apos;,{!Product_Bundle2})</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Reason For Replacement Error Message</description>
        <name>ReasonForReplacementError</name>
        <dataType>String</dataType>
        <expression>{!$Label.SMB_Guided_Flow_Reason_For_Replacement}</expression>
    </formulas>
    <formulas>
        <description>LEM-13505 : It evaluates &quot;Replacement Reason Other&quot; field length is greater than 255 characters.</description>
        <name>ReplacementReasonOtherFieldLength</name>
        <dataType>Boolean</dataType>
        <expression>IF(
   ISBLANK({!MerchantOrder.Replacement_Reason_Other__c}),
   false,
   IF(
      LEN({!MerchantOrder.Replacement_Reason_Other__c})&gt;255,
      true,
      false
      )
   )</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Reason for Replacement for other</description>
        <name>ResonForRelacementForOther</name>
        <dataType>String</dataType>
        <expression>{!$Label.SMB_Guided_Flow_Reason_For_Replacement_Other}</expression>
    </formulas>
    <formulas>
        <description>LEM-17073 : This formula is being used to validate manual or lookup entry</description>
        <name>SelectedPrinterIMEI</name>
        <dataType>String</dataType>
        <expression>if(OR(ISNULL({!Defective_Printer_IMEI.selectedChoiceLabels}),ISBLANK({!Defective_Printer_IMEI.selectedChoiceLabels})),{!Manual_Entry_Defective_Printer_IMEI},{!Defective_Printer_IMEI.selectedChoiceLabels})</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Product Selection Error</description>
        <name>SelectedProductError</name>
        <dataType>String</dataType>
        <expression>{!$Label.SMB_Guided_Flow_Selected_Product}</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Select  Store Shipping Country</description>
        <name>SelectedShippingCountryOptions</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;label&quot;:&apos;+&apos;&quot;&apos;+{!StoreAccount.BillingCountry}+&apos;&quot;,&quot;value&quot;:&quot;&apos;+{!StoreAccount.BillingCountry}+&apos;&quot;}]&apos;</expression>
    </formulas>
    <formulas>
        <description>LEM-17073 : This formula is being used to validate manual or lookup entry</description>
        <name>SelectedTableIMEI</name>
        <dataType>String</dataType>
        <expression>If(OR(ISNULL({!Defective_Tablet_IMEI.selectedChoiceLabels}),ISBLANK({!Defective_Tablet_IMEI.selectedChoiceLabels})),{!Manual_Entry_Defective_Tablet_IMEI},{!Defective_Tablet_IMEI.selectedChoiceLabels})</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Set Reason For Other Value</description>
        <name>SelectReasonForOther</name>
        <dataType>String</dataType>
        <expression>if(Text({!MerchantOrder.Reason_for_Replacement__c})=&apos;Other (please specify reason in notes)&apos;,{!MerchantOrder.Replacement_Reason_Other__c}, null)</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Select Order protocol List</description>
        <name>StoreAccountOrderProtocolSelection</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;label&quot;:&apos;+&apos;&quot;&apos;+Text({!StoreAccount.Order_Protocol__c})+&apos;&quot;,&quot;value&quot;:&quot;&apos;+Text({!StoreAccount.Order_Protocol__c})+&apos;&quot;}]&apos;</expression>
    </formulas>
    <formulas>
        <description>LEM-13511: Display an error on blank Tablet or Printer IMEI number</description>
        <name>TabletOrPrinterBlankError</name>
        <dataType>String</dataType>
        <expression>{!$Label.SMB_Guided_Flow_Tablet_Or_Printer}</expression>
    </formulas>
    <formulas>
        <name>validateIMEIValue</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(ISNULL({!TabletIMEI}),ISBLANK({!TabletIMEI})) , OR(ISNULL({!PrinterIMEI}),ISBLANK({!PrinterIMEI})) , OR( ISBLANK({!Manual_Entry_Defective_Printer_IMEI}),ISNULL({!Manual_Entry_Defective_Printer_IMEI})), OR(ISBLANK({!Manual_Entry_Defective_Tablet_IMEI}),ISNULL({!Manual_Entry_Defective_Tablet_IMEI})))</expression>
    </formulas>
    <formulas>
        <description>LEM-17397: It is used to display the Parent Work Order number on success banner message.</description>
        <name>workOrderIdToDisplayBanner</name>
        <dataType>String</dataType>
        <expression>IF({!SubType} = &apos;Marketing Kit&apos;, {!workOrderId}, {!parentTabletWorkOrderId})</expression>
    </formulas>
    <interviewLabel>SubFlow-Guided Equipment Request Order Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow-Guided Equipment Request Order Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>LEM-13511: It creates the child Work Order record.</description>
        <name>Create_Child_Tablet_Work_Order</name>
        <label>Create Child Tablet Work Order</label>
        <locationX>1106</locationX>
        <locationY>4598</locationY>
        <assignRecordIdToReference>workOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_WorkStep_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Tablet_Work_Order_Creation_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>StoreAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activated_Centrally_AC__c</field>
            <value>
                <elementReference>StoreAccount.Activated_Centrally_AC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_to_Store_Assignment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Menu_to_be_Completed_By__c</field>
            <value>
                <elementReference>StoreAccount.Menu_to_be_Completed_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Protocol__c</field>
            <value>
                <elementReference>StoreAccount.Order_Protocol__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentWorkOrderId</field>
            <value>
                <elementReference>parentTabletWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Date_of_Activation__c</field>
            <value>
                <elementReference>StoreAccount.Proposed_Date_of_Activation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisioning_Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Components__c</field>
            <value>
                <elementReference>Return_Component</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>WorkOrderType</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <description>LEM-13483: Creates Parent Marketing Kit Work Order.</description>
        <name>Create_Parent_Marketing_Kit_Work_Order</name>
        <label>Create Parent Marketing Kit Work Order</label>
        <locationX>578</locationX>
        <locationY>4490</locationY>
        <assignRecordIdToReference>workOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_WorkStep_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Marketing_Kit_Work_Order_Creation_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>StoreAccount.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Account_Ids__c</field>
            <value>
                <elementReference>StoreAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Source__c</field>
            <value>
                <stringValue>Guided Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__City__s</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__CountryCode__s</field>
            <value>
                <elementReference>StoreAccount.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__PostalCode__s</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__StateCode__s</field>
            <value>
                <elementReference>StoreAccount.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Address__Street__s</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bundle__c</field>
            <value>
                <elementReference>SelectedProductBundle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisioning_Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Marketing Kit</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <description>LEM-13511: It creates the Work Order record.</description>
        <name>Create_Parent_Tablet_Work_Order</name>
        <label>Create Parent Tablet Work Order</label>
        <locationX>1106</locationX>
        <locationY>4490</locationY>
        <assignRecordIdToReference>parentTabletWorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Child_Tablet_Work_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Parent_Tablet_Work_Order_Creation_Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>StoreAccount.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activated_Centrally_AC__c</field>
            <value>
                <elementReference>StoreAccount.Activated_Centrally_AC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_to_Store_Assignment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Menu_to_be_Completed_By__c</field>
            <value>
                <elementReference>StoreAccount.Menu_to_be_Completed_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Protocol__c</field>
            <value>
                <elementReference>StoreAccount.Order_Protocol__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Date_of_Activation__c</field>
            <value>
                <elementReference>StoreAccount.Proposed_Date_of_Activation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisioning_Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Components__c</field>
            <value>
                <elementReference>Return_Component</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>WorkOrderType</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <description>LEM-13511: Get Contact Record</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>512</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Record_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13511: get New Work order Detail To Display Work order Name in Toast Message</description>
        <name>Get_New_Work_Order_Record_Detail</name>
        <label>Get New Work Order Record Detail</label>
        <locationX>842</locationX>
        <locationY>5246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipmentRequestSuccessResponse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderIdToDisplayBanner</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>NewWorkOrderNumber</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>LEM-13511: Validate Selected Product Name</description>
        <name>Get_Product_Record_Validation</name>
        <label>Get Product Record Validation</label>
        <locationX>512</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Variables</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Bundle2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mx_Order_Product_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14124: Get Records from Mx Order Product Bundle for Marketing Kit.</description>
        <name>Get_Records_from_Marketing_Kit_Product_Bundle</name>
        <label>Get Records from Marketing Kit Product Bundle</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Mx_Order_Product_bundle_values_4</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.BillingCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Preferred_Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.Preferred_Language__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mx_Order_Product_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14124: Get Records from Mx Order Product Bundle.</description>
        <name>Get_Records_from_Mx_Order_Product_Bundle</name>
        <label>Get Records from Mx Order Product Bundle</label>
        <locationX>1106</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Mx_Order_Product_bundle_values_2</targetReference>
        </connector>
        <filterLogic>((1 OR 3) AND 2 AND (4 OR 5))</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.BillingCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>OrderType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mx_Order_Product_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14124: Get Records from Mx Order Product Bundle for Country Equals Canada.</description>
        <name>Get_Records_from_Mx_Order_Product_Bundle_Canada</name>
        <label>Get Records from Mx Order Product Bundle Canada</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Mx_Order_Product_bundle_values_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mx_Order_Product_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14124: Get Records from Mx Order Product Bundle for State Equals Quebec.</description>
        <name>Get_Records_from_Mx_Order_Product_Bundle_Quebec</name>
        <label>Get Records from Mx Order Product Bundle Quebec</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Mx_Order_Product_bundle_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quebec</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mx_Order_Product_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14124: Get Records from Mx Order Product Bundle excluding printer bundles.</description>
        <name>Get_Records_from_Mx_Order_Product_Bundle_Without_Printer</name>
        <label>Get Records from Mx Order Product Bundle (Without Printer)</label>
        <locationX>842</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Non_Printer_Mx_Order_Product_bundle_values</targetReference>
        </connector>
        <filterLogic>((1 OR 3) AND 2 AND (4 OR 5) AND NOT(6))</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.BillingCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>OrderType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Printer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mx_Order_Product_Bundle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13511: It is used to get the Work Step Records related to the created work Order</description>
        <name>Get_WorkStep_Records</name>
        <label>Get WorkStep Records</label>
        <locationX>842</locationX>
        <locationY>5030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Mx_Orders_and_Mx_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-16546: It is used to verify printer eligibility by fetching Secondary Tags on Business Account containing “Top Mx”.</description>
        <name>Top_Mx_Secondary_Tags_from_Business_Account</name>
        <label>Top Mx Secondary Tags from Business Account</label>
        <locationX>974</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Store_Experience</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreAccount.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MxTagName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Top MX</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mx_Tag_Association__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>LEM_13511 : Screen for create Order and WorkOrder Record</description>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>512</locationX>
        <locationY>1658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>ScreenProgressIndicator</name>
            <extensionName>c:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>ProgressIndicatorStep</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>progressIndicatorMap</name>
                <value>
                    <elementReference>ProgressIndicatorMap</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requestType</name>
                <value>
                    <elementReference>RequestType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayErrors</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>errorMessages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisplayError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Selection</name>
            <fieldText>Product Selection</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Selection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Store_Order_Protocol_Message</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Ensure Store Order Protocol contains Tablet before continuing. If Mx is changing order protocol to Tablet, please exit this flow and amend the contract.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestType</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Marketing Kit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OrderProtocol</name>
                    <extensionName>c:guidedFlowPickList</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>options</name>
                        <value>
                            <elementReference>StoreAccountOrderProtocolSelection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickListLabel</name>
                        <value>
                            <stringValue>Order Protocol</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isProgressIndicator</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickListValue</name>
                        <value>
                            <elementReference>StoreAccount.Order_Protocol__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Selection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_Text</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RequestType</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Marketing Kit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Product_Bundle2</name>
                    <choiceReferences>ShowProductBundleName</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product_Bundle2</elementReference>
                    </defaultValue>
                    <fieldText>Product Bundle</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Return </stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Return_Replacement_Info</name>
            <fieldText>Return / Replacement Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Replacement_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Return_Component</name>
                    <choiceReferences>ReturnComponent_Yes</choiceReferences>
                    <choiceReferences>RteurnComponent_No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultComponentReturnType</elementReference>
                    </defaultValue>
                    <fieldText>Return Components</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>IsRequestTypeReturnLabelOnly</elementReference>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ReasonForReplacement</name>
                    <extensionName>c:guidedFlowPickList</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>pickListLabel</name>
                        <value>
                            <stringValue>Replacement Reason</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickListFieldName</name>
                        <value>
                            <stringValue>ReturnReason</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickListValue</name>
                        <value>
                            <elementReference>MerchantOrder.Reason_for_Replacement__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>otherOption</name>
                        <value>
                            <stringValue>Other (please specify reason in notes)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>otherReasonValue</name>
                        <value>
                            <elementReference>MerchantOrder.Replacement_Reason_Other__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>otheOptionFieldLabel</name>
                        <value>
                            <stringValue>Reason for Replacement (if other) </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>otheOptionFieldVariant</name>
                        <value>
                            <stringValue>base</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>MerchantOrder.Reason_for_Replacement__c</assignToReference>
                        <name>outPutValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>MerchantOrder.Replacement_Reason_Other__c</assignToReference>
                        <name>otherReason</name>
                    </outputParameters>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter reason for other.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!DisplayResonForOtherErrorMessage}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Replacement_Info_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Defective_Tablet_IMEI</name>
                    <choiceReferences>SelectDefectiveTabletIMEI</choiceReferences>
                    <defaultValue>
                        <elementReference>TabletIMEI</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Defective Tablet IMEI</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>disableTableIMEILookUp</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Manual_Entry_Defective_Tablet_IMEI</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Manual_Entry_Defective_Tablet_IMEI</elementReference>
                    </defaultValue>
                    <fieldText>Manual Entry: Defective Tablet IMEI</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If the IMEI does not appear in the Defective Tablet IMEI search, please enter it here.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>displayManualIMEI</elementReference>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Defective_Printer_IMEI</name>
                    <choiceReferences>SelectDefectivePrinterIMEI</choiceReferences>
                    <defaultValue>
                        <elementReference>PrinterIMEI</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Defective Printer IMEI</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>disablePrinterIMEILookUp</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Manual_Entry_Defective_Printer_IMEI</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Manual_Entry_Defective_Printer_IMEI</elementReference>
                    </defaultValue>
                    <fieldText>Manual Entry: Defective Printer IMEI</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If the IMEI does not appear in the Defective Printer IMEI search, please enter it here.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>disablePrinterManulaEntry</elementReference>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Net-New</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Marketing Kit</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Details</name>
            <fieldText>Contact Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactLookUp</name>
                    <extensionName>c:guidedFlowLookUp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreAccount.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>ContactRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayInfo</name>
                        <value>
                            <stringValue>{    &quot;additionalFields&quot;:[   &quot;Email&quot; , &quot;Phone&quot;   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filter</name>
                        <value>
                            <stringValue>{    &quot;criteria&quot;:[       {          &quot;fieldPath&quot;:&quot;AccountId&quot;,          &quot;operator&quot;:&quot;eq&quot;,          &quot;value&quot;:&quot;&quot;       }    ],    &quot;filterLogic&quot;:&quot;1&quot; }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>matchingInfo</name>
                        <value>
                            <stringValue>{    &quot;primaryField&quot;:{       &quot;fieldPath&quot;:&quot;Name&quot;    },    &quot;additionalFields&quot;:[       {          &quot;fieldPath&quot;:&quot;Email&quot;       }    ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>globalSearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContactRecordId</assignToReference>
                        <name>selectedId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ContactRecordId</assignToReference>
                        <name>defaultValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AddNewContact</name>
                    <extensionName>c:guidedFlowAddNewContact</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreAccount.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContactNewRecordId</assignToReference>
                        <name>selectedId</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HasCreateContactRecord</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_Details</name>
            <fieldText>Address Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreAccount.BillingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreAccount.BillingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ShippingCountry</name>
                    <extensionName>c:guidedFlowPickList</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isProgressIndicator</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>options</name>
                        <value>
                            <elementReference>SelectedShippingCountryOptions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickListLabel</name>
                        <value>
                            <stringValue>Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickListValue</name>
                        <value>
                            <elementReference>StoreAccount.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreAccount.BillingCity</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ShippingStatesCode</name>
                    <extensionName>c:guidedFlowPickList</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>parentPickListValue</name>
                        <value>
                            <elementReference>StoreAccount.BillingCountryCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickListFieldName</name>
                        <value>
                            <stringValue>State</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickListLabel</name>
                        <value>
                            <stringValue>State</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pickListValue</name>
                        <value>
                            <elementReference>StoreAccount.BillingStateCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreAccount.BillingStateCode</assignToReference>
                        <name>outPutValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Shipping_Details</name>
            <fieldText>Shipping Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shipping_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipping_Type</name>
                    <choiceReferences>StandardShipping</choiceReferences>
                    <choiceReferences>ExpeditedShipping</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultShipmentType</elementReference>
                    </defaultValue>
                    <fieldText>Shipping Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>disableShippingType</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shipping_Details_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13511: Return success response on Work Order creation.</description>
        <name>Equipment_Response_Failure_Response</name>
        <label>Equipment Response Failure Response</label>
        <locationX>1898</locationX>
        <locationY>5246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Order</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage2</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>{!$Flow.FaultMessage}. Error occurred during merchant order creation.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13511: Return success response on Work Order creation.</description>
        <name>EquipmentRequestSuccessResponse</name>
        <label>Equipment Response Success Response</label>
        <locationX>842</locationX>
        <locationY>5354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Equipment Request {0} Work Order creation is successful.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>NewWorkOrderNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>workOrderIdToDisplayBanner</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13511: Return success response on Work Order creation.</description>
        <name>Marketing_Kit_Work_Order_Creation_Failure</name>
        <label>Marketing Kit Work Order Creation Failure</label>
        <locationX>842</locationX>
        <locationY>4598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage4</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>{!$Flow.FaultMessage}. Error occured during work order creation.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13511: Return success response on Work Order creation.</description>
        <name>Parent_Tablet_Work_Order_Creation_Failure</name>
        <label>Parent Tablet Work Order Creation Failure</label>
        <locationX>1634</locationX>
        <locationY>4598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessage3</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>{!$Flow.FaultMessage}. Error occured during work order creation.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13511: Return success response on Work Order creation.</description>
        <name>Tablet_Work_Order_Creation_Failure</name>
        <label>Tablet Work Order Creation Failure</label>
        <locationX>1370</locationX>
        <locationY>4706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage3</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>{!$Flow.FaultMessage}. Error occured during work order creation.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Create_Contact_Record_Permission_verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Create_Contact_Record_Permission_verification</name>
        <label>Get Create Contact Record Permission verification</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>User_Has_Custom_Permission_To_Create_Contact_Record</targetReference>
        </connector>
        <flowName>ALF_Equipment_Request_Contact_Permission</flowName>
        <inputAssignments>
            <name>assigneeId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>HasCreateContactRecord</assignToReference>
            <name>hasCreacteContactRecordPermission</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>LEM-16546: It is used to determine printer eligibility for current Store Account.</description>
        <name>businessTopMxCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactNewRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Store new contact record id</description>
        <name>ContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultReturnReplacement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
    <variables>
        <name>DisplayError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-13511: Store Error Message List</description>
        <name>errorMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Check Permission For Create Contact Record</description>
        <name>HasCreateContactRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MerchanOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_Order_Item__c</objectType>
    </variables>
    <variables>
        <description>LEM-13511: Store Merchant order Record</description>
        <name>MerchantOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MX_Order__c</objectType>
    </variables>
    <variables>
        <description>LEM-13511: New Work order number</description>
        <name>NewWorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Order protocol Validation Message</description>
        <name>OrderProtocolValidationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Android Tablet (Merchant Owns)&quot; or &quot;POS and Tablet (Merchant Owns)</stringValue>
        </value>
    </variables>
    <variables>
        <description>LEM-16699: It stores the parent Work Order Id for creating child Work Order.</description>
        <name>parentTabletWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Printer IMEI</description>
        <name>PrinterIMEI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Collection Map for selected Request Type and Step</description>
        <name>ProgressIndicatorMap</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Set Current Progress Indicator Step</description>
        <name>ProgressIndicatorStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Reason For Other</description>
        <name>ReasonForOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Type Of Request
Net-New Tablet and/or Printer
Replacement Tablet, Printer, and/or Accessories
Return Label Only</description>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Return Reason Value</description>
        <name>ReturnReasonValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Selected Product Bundle</description>
        <name>SelectedProductBundle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Store Selected Shipping State</description>
        <name>ShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>StoreAccount.ShippingCountryCode</elementReference>
        </value>
    </variables>
    <variables>
        <description>LEM-13511: Store or Return Shipping Type</description>
        <name>ShippingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>DefaultShipmentType</elementReference>
        </value>
    </variables>
    <variables>
        <description>LEM-13511:StoreAccountVariable</description>
        <name>StoreAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>LEM-13555</description>
        <name>StoreAccountOrderProtocol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;[{&quot;label&quot;:&apos;+&apos;&quot;&apos;+{!StoreAccount.Order_Protocol__c}+&apos;&quot;,&quot;value&quot;:&quot;&apos;+{!StoreAccount.Order_Protocol__c}+&apos;&quot;}]&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>storeExperience</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store Product Bundle Values</description>
        <name>StoreProductBundle</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mx_Order_Product_Bundle__c</objectType>
    </variables>
    <variables>
        <name>SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-13511: Store Tablet IMEI Number</description>
        <name>TabletIMEI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>KEM-13511: It is used in creation of Work Order record.</description>
        <name>workOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>LEM-13511: It stores the created Work Order Id</description>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>