sfdx-source/force-app/main/default/flows/Update_Quote_Line_Prior_Values_on_Deal_Desk_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invoke the apex method to update Quote Lines in Trigger Disabled context.</description>
        <name>Update_Quote_Lines_Prior_Values</name>
        <label>Update Quote Lines Prior Values</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <actionName>QuoteLineItemsServiceImpl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteLines</name>
            <value>
                <elementReference>QuoteLinetobeUpdates</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QuoteLineItemsServiceImpl</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>clearing Quote Line variable.</description>
        <name>Empty_Quote_Line_Variable</name>
        <label>Empty Quote Line Variable</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>QuoteLine.Prior_Approved_Commission_Fee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLine.Prior_Approved_Commission_Percent__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLine.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>collecting Prior Approved Requested Commission of a Quote Line.</description>
        <name>Update_Quote_Line_Prior_Approved_Commission</name>
        <label>Update Quote Line Prior Approved Commission</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QuoteLine.Prior_Approved_Commission_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_each_Quote_Line.Requested_Commission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLine.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_each_Quote_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLinetobeUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Empty_Quote_Line_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>collecting Prior Approved Requested Fee of a Quote Line.</description>
        <name>Update_Quote_Line_Prior_Approved_Fee</name>
        <label>Update Quote Line Prior Approved Fee</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QuoteLine.Prior_Approved_Commission_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_each_Quote_Line.SBQQ__SpecialPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLine.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_each_Quote_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLinetobeUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Empty_Quote_Line_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking whether the Fee Type of Quote Line is Fee or Commission</description>
        <name>Check_Quote_Line_Fee_Type</name>
        <label>Check Quote Line Fee Type</label>
        <locationX>528</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_through_each_Quote_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fee_Type_is_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_each_Quote_Line.Fee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Quote_Line.SBQQ__SpecialPrice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Line_Prior_Approved_Fee</targetReference>
            </connector>
            <label>Fee Type is Fee</label>
        </rules>
        <rules>
            <name>Fee_Type_is_Commission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_each_Quote_Line.Fee_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_each_Quote_Line.Requested_Commission__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Line_Prior_Approved_Commission</targetReference>
            </connector>
            <label>Fee Type is Commission</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Quote Line Prior Value on Deal Desk Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quote Line Prior Values on Deal Desk Approval</label>
    <loops>
        <description>Looping through Approved Quote Lines.</description>
        <name>Loop_through_each_Quote_Line</name>
        <label>Loop through each Quote Line</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Fetch_Quote_Lines_By_Quote_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Quote_Line_Fee_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Lines_Prior_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch all the Quote Lines related to Quote for which Approval was Approved.</description>
        <name>Fetch_Quote_Lines_By_Quote_Id</name>
        <label>Fetch Quote Lines By Quote Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_each_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AQS_Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Existing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fee_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Quote_Lines_By_Quote_Id</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sbaa__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal Desk</stringValue>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMB</stringValue>
            </value>
        </filters>
        <object>sbaa__Approval__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLinetobeUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
