sfdx-source/force-app/main/default/flows/Update_SSN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Fault_Error</name>
        <label>Add Fault Error</label>
        <locationX>722</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>ShowFaultError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>final_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isContactExist</name>
        <label>isContactExist</label>
        <locationX>535</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>Enter_SSN_Last_4_Digits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>contactExist</defaultConnectorLabel>
        <rules>
            <name>contactDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contactErrorScreen</targetReference>
            </connector>
            <label>contactDoesNotExist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update SSN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SSN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>542</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isContactExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>548</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SSN_Last_4Digits__c</field>
            <value>
                <elementReference>SSN_Last_4_Digits</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>contactErrorScreen</name>
        <label>contactErrorScreen</label>
        <locationX>768</locationX>
        <locationY>304</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>contactErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 12, 12);&quot;&gt;Contact record can not be found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_SSN_Last_4_Digits</name>
        <label>Enter SSN (Last 4 Digits)</label>
        <locationX>543</locationX>
        <locationY>459</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_contact</targetReference>
        </connector>
        <fields>
            <name>readinessCheckErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Readiness Error:&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: sans-serif;&quot;&gt;Please ensure SSN (last 4 digits) is populated&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SSN_Last_4_Digits</name>
            <dataType>String</dataType>
            <fieldText>SSN (Last 4 Digits)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>final_Screen</name>
        <label>final Screen</label>
        <locationX>549</locationX>
        <locationY>767</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>readinessCheckErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;Readiness Error:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: sans-serif; font-size: 12px;&quot;&gt;Please ensure SSN (last 4 digits) is populated&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(13, 218, 51);&quot;&gt;Contact updated successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 10, 10);&quot;&gt;We are facing some technical issue, {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>414</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowFaultError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>