sfdx-source/force-app/main/default/flows/Update_PDOA_on_Store_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Fault_Error</name>
        <label>Add Fault Error</label>
        <locationX>750</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>ShowFaultError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isStoreAccountExist</name>
        <label>isStoreAccountExist</label>
        <locationX>542</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Enter_PDOA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>storeAccountExist</defaultConnectorLabel>
        <rules>
            <name>storeAccountDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_store_account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>storeAccountErrorScreen</targetReference>
            </connector>
            <label>storeAccountDoesNotExist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update PDOA on Store Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update PDOA on Store Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_store_account</name>
        <label>get store account</label>
        <locationX>550</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isStoreAccountExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PDOA_on_Store_Account</name>
        <label>Update PDOA on Store Account</label>
        <locationX>554</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_store_account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Proposed_Date_of_Activation__c</field>
            <value>
                <elementReference>get_store_account.Proposed_Date_of_Activation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Enter_PDOA</name>
        <label>Enter PDOA</label>
        <locationX>551</locationX>
        <locationY>531</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_PDOA_on_Store_Account</targetReference>
        </connector>
        <fields>
            <name>readinessErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Readiness Error:&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Please ensure the PDOA do not occur in the past. The Proposed Date of Activation must be set to at least 4 business days into the future.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activation_Details</name>
            <fieldText>Activation Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Activation_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>get_store_account.Proposed_Date_of_Activation__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>557</locationX>
        <locationY>796</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>readinessCheckErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Readiness Error:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;Please ensure the PDOA do not occur in the past. The Proposed Date of Activation must be set to at least 4 business days into the future.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Store_updated_successfully</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(53, 215, 17);&quot;&gt;Store Account has been successfully updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 10, 10);&quot;&gt;We are facing some technical issue, {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>storeAccountErrorScreen</name>
        <label>storeAccountErrorScreen</label>
        <locationX>785</locationX>
        <locationY>344</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>storeAccountErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 9, 9);&quot;&gt;Store account record can not be found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>424</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_store_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>holds the id of the record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowFaultError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
