sfdx-source/force-app/main/default/flows/Update_Seattle_Dasher_Accessibilities_and_Allergens_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AddFaultError</name>
        <label>AddFaultError</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ShowFaultError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Text_To_Redirect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccessibility</name>
        <label>AssignAccessibility</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>GetSeattleStoreAccount.Accessibilities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccessibilityValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accessibility</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <description>Update Accessibilities JSON Previous V9</description>
    <environments>Default</environments>
    <formulas>
        <name>AccessibilityJson</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;accessibilities&quot;:{&quot;needToClimb&quot;:&apos;+{!NeedToClimbValue}+&apos;,&apos;+&apos;&quot;hasElevatorsOrRamps&quot;:&apos;+{!HasElevatorValue}+&apos;}}&apos;</expression>
    </formulas>
    <formulas>
        <name>AccessibilityValue</name>
        <dataType>String</dataType>
        <expression>If(({!GetSeattleStoreAccount.Name_With_Address__c} != Null),If({!Did_merchant_provided_accessibility_information} == {!No},&apos;not provided&apos;,{!AccessibilityJson}),&apos;false&apos;)</expression>
    </formulas>
    <formulas>
        <name>HasElevatorValue</name>
        <dataType>String</dataType>
        <expression>If({!Does_the_store_s_have_elevators_or_ramps_for_accessibility} =={!Yes},&apos;true&apos;,If({!Does_the_store_s_have_elevators_or_ramps_for_accessibility} == {!No},&apos;false&apos;,&apos;false&apos;))</expression>
    </formulas>
    <formulas>
        <name>NeedToClimbValue</name>
        <dataType>String</dataType>
        <expression>If({!Does_the_dasher_needs_to_climb_1_flights_of_stairs_to_pickup_orders_at_these_sto} == {!Yes},&apos;true&apos;,If({!Does_the_dasher_needs_to_climb_1_flights_of_stairs_to_pickup_orders_at_these_sto} == {!No},&apos;false&apos;,&apos;fasle&apos;))</expression>
    </formulas>
    <formulas>
        <name>NotProvidedValue</name>
        <dataType>String</dataType>
        <expression>If({!Did_merchant_provided_accessibility_information} == {!No},&apos;not provided&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>RedirectToWorkOrder</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/lightning/r/WorkOrder/&quot;+{!WorkOrderId}+&quot;/view&quot;, &quot;Please click here to proceed&quot;,&quot;_self&quot;)</expression>
    </formulas>
    <interviewLabel>SeattleDasherAccessiblityAndAllergens {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Seattle Dasher Accessibilities and Allergens Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetSeattleStoreAccount</name>
        <label>GetSeattleStoreAccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seattle_Store_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSeattleStoreAccount.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accessibility</name>
        <label>Update Accessibility</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Text_To_Redirect</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AddFaultError</targetReference>
        </faultConnector>
        <inputReference>GetSeattleStoreAccount</inputReference>
    </recordUpdates>
    <screens>
        <name>Seattle_Store_Account</name>
        <label>Seattle Store Account</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignAccessibility</targetReference>
        </connector>
        <fields>
            <name>Seattle_Massage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(23, 163, 218);&quot;&gt;Seattle regulations require merchants to provide accessibility information to dashers. The following store location fall under these regulations.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seattle_Store_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Seattle_Store_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Store_Account_Name_And_Address</name>
                    <fieldText>&lt;p&gt;{!GetSeattleStoreAccount.Name_With_Address__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Seattle_Store_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Did_merchant_provided_accessibility_information</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Did merchant provided accessibility information?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Does_the_dasher_needs_to_climb_1_flights_of_stairs_to_pickup_orders_at_these_sto</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the dasher needs to climb 1+ flights of stairs to pickup orders at these store(s)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Did_merchant_provided_accessibility_information</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_the_store_s_have_elevators_or_ramps_for_accessibility</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the store(s) have elevators or ramps for accessibility?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_dasher_needs_to_climb_1_flights_of_stairs_to_pickup_orders_at_these_sto</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Text_To_Redirect</name>
        <label>Text To Redirect</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectWorkOrder</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;The store accessibilities are updated successfully.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!RedirectToWorkOrder}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(221, 10, 10);&quot;&gt;We are facing some technical issue, {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSeattleStoreAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowFaultError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
