sfdx-source/force-app/main/default/flows/Update_Order_Protocol.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Fault_Error</name>
        <label>Add Fault Error</label>
        <locationX>814</locationX>
        <locationY>1056</locationY>
        <assignmentItems>
            <assignToReference>ShowFaultError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>storeAccountFinalScrren</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isParentWorkOrderNull</name>
        <label>isParentWorkOrderNull</label>
        <locationX>302</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Get_Store_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Work order record Exist</defaultConnectorLabel>
        <rules>
            <name>workOrderisNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getParentWorkOrder.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workOrderRecordNotFoundScreen</targetReference>
            </connector>
            <label>workOrderisNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>isStoreAccountNull</name>
        <label>isStoreAccountNull</label>
        <locationX>309</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>enterOrderProtocol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Store Account record exist</defaultConnectorLabel>
        <rules>
            <name>StoreAccountisNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Store_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>storeAccountRecordNotFoundScreen</targetReference>
            </connector>
            <label>StoreAccountisNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Order Protocol {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Order Protocol</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Store_Account</name>
        <label>Get Store Account</label>
        <locationX>496</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isStoreAccountNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRedinessCheckRecord.Account_Name__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentWorkOrder</name>
        <label>getParentWorkOrder</label>
        <locationX>497</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isParentWorkOrderNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRedinessCheckRecord.Parent_Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRedinessCheckRecord</name>
        <label>getRedinessCheckRecord</label>
        <locationX>497</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParentWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Readiness_Check_Failure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateParentWorkOrder</name>
        <label>updateParentWorkOrder</label>
        <locationX>496</locationX>
        <locationY>855</locationY>
        <connector>
            <targetReference>updateStoreAccountOrderProtocol</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getParentWorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Protocol__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>getParentWorkOrder.Order_Protocol__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Protocol__c</field>
            <value>
                <elementReference>getParentWorkOrder.Order_Protocol__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateStoreAccountOrderProtocol</name>
        <label>updateStoreAccountOrderProtocol</label>
        <locationX>496</locationX>
        <locationY>1061</locationY>
        <connector>
            <targetReference>storeAccountFinalScrren</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Store_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Protocol__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Store_Account.Order_Protocol__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Protocol__c</field>
            <value>
                <elementReference>Get_Store_Account.Order_Protocol__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>enterOrderProtocol</name>
        <label>enterOrderProtocol</label>
        <locationX>496</locationX>
        <locationY>672</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateParentWorkOrder</targetReference>
        </connector>
        <fields>
            <name>ReadinessCheckErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Readiness Error: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;Please ensure the Order Protocol on the Store Account matches with the Parent Work Order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parent_Work_Order_Work_Order_Details</name>
            <fieldText>Parent Work Order | Work Order Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Parent_Work_Order_Work_Order_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getParentWorkOrder.Order_Protocol__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Store_Account_Order_Protocol_Details</name>
            <fieldText>Store Account | Order Protocol Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Store_Account_Order_Protocol_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Store_Account.Order_Protocol__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>storeAccountFinalScrren</name>
        <label>storeAccountFinalScrren</label>
        <locationX>496</locationX>
        <locationY>1241</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>readinessErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;Readiness Error:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt; Please ensure the Order Protocol on the Store Account matches with the Parent Work Order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(9, 202, 86);&quot;&gt;Order Protocol is Updated Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorTextMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 10, 10);&quot;&gt;We are facing some technical issue, {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>ShowFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>storeAccountRecordNotFoundScreen</name>
        <label>storeAccountRecordNotFoundScreen</label>
        <locationX>144</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>storeAccountRecordNotfoundError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 8, 8);&quot;&gt;Store account record can not be found.&lt;/span&gt;&lt;span style=&quot;color: rgb(234, 6, 6);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>workOrderRecordNotFoundScreen</name>
        <label>workOrderRecordNotFoundScreen</label>
        <locationX>132</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>workOrderRecordNotfoundError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 8, 8);&quot;&gt;Work Order record can not be found.&lt;/span&gt;&lt;span style=&quot;color: rgb(234, 6, 6);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>371</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRedinessCheckRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowFaultError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>