sfdx-source/force-app/main/default/flows/Update_Case_Requester.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>LEM-8970 Assign Case Requester</description>
        <name>Assign_Case_Requester_with_CreatedById</name>
        <label>Assign Case Requester with CreatedById</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>LEM-8970 Assign Case Requester</description>
        <name>Assign_Case_Requester_with_UserID</name>
        <label>Assign Case Requester with UserID</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>LEM-8970</description>
        <name>caseCreatedOrUpdated</name>
        <label>caseCreatedOrUpdated</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Requester_with_CreatedById</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Requester_with_UserID</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <description>LEM-8970 Flow to update the Case Requester with CreatedBy when Requester is blank</description>
    <environments>Default</environments>
    <interviewLabel>Update Case Requester {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Requester</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>caseCreatedOrUpdated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Requester__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
