sfdx-source/force-app/main/default/flows/Update_Invalid_Rate_Change_Request_To_Canceled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_the_RCR_Owner</name>
        <label>Notify the RCR Owner</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_over_updated_RCRs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_over_updated_RCRs.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>RateChangeRequestfailed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Cancel_Status_to_Rate_Change_Request</name>
        <label>Assign Cancel Status to Rate Change Request</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>RateChangeRequest.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_Change_Requests_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RateChangeRequest.Activation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RateChangeRequest.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_Change_Requests_Loop.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RateChangeRequest.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_Change_Requests_Loop.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RCRsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RateChangeRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rate_Change_Requests_Loop</targetReference>
        </connector>
    </assignments>
    <description>LEM-14612 this flow updates the invalid Rate Change Requests to Canceled and Notify the Owners.</description>
    <environments>Default</environments>
    <formulas>
        <name>DetailLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;,
    {!$Api.Enterprise_Server_URL_510})) &amp;
    {!Loop_over_updated_RCRs.Id}</expression>
    </formulas>
    <formulas>
        <name>EffectiveDateBefore</name>
        <dataType>Date</dataType>
        <expression>TODAY()-{!DaysbeforeEffectiveDate}</expression>
    </formulas>
    <interviewLabel>Update Invalid Rate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Invalid Rate Change Request To Canceled</label>
    <loops>
        <name>Loop_over_updated_RCRs</name>
        <label>Loop over updated RCRs</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <collectionReference>RCRsToBeUpdated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Notify_the_RCR_Owner</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Rate_Change_Requests_Loop</name>
        <label>Rate Change Requests Loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_New_Rate_Change_Requests_Older_Than_N_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cancel_Status_to_Rate_Change_Request</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_RCR_To_Cancelled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch the records older than n days</description>
        <name>Get_New_Rate_Change_Requests_Older_Than_N_Days</name>
        <label>Get New Rate Change Requests Older Than N Days</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rate_Change_Requests_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>EffectiveDateBefore</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rate_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Rate Change Requests to Cancelled</description>
        <name>Update_RCR_To_Cancelled</name>
        <label>Update RCR To Cancelled</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Loop_over_updated_RCRs</targetReference>
        </connector>
        <inputReference>RCRsToBeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_New_Rate_Change_Requests_Older_Than_N_Days</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-22</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!Loop_over_updated_RCRs.Owner:User.FirstName} {!Loop_over_updated_RCRs.Owner:User.LastName}&lt;/p&gt;&lt;p&gt;Your Rate Change Request {!DetailLink} for {!Loop_over_updated_RCRs.Contract__r.Account.Name} has failed.&lt;/p&gt;&lt;p&gt;Please re-attempt the rate change by submitting a new Rate Change Request.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;DDMx Salesforce Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DaysbeforeEffectiveDate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RateChangeRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Rate_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>RateChangeRequestfailed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Your Rate Change Request has failed</stringValue>
        </value>
    </variables>
    <variables>
        <name>RCRsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Rate_Change_Request__c</objectType>
    </variables>
</Flow>
