sfdx-source/force-app/main/default/flows/Update_PDOA_on_WorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addErrorMessage</name>
        <label>addErrorMessage</label>
        <locationX>747</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>showFaultError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>workOrderFinalScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isWorkOrderExist</name>
        <label>isWorkOrderExist</label>
        <locationX>541</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>updatePDOAandPDOT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>workOrderExist</defaultConnectorLabel>
        <rules>
            <name>workOrderDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorkOrder.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>workOrderErrorScreen</targetReference>
            </connector>
            <label>workOrderDoesNotExist</label>
        </rules>
    </decisions>
    <description>Added PDOA Delay Reason field as part of UAT Feedback</description>
    <environments>Default</environments>
    <interviewLabel>Update PDOA on WorkOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update PDOA on WorkOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>546</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isWorkOrderExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateWorkOrder</name>
        <label>updateWorkOrder</label>
        <locationX>552</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>workOrderFinalScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>addErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDOA_Delay_Details__c</field>
            <value>
                <elementReference>getWorkOrder.PDOA_Delay_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDOA_Delay_Reason__c</field>
            <value>
                <elementReference>getWorkOrder.PDOA_Delay_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Date_of_Activation__c</field>
            <value>
                <elementReference>getWorkOrder.Proposed_Date_of_Activation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Date_of_Tablet__c</field>
            <value>
                <elementReference>getWorkOrder.Proposed_Date_of_Tablet__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>updatePDOAandPDOT</name>
        <label>updatePDOAandPDOT</label>
        <locationX>551</locationX>
        <locationY>505</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateWorkOrder</targetReference>
        </connector>
        <fields>
            <name>readinessErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Readiness Error:&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; Please ensure the PDOA, PDOT do not occur in the past. The Proposed Date of Activation must be set to at least 4 business days into the future.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Details</name>
            <fieldText>Work Order Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Order_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getWorkOrder.Proposed_Date_of_Activation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getWorkOrder.PDOA_Delay_Reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getWorkOrder.PDOA_Delay_Details__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getWorkOrder.Proposed_Date_of_Tablet__c</objectFieldReference>
                </fields>
                <fields>
                    <name>proposeDateofMenu</name>
                    <fieldText>&lt;p&gt;Propose Date of Menu&lt;/p&gt;&lt;p&gt;{!getWorkOrder.Proposed_Date_of_Menu__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>workOrderErrorScreen</name>
        <label>workOrderErrorScreen</label>
        <locationX>806</locationX>
        <locationY>337</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>workOrderErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 6, 6);&quot;&gt;Work order record can not be found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>workOrderFinalScreen</name>
        <label>workOrderFinalScreen</label>
        <locationX>554</locationX>
        <locationY>766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>readinessErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px; font-family: sans-serif;&quot;&gt;Readiness Error:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px; font-family: sans-serif;&quot;&gt; Please ensure the PDOA, PDOT do not occur in the past. The Proposed Date of Activation must be set to at least 4 business days into the future.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(10, 234, 55);&quot;&gt;Work Order Updated Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>showFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(221, 10, 10);&quot;&gt;We are facing some technical issue, {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>showFaultError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>423</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showFaultError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
