sfdx-source/force-app/main/default/flows/Update_Contract_with_MSA_and_FSA_Public_Urls.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_FSA_URL_value</name>
        <label>Set FSA URL value</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>FSAURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Distribution_Record_of_FSA_File.DistributionPublicUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Record_with_FSA_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MSA_URL_value</name>
        <label>Set MSA URL value</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>MSAURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Distribution_Record_of_MSA_File.DistributionPublicUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Record_with_MSA_URL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_FSA_file_is_uploaded</name>
        <label>Check If FSA file is uploaded</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_FSA_Content_Distribution_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_of_FSA_File_Uploaded.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Distribution_Record_of_FSA_File</targetReference>
            </connector>
            <label>Create FSA Content Distribution Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_MSA_and_FSA_Files_are_uploaded</name>
        <label>Check If MSA and FSA Files are uploaded ?</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_If_MSA_file_is_uploaded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_MSA_and_FSA_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_of_FSA_File_Uploaded.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Records_of_MSA_File_Uploaded.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_MSA_and_FSA_Files</targetReference>
            </connector>
            <label>If MSA and FSA is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_MSA_file_is_uploaded</name>
        <label>Check If MSA file is uploaded</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_If_FSA_file_is_uploaded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_MSA_Content_Distribution_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_of_MSA_File_Uploaded.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Distribution_Record_of_MSA_File</targetReference>
            </connector>
            <label>Create MSA Content Distribution Record</label>
        </rules>
    </decisions>
    <description>LEM-13141: Update the Contract with MSA and FSA Public URLs when the user uploads the files in the component</description>
    <environments>Default</environments>
    <interviewLabel>Update Contract with MSA and FSA Public Urls {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contract with MSA and FSA Public Urls</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Distribution_Record_of_FSA_File</name>
        <label>Create Content Distribution Record of FSA File</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Get_Content_Distribution_Record_of_FSA_File</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>Get_Records_of_FSA_File_Uploaded.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Records_of_FSA_File_Uploaded.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesNotifyOnVisit</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Distribution_Record_of_MSA_File</name>
        <label>Create Content Distribution Record of MSA File</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Content_Distribution_Record_of_MSA_File</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>Get_Records_of_MSA_File_Uploaded.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Records_of_MSA_File_Uploaded.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesNotifyOnVisit</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Distribution_Record_of_FSA_File</name>
        <label>Get Content Distribution Record of FSA File</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_FSA_URL_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Content_Distribution_Record_of_FSA_File</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Distribution_Record_of_MSA_File</name>
        <label>Get Content Distribution Record of MSA File</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_MSA_URL_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Content_Distribution_Record_of_MSA_File</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_of_FSA_File_Uploaded</name>
        <label>Get Records of FSA File Uploaded</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_MSA_and_FSA_Files_are_uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FSAFile.contentVersionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_of_MSA_File_Uploaded</name>
        <label>Get Records of MSA File Uploaded</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_of_FSA_File_Uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MSAFile.contentVersionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Record_with_FSA_URL</name>
        <label>Update Contract Record with FSA URL</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractRecordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Franchise_Supplemental_Agreement_URL__c</field>
            <value>
                <elementReference>FSAURL</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Record_with_MSA_URL</name>
        <label>Update Contract Record with MSA URL</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Check_If_FSA_file_is_uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractRecordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Master_Supplemental_Agreement_URL__c</field>
            <value>
                <elementReference>MSAURL</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Records_of_MSA_File_Uploaded</targetReference>
        </connector>
        <fields>
            <name>MSAFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>MSAFileUpload</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ContractRecordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MSAFileNameDisplayTest</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;MSA File Uploaded : {!MSAFile.fileNames}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FSAFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FSAFileUpload</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ContractRecordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FSAFileNameDisplayTest</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;FSA File Uploaded : {!FSAFile.fileNames}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_MSA_and_FSA_Files</name>
        <label>Upload MSA and FSA Files</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UploadMSAorFSAFileDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(44, 44, 44);&quot;&gt;Please Upload an MSA or FSA File.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FSAFileUpload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please upload FSA file :</text>
    </textTemplates>
    <textTemplates>
        <name>MSAFileUpload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please upload MSA file appended with all applicable amendments:</text>
    </textTemplates>
    <variables>
        <name>ContractRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>FSAURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MSAURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
