sfdx-source/force-app/main/default/flows/UserLoginFlowStandard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>ForceLogout</name>
        <label>Force Logout</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForceLogoutScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SYSTEM_ADMINISTRATOR_PROFILE_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines the login experience the user should have</description>
        <name>LoginExperience</name>
        <label>Login Experience</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Normal</defaultConnectorLabel>
        <rules>
            <name>SystemAdministratorExperience</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SYSTEM_ADMINISTRATOR_PROFILE_NAME</elementReference>
                </rightValue>
            </conditions>
            <label>System Administrator</label>
        </rules>
        <rules>
            <name>SystemMaintenanceOutage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.UserAccessBlocked_SystemMaintenanceWindow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoLoginScreen</targetReference>
            </connector>
            <label>System Maintenance Outage</label>
        </rules>
    </decisions>
    <description>LEM-21628: Provides a hook into the user login process to execute business logic</description>
    <environments>Default</environments>
    <interviewLabel>User Login Flow (Standard) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Login Flow (Standard)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoginExperience</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>After setting the ForceLogout param, a screen has to be displayed to execute the logout behavior.  Just a blank screen component works</description>
        <name>ForceLogoutScreen</name>
        <label>ForceLogoutScreen</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoLoginScreen</name>
        <label>System Maintenance Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ForceLogout</targetReference>
        </connector>
        <fields>
            <name>SystemMaintenanceMessageContainer</name>
            <fieldText>&lt;p&gt;{!SystemMaintenanceMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Displayed when system is down for maintenance</description>
        <name>SystemMaintenanceMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sorry the system is down for maintenance at this time.  Check back later...&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
