sfdx-source/force-app/main/default/flows/Workflow_Mx_Email_Thread_Failure_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>Contact.LEM_13579_Mx_Email_Thread_Failure_Response</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Create_Apex_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_for_Email_Alert</name>
        <label>Check for Email Alert</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Alert_Mx_Email_Thread_Failure_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlertName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mx_Email_Thread_Alert</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Notification</targetReference>
            </connector>
            <label>Email Alert Mx Email Thread Failure Response</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Workflow Mx Email Thread Failure Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Workflow Mx Email Thread Failure Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Apex_Log</name>
        <label>Create Apex Log</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Class_Method_Name__c</field>
            <value>
                <elementReference>EmailAlertName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <stringValue>Mx Email Thread Failure Response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>GENERIC_LOG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quiddity__c</field>
            <value>
                <stringValue>FLOW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Email_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailAlertName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mx_Email_Thread_Alert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.Inbound_Thread_Failure_Response_Email_Alert</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
