sfdx-source/force-app/main/default/flows/WorkPlan_PhotoShoot_Request_Guided_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Decision_Maker_Contact_Id</name>
        <label>Assign Decision Maker Contact Id</label>
        <locationX>1458</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>decisionMakerContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Contact_Role_Validation.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Contact_Role_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Assign Error Messages</description>
        <name>Assign_Error_For_Account_And_Contact_Selection</name>
        <label>Assign Error For Account And Contact Selection</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please fill out all required fields before continuing.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Account_And_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Assign Error Messages</description>
        <name>Assign_Error_Message_to_List_Variable</name>
        <label>Assign Error Message to List Variable</label>
        <locationX>512</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please fill out all required fields before continuing.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,~</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_PhotoShoot_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Photoshoot_Contact_Id</name>
        <label>Assign Photoshoot Contact Id</label>
        <locationX>1194</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>photoshootContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Contact_Role_Validation.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Contact_Role_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14528 : Store signle store value details</description>
        <name>Assignment_For_Single_Store</name>
        <label>Assignment For Single Store</label>
        <locationX>248</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>displayAccountLookup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store_Account_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedStoreAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store_Account_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Account_And_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValueForParentAccountIsBlannk</name>
        <label>AssignValueForParentAccountIsBlannk</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>businessAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkPlan_Record_Detail.WorkOrder.ParentWorkOrder.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkPlan_Record_Detail.WorkOrder.Account.Total_Number_Of_Stores__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Duplicate_Work_Order_Records_For_Business_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14528 : Store Value For Parent Account is not Blank</description>
        <name>AssignValueForParentAccountIsNotBlank</name>
        <label>AssignValueForParentAccountIsNotBlank</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>businessAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkPlan_Record_Detail.WorkOrder.ParentWorkOrder.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WorkPlan_Record_Detail.WorkOrder.ParentWorkOrder.Account.Total_Number_Of_Stores__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Duplicate_Work_Order_Records_For_Business_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14528 : Store signle store value details</description>
        <name>Copy_1_of_Assignment_For_Multiple_Store</name>
        <label>Assignment For Multiple Store</label>
        <locationX>512</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>displayAccountLookup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedStoreAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Account_And_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-14528 : Display Warning Message For Duplicate Record</description>
        <name>Duplicate_Warning_Message</name>
        <label>Duplicate Warning Message</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DisplayRequestTypeErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Please review previous related duplicate requests.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Work_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Rest Error Messages</description>
        <name>Reset_Assign_Error_Message_to_List_Variable</name>
        <label>Reset Error Message to List Variable</label>
        <locationX>710</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>errorMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Assign Error Messages</description>
        <name>Reset_Error_For_Account_And_Contact_Selection</name>
        <label>Reset Error For Account And Contact Selection</label>
        <locationX>710</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>displayValidationError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>errorMessages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 - Store Business Contact Recod</description>
        <name>Store_Contact_Record_With_Business_Contact</name>
        <label>Store Contact Record With Business Contact</label>
        <locationX>710</locationX>
        <locationY>3314</locationY>
        <assignmentItems>
            <assignToReference>SelectedContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Contact_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedAccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WorkStep_Menu_Preview_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>LEM-13504 : Update Merchant Order Address Field</description>
        <name>Update_Merchant_Order_Address_Field</name>
        <label>Update Merchant Order Address Field</label>
        <locationX>776</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>Get_Merchant_Order_For_Selected_WorkOrder.Merchant_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedAccountRecord.BillingAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessToastMessage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Highvaluemarketmxrequestingadditionalphotos</name>
        <choiceText>High value market mx requesting additional photos&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High value market mx requesting additional photos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Issueswiththeoriginalphotoshootdelivered</name>
        <choiceText>Issues with the original photoshoot delivered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Issues with the original photoshoot delivered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacingolderphotosduetonewmenu</name>
        <choiceText>Replacing older photos due to new menu&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacing older photos due to new menu</stringValue>
        </value>
    </choices>
    <decisions>
        <description>LEM-14528 : Check Condition For Duplicate Record</description>
        <name>Check_Duplicate_Recor</name>
        <label>Check Duplicate Recor</label>
        <locationX>380</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Check_number_Of_Store_At_WorkOrder_Level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Duplicate</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Work_Order_Records_For_Business_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Warning_Message</targetReference>
            </connector>
            <label>Duplicate Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 : Check Whether Merchant Order Record Created or Not</description>
        <name>Check_merchant_Order_Exist</name>
        <label>Check merchant Order Exist</label>
        <locationX>908</locationX>
        <locationY>4178</locationY>
        <defaultConnector>
            <targetReference>SuccessToastMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>merchantorderNotCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Merchant_Order_For_Selected_WorkOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Merchant_Order_Address_Field</targetReference>
            </connector>
            <label>Merchant Order Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-14528 : Check Number Of Store At Work Order Level</description>
        <name>Check_number_Of_Store_At_WorkOrder_Level</name>
        <label>Check number Of Store At WorkOrder Level</label>
        <locationX>380</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assignment_For_Multiple_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Actual Number Of Store More Than One</defaultConnectorLabel>
        <rules>
            <name>Validate_number_Of_Store_At_WorkOrder_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalStore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Store_Id_From_Parent_WorkOrder</targetReference>
            </connector>
            <label>Validate number Of Store At WorkOrder Level</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-14528 : Check Parent Account Id</description>
        <name>Check_Parent_Account_Record</name>
        <label>Check Parent Account Record</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>AssignValueForParentAccountIsNotBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Account Is Not Blank</defaultConnectorLabel>
        <rules>
            <name>Paent_Account_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkPlan_Record_Detail.WorkOrder.ParentWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValueForParentAccountIsBlannk</targetReference>
            </connector>
            <label>Paent Account Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check User Permission</description>
        <name>Check_User_Permission</name>
        <label>Check User Permission</label>
        <locationX>226</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Check_number_Of_Store_At_WorkOrder_Level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Do_Not_Have_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Allow_Duplicate_Photoshoot_Request_Creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayDuplicateErrorMessage</targetReference>
            </connector>
            <label>User Do Not Have  Access</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 : Store Contact Record In Variable</description>
        <name>Decision_On_Get_Contact_Record</name>
        <label>Decision On Get Contact Record</label>
        <locationX>710</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Account_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision Make Record</defaultConnectorLabel>
        <rules>
            <name>Business_Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Contact_Record</targetReference>
            </connector>
            <label>Business Contact Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 - Check Required Field Validation</description>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>710</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Create_Work_order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Validation_Rule_Message</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Menu_Preview_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_URL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_URL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Menu_Preview_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Message_to_List_Variable</targetReference>
            </connector>
            <label>Required Validation Rule Message</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-14528: It verifies if photoshoot contact exists for the store.</description>
        <name>Photoshoot_Contact_Exists</name>
        <label>Photoshoot Contact Exists?</label>
        <locationX>1458</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>Account_Contact_Role_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Photoshoot_contact_exists_for_store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Contact_Role_Validation.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Photoshoot Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Photoshoot_Contact_Id</targetReference>
            </connector>
            <label>Photoshoot contact exists for store</label>
        </rules>
        <rules>
            <name>Decision_Maker_contact_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Contact_Role_Validation.Roles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Decision Maker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Decision_Maker_Contact_Id</targetReference>
            </connector>
            <label>Decision Maker contact exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>LEM-13504 : Decision on whether Account and Contact are selected or not.</description>
        <name>Validate_Account_or_Contact_Record_Selections</name>
        <label>Validate Account or Contact Record Selection</label>
        <locationX>380</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Reset_Error_For_Account_And_Contact_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Add_Error_Message</name>
            <conditionLogic>((1 OR 2) AND 5) OR (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>SelectedStoreAccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedStoreAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>displayAccountLookup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_For_Account_And_Contact_Selection</targetReference>
            </connector>
            <label>Add Error Message</label>
        </rules>
    </decisions>
    <description>LEM-14528: When Activate Centrally = Yes, MxS will perform Activations Outreach. If a Mx has agreed to a Photoshoot, they will will collect Photoshoot inputs (contact, address, date/time) from the Mx and then a Photoshoot Work Order will be created.</description>
    <environments>Default</environments>
    <formulas>
        <description>LEM-13504 -Get Current Date After 2 Days</description>
        <name>GateDateTimeAfterTwoDaye</name>
        <dataType>DateTime</dataType>
        <expression>if(
WEEKDAY($Flow.CurrentDate)==1 || WEEKDAY($Flow.CurrentDate)==2  || WEEKDAY($Flow.CurrentDate)==3  || WEEKDAY($Flow.CurrentDate)==4  || WEEKDAY($Flow.CurrentDate)==5,
$Flow.CurrentDateTime+2,$Flow.CurrentDateTime+3)</expression>
    </formulas>
    <interviewLabel>WorkPlan PhotoShoot Request Guided Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkPlan PhotoShoot Request Guided Flow</label>
    <loops>
        <description>LEM-14528: It checks the Account Contact role to verify that Photoshoot contact exists.</description>
        <name>Account_Contact_Role_Validation</name>
        <label>Account Contact Role Validation</label>
        <locationX>1106</locationX>
        <locationY>2630</locationY>
        <collectionReference>Account_Contact_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Photoshoot_Contact_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Selected_Contact_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>LEM-13504: It creates Photoshoot Parent WorkOrder.</description>
        <name>Create_Work_order_Record</name>
        <label>Create Work order Record</label>
        <locationX>908</locationX>
        <locationY>3854</locationY>
        <assignRecordIdToReference>workOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>WorkOrderCreationFailureMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SelectedAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SelectedContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creation_Source__c</field>
            <value>
                <stringValue>Guided Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Date__c</field>
            <value>
                <elementReference>PhotoShoot_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photoshoot_Time__c</field>
            <value>
                <elementReference>PhotoShoot_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provisioning_Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Photoshoot</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <description>LEM-13504 : Get Contact Record Id From Account Contact Record for Selected ContactId</description>
        <name>Account_Contact_Record</name>
        <label>Account Contact Record</label>
        <locationX>1106</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Contact_Role_Validation</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Store_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Photoshoot Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13504 : Get Duplicate Work Order Records For Selected AccountWhere Segment = SMB</description>
        <name>Get_Duplicate_Work_Order_Records_For_Business_Account</name>
        <label>Get Duplicate Work Order Records For Business Account</label>
        <locationX>380</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Duplicate_Recor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Dead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Photoshoot</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order_Name_Link__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13504 : Update Address Field in Merchant order</description>
        <name>Get_Merchant_Order_For_Selected_WorkOrder</name>
        <label>Get Merchant Order For Selected WorkOrder</label>
        <locationX>908</locationX>
        <locationY>4070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_merchant_Order_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MX_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>710</locationX>
        <locationY>3206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Contact_Record_With_Business_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Get Selected Account Details</description>
        <name>Get_Store_Account_Details</name>
        <label>Get Store Account Details</label>
        <locationX>248</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_For_Single_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Store_Id_From_Parent_WorkOrder.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Get Store Id</description>
        <name>Get_Store_Id_From_Parent_WorkOrder</name>
        <label>Get Store Id From Parent WorkOrder</label>
        <locationX>248</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Store_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentWorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkPlan_Record_Detail.WorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-14528 : Get WorkPlan Record Details</description>
        <name>Get_WorkPlan_Record_Detail</name>
        <label>Get WorkPlan Record Detail</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkStep_Menu_Preview_Link</name>
        <label>Get WorkStep Menu Preview Link</label>
        <locationX>710</locationX>
        <locationY>3422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PhotoShoot_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketplace</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Setup Menu</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>LEM-13504 : Get Store Account Record for selected account.</description>
        <name>Store_Account_Record</name>
        <label>Store Account Record</label>
        <locationX>710</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_On_Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedStoreAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>LEM-13504 : Update Contact Record</description>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>908</locationX>
        <locationY>3962</locationY>
        <connector>
            <targetReference>Get_Merchant_Order_For_Selected_WorkOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpateContactRecordFailure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedContactRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Con_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MoCon_Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Con_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <description>LEM-13504 : Create PhotoShoot Record</description>
        <name>Create_PhotoShoot_Record</name>
        <label>Create PhotoShoot Record</label>
        <locationX>710</locationX>
        <locationY>3530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_Assign_Error_Message_to_List_Variable</targetReference>
        </connector>
        <fields>
            <name>DisplayValidationErrorMessages</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>errorMessages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <elementReference>displayValidationError</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>displayValidationError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Store_Details</name>
            <fieldText>Store Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Store_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Store_Account</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Store_Account_Record.Name_With_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Store Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <!--isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled-->
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SelectedAccountRecord.BillingAddress</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Store_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Information</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Contact_Record.Name</elementReference>
                    </defaultValue>
                    <fieldText>Contact Information</fieldText>
                    <fieldType>InputField</fieldType>
                    <!--isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled-->
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Con_First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedContactRecord.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <!--isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled-->
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Con_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedContactRecord.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <!--isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled-->
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Con_Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedContactRecord.Email</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MoCon_Mobile</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedContactRecord.MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Con_Phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedContactRecord.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContactPhotoShoot_Date_Time</name>
            <fieldText>PhotoShoot Date &amp; Time</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ContactPhotoShoot_Date_Time_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PhotoShoot_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_WorkPlan_Record_Detail.WorkOrder.Photoshoot_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>PhotoShoot Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Menu_Details</name>
            <fieldText>Menu Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Menu_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Menu_Preview_Link</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_WorkStep_Menu_Preview_Link.Menu_Preview_Link__c</elementReference>
                    </defaultValue>
                    <fieldText>Menu Preview Link</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other)&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>displayMessageForMenu</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px; color: rgb(231, 7, 7);&quot;&gt;Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other).&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Menu_Preview_Link</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Menu_URL</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Menu_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Menu_URL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Store_Account_Record.Menu_URL__c</elementReference>
                    </defaultValue>
                    <fieldText>Menu URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Either Menu Preview Link OR Menu URL needs to be filled out to submit the request (one or the other)&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayDuplicateErrorMessage</name>
        <label>DisplayDuplicateErrorMessage</label>
        <locationX>94</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowErrorMessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Duplicates exist. You cannot create this request. Please work with Photos team to proceed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Work_Orders</name>
        <label>Duplicate Work Orders</label>
        <locationX>226</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_User_Permission</targetReference>
        </connector>
        <fields>
            <name>DisplayDuplicateRecordMessage</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>DisplayRequestTypeErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_alert</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Work_Orders</name>
            <fieldText>Work Orders</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Orders_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowDuplicateRecords</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>WorkOrder</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Duplicate_Work_Order_Records_For_Business_Account</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Work_Order_Name_Link__c&quot;,&quot;guid&quot;:&quot;column-00ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Order Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Order Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-26ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-c405&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-e33e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504 : Create PhotoShoot Record</description>
        <name>Select_Account_And_Contact</name>
        <label>Select Account And Contact</label>
        <locationX>380</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Validate_Account_or_Contact_Record_Selections</targetReference>
        </connector>
        <fields>
            <name>ShowValidationErrorForAccountAndContact</name>
            <extensionName>c:displayBannerMessageInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageList</name>
                <value>
                    <elementReference>errorMessages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>_error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>displayValidationError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Store_Details</name>
            <fieldText>Store Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Store_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GetStoreAccount</name>
                    <extensionName>c:guidedFlowLookUp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>SelectedStoreAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayInfo</name>
                        <value>
                            <stringValue>{   &quot;additionalFields&quot;: [     &quot;BillingStreet&quot;   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>matchingInfo</name>
                        <value>
                            <stringValue>{   &quot;primaryField&quot;: {     &quot;fieldPath&quot;: &quot;Name&quot;   },   &quot;additionalFields&quot;: [     {       &quot;fieldPath&quot;: &quot;Name&quot;     }   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Select Store Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Store Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filter</name>
                        <value>
                            <stringValue> {   &quot;criteria&quot;: [     {       &quot;fieldPath&quot;: &quot;ParentId&quot;,       &quot;operator&quot;: &quot;eq&quot;,       &quot;value&quot;: &quot;&quot;     }   ],   &quot;filterLogic&quot;: &quot;1&quot; }</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectedStoreAccountId</assignToReference>
                        <name>selectedId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>SelectedStoreAccountId</assignToReference>
                        <name>defaultValue</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>displayAccountLookup</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>getAccountDetails</name>
                    <extensionName>c:guidedFlowGetRecordDetails</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectedObjectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedAccountRecordId</name>
                        <value>
                            <elementReference>SelectedStoreAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>displayAccountLookup</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Store_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>storeAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Store Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <!--isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled-->
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>displayAccountLookup</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>StoreAccountAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <!--inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters-->
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>storeAccount.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>storeAccount.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>storeAccount.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>provinceCode</name>
                        <value>
                            <elementReference>storeAccount.BillingStateCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>storeAccount.BillingCountryCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryCode</name>
                        <value>
                            <elementReference>storeAccount.BillingCountryCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>storeAccount.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>displayAccountLookup</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Store_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactSearchOnBusinessAccount</name>
                    <extensionName>c:guidedFlowLookUp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>ContactRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayInfo</name>
                        <value>
                            <stringValue>{   &quot;additionalFields&quot;: [     &quot;Email&quot;,     &quot;Phone&quot;   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>matchingInfo</name>
                        <value>
                            <stringValue>{   &quot;primaryField&quot;: {     &quot;fieldPath&quot;: &quot;Name&quot;   },   &quot;additionalFields&quot;: [     {       &quot;fieldPath&quot;: &quot;Email&quot;     }   ] }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filter</name>
                        <value>
                            <stringValue>{    &quot;criteria&quot;:[       {          &quot;fieldPath&quot;:&quot;AccountId&quot;,          &quot;operator&quot;:&quot;eq&quot;,          &quot;value&quot;:&quot;&quot;       }    ],    &quot;filterLogic&quot;:&quot;1&quot; }</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>globalSearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContactRecordId</assignToReference>
                        <name>selectedId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ContactRecordId</assignToReference>
                        <name>defaultValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>getContactDetails</name>
                    <extensionName>c:guidedFlowGetRecordDetails</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectedObjectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504: Success Toast message for Photo shoot request creation.</description>
        <name>SuccessToastMessage</name>
        <label>SuccessToastMessage</label>
        <locationX>908</locationX>
        <locationY>4478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplaySuccessToastmessage</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Photoshoot Work order Record has been created successfully</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504: Failure Tosta Message for update Contact Recor</description>
        <name>UpateContactRecordFailure</name>
        <label>UpateContactRecordFailure</label>
        <locationX>1216</locationX>
        <locationY>4070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ToastMessageForWorkOrderFailure</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-13504: Failure Tosta Message for Photo shoot request creation.</description>
        <name>WorkOrderCreationFailureMessage</name>
        <label>WorkOrderCreationFailureMessage</label>
        <locationX>1480</locationX>
        <locationY>3962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ToastMessageForWorkOrderFailure</name>
            <extensionName>c:guidedFlowScreenMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WorkPlan_Record_Detail</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>billingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>LEM-14528: It stores the Business Account Id of the current Marketplace Work order.</description>
        <name>businessAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>LEM-13504 : Store Contact Record Id</description>
        <name>ContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528: It stores the Contact Id of the Decision Maker Contact</description>
        <name>decisionMakerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayAccountLookup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-13504 : Add error messages in the list</description>
        <name>DisplayRequestTypeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayValidationError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasUserServicePermission</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>LEM-13508 : Store Menu URL from Store Account</description>
        <name>menuUrlText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528: It stores the Contact Id of the photoshoot contact.</description>
        <name>photoshootContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528: It stores the Photoshoot contacts associated to the Store with Role as Photoshoot Contact or Decision Maker</description>
        <name>photoshootContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <description>LEM-13504 : Store Record id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>LEM-13504 : Store Account Record Id</description>
        <name>SelectedStoreAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowBusinessContactLookup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>storeAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>StoreAccountContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>LEM-14528 : Store Total Number Of Store</description>
        <name>TotalStore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Work order Record Id</description>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
