sfdx-source/force-app/main/default/flows/Work_Step_Update_Missing_Legal_Representative_Name_and_DOB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RefreshScreen</name>
        <label>RefreshScreen</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <actionName>c:ShowToastMessageOnSaveFlowScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SuccessDisplayMessageConstant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>SuccessStringConstant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableRefreshView</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignInputs</name>
        <label>assignInputs</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varPaymentAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPaymentAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkStep.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStepStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkStep.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPaymentAccountContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalRepresentativeName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPaymentAccountContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalRepresentativeName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPaymentAccountContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Birth_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateWorkStep</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Blocked</name>
        <choiceText>Blocked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blocked</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </choices>
    <constants>
        <name>SuccessDisplayMessageConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuccessStringConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Payment_Account</name>
        <label>Has Payment Account</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_Payment_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPaymentAccountRelation.Payment_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPaymentAccount</targetReference>
            </connector>
            <label>Payment Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasStoreAccount</name>
        <label>HasStoreAccount</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Store_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StoreAccountExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorkStep.Store_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getStoreAccount</targetReference>
            </connector>
            <label>StoreAccountExists</label>
        </rules>
    </decisions>
    <description>LEM-11250: Update Missing Legal Representative Name and DOB</description>
    <dynamicChoiceSets>
        <name>Work_Step_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>WorkStep</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlWorkStepStatus</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!varWorkStep.Status__c})=&apos;Blocked&apos;,&apos;Partial Success&apos;,&apos;Success&apos;)</expression>
    </formulas>
    <interviewLabel>Work Step - Update Missing Legal Representative Name and DOB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Step - Update Missing Legal Representative Name and DOB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getPaymentAccount</name>
        <label>getPaymentAccount</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPaymentAccountContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPaymentAccountRelation.Payment_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPaymentAccountContact</name>
        <label>getPaymentAccountContact</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Legal_Representative_Contact_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPaymentAccount.Billing_Contact_Name__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPaymentAccountRelation</name>
        <label>getPaymentAccountRelation</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Payment_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStoreAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Payment_Account_Relation__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStoreAccount</name>
        <label>getStoreAccount</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPaymentAccountRelation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkStep.Store_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkStep</name>
        <label>getWorkStep</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasStoreAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>ProcessFlowLog</targetReference>
        </connector>
        <inputReference>getPaymentAccountContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePaymentAccount</name>
        <label>updatePaymentAccount</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>varPaymentAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateWorkStep</name>
        <label>updateWorkStep</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>updatePaymentAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>varWorkStep</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Legal_Representative_Contact_Information</name>
        <label>Display Legal Representative Contact Information</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignInputs</targetReference>
        </connector>
        <fields>
            <name>StatusReasonDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getWorkStep.Status_Reason_Details__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Legal_Representative_Contact</name>
            <fieldText>Legal Representative Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Legal_Representative_Contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LegalRepresentativeName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>getPaymentAccount.Billing_Contact_Name__r.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>getPaymentAccount.Billing_Contact_Name__r.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Birth_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>getPaymentAccountRelation.Payment_Account__r.Billing_Contact_Name__r.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Birth Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Step_Info</name>
            <fieldText>Work Step Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Step_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WorkStepStatus</name>
                    <choiceReferences>Blocked</choiceReferences>
                    <choiceReferences>Resolved</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getWorkStep.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Work Step Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Payment_Account</name>
        <label>No Payment Account</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoPaymentAccountDisplay</name>
            <fieldText>&lt;p&gt;No Payment Account Exists&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Store_Account</name>
        <label>No Store Account</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoStoreAccountDisplay</name>
            <fieldText>&lt;p&gt;No Store Account Exists&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkStep</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ProcessFlowLog</name>
        <label>ProcessFlowLog</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>RefreshScreen</targetReference>
        </connector>
        <flowName>Subflow_ProcessFlowLog</flowName>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Update Missing Legal Representative Name and DOB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varResult</name>
            <value>
                <elementReference>fmlWorkStepStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkOrder</name>
            <value>
                <elementReference>getWorkStep.WorkOrder.ParentWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkStep</name>
            <value>
                <elementReference>getWorkStep.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPaymentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Account__c</objectType>
    </variables>
    <variables>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
