sfdx-source/force-app/main/default/flows/Work_Step_Business_Reference_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RefreshScreen</name>
        <label>RefreshScreen</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <actionName>c:ShowToastMessageOnSaveFlowScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SuccessDisplayMessageConstant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>SuccessStringConstant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableRefreshView</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignInputs</name>
        <label>assignInputs</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varWorkStep.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStepStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkStep.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkStep.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varXref.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Integration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varXref.Integration_Message__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varXref.Business_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBusinessIDRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varXref.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Xref_for_the_store_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateXref</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Blocked</name>
        <choiceText>Blocked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blocked</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </choices>
    <constants>
        <name>SuccessDisplayMessageConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuccessStringConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Business_ID_MDS_exists</name>
        <label>Business ID MDS exists</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Business_ID_does_not_exits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BusinessIDexists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getBusinessIDRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Xref_for_the_store_Account</targetReference>
            </connector>
            <label>BusinessIDexists</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasStoreAccount</name>
        <label>HasStoreAccount</label>
        <locationX>1073</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Store_Account_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StoreAccountExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorkStep.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Business_Ref_Information</targetReference>
            </connector>
            <label>StoreAccountExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xref_Exists</name>
        <label>Xref Exists</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Xref_Does_Not_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>xRefExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Xref_for_the_store_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignInputs</targetReference>
            </connector>
            <label>xRefExists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlWorkStepStatus</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!varWorkStep.Status__c})=&apos;Blocked&apos;,&apos;Partial Success&apos;,&apos;Success&apos;)</expression>
    </formulas>
    <interviewLabel>Work Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Step - Business Reference Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Xref_for_the_store_Account</name>
        <label>get Xref for the store Account</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Xref_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesforce_Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkStep.Store_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>External_ID_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MDS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Integration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Xref_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Xref__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBusinessIDRecord</name>
        <label>getBusinessIDRecord</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_ID_MDS_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessID</elementReference>
            </value>
        </filters>
        <filters>
            <field>External_Id_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MDS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Reference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkStep</name>
        <label>getWorkStep</label>
        <locationX>1073</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasStoreAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateWorkStep</name>
        <label>updateWorkStep</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>ProcessFlowLog</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultScreen</targetReference>
        </faultConnector>
        <inputReference>varWorkStep</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateXref</name>
        <label>updateXref</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>updateWorkStep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultScreen</targetReference>
        </faultConnector>
        <inputReference>varXref</inputReference>
    </recordUpdates>
    <screens>
        <name>Business_ID_does_not_exits</name>
        <label>Business ID does not exits</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BusinessIdDoesNotExists</name>
            <fieldText>&lt;p&gt;Business ID of External Source MDS does not exists in the System.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Business_Ref_Information</name>
        <label>Display Business Ref Information</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getBusinessIDRecord</targetReference>
        </connector>
        <fields>
            <name>displayhelpTextForBusinessReference</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Provisioning attempted to find a Business Reference but was unsuccessful.&amp;nbsp;Provide a Business ID that should be used to match to stores.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_ID</name>
            <fieldText>Business ID</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ID_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>businessID</name>
                    <dataType>String</dataType>
                    <fieldText>Business ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Work_Step_Info</name>
            <fieldText>Work Step Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Step_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WorkStepStatus</name>
                    <choiceReferences>Blocked</choiceReferences>
                    <choiceReferences>Resolved</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getWorkStep.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Work Step Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>faultScreen</name>
        <label>faultScreen</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultDisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Store_Account_Exists</name>
        <label>No Store Account Exists</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoStoreAccountDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No Store Account Exists&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Xref_Does_Not_exists</name>
        <label>Xref Does Not exists</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>xrefdoesnotexists</name>
            <fieldText>&lt;p&gt;Xref does not exists for the Store Account in the System.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkStep</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>ProcessFlowLog</name>
        <label>ProcessFlowLog</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>RefreshScreen</targetReference>
        </connector>
        <flowName>Subflow_ProcessFlowLog</flowName>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Business Reference Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varResult</name>
            <value>
                <elementReference>fmlWorkStepStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkOrder</name>
            <value>
                <elementReference>getWorkStep.WorkOrder.ParentWorkOrder.ParentWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkStep</name>
            <value>
                <elementReference>getWorkStep.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>recordID of the workstep</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>varXref</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Xref__c</objectType>
    </variables>
</Flow>
