sfdx-source/force-app/main/default/flows/Work_Step_Update_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RefreshScreen</name>
        <label>RefreshScreen</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>c:ShowToastMessageOnSaveFlowScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SuccessDisplayMessageConstant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>SuccessStringConstant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableRefreshView</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignInputs</name>
        <label>assignInputs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varWorkStep.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStepStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkStep.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWorkStep.WorkOrder.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateWorkStep</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Blocked</name>
        <choiceText>Blocked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blocked</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </choices>
    <constants>
        <name>SuccessDisplayMessageConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuccessStringConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <description>LEM-11081
Update the related opportunity</description>
    <dynamicChoiceSets>
        <name>StageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Work_Step_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>WorkStep</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlWorkStepStatus</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!varWorkStep.Status__c})=&apos;Blocked&apos;,&apos;Partial Success&apos;,&apos;Success&apos;)</expression>
    </formulas>
    <interviewLabel>Work Step - Update Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Step - Update Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getWorkStep</name>
        <label>getWorkStep</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>ProcessFlowLog</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>varOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateWorkStep</name>
        <label>updateWorkStep</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>varWorkStep</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Information</name>
        <label>Display Information</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignInputs</targetReference>
        </connector>
        <fields>
            <name>StatusReasonDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!getWorkStep.Status_Reason_Details__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Details</name>
            <fieldText>Opportunity Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityName</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;/{!getWorkStep.WorkOrder.Opportunity__r.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!getWorkStep.WorkOrder.Opportunity__r.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Opportunity_Stage</name>
                    <choiceReferences>StageName</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getWorkStep.WorkOrder.Opportunity__r.StageName</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Work_Step_Info</name>
            <fieldText>Work Step Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Step_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WorkStepStatus</name>
                    <choiceReferences>Blocked</choiceReferences>
                    <choiceReferences>Resolved</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getWorkStep.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Work Step Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>704</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkStep</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ProcessFlowLog</name>
        <label>ProcessFlowLog</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>RefreshScreen</targetReference>
        </connector>
        <flowName>Subflow_ProcessFlowLog</flowName>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Update Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varResult</name>
            <value>
                <elementReference>fmlWorkStepStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkOrder</name>
            <value>
                <elementReference>getWorkStep.WorkOrder.ParentWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkStep</name>
            <value>
                <elementReference>getWorkStep.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
