sfdx-source/force-app/main/default/flows/Work_Step_Update_Invalid_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RefreshScreen</name>
        <label>RefreshScreen</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <actionName>c:ShowToastMessageOnSaveFlowScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SuccessDisplayMessageConstant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>SuccessStringConstant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableRefreshView</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignFranchiseInfo</name>
        <label>assignFranchiseInfo</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFranchiseParent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFranchiseParent.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFranchiseParent.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFranchiseParent.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFranchiseParent.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFranchiseParent.BillingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Invalid_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignInputs</name>
        <label>assignInputs</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varAccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkStep.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStepStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varWorkStep.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getStoreAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getStoreAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getStoreAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getStoreAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getStoreAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Store_Account_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecord.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account_Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecord.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account_Address.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateWorkStep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignParentInfo</name>
        <label>assignParentInfo</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBusinessState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Invalid_Address</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Blocked</name>
        <choiceText>Blocked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blocked</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </choices>
    <constants>
        <name>SuccessDisplayMessageConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuccessStringConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </constants>
    <decisions>
        <name>HasFranchiseParent</name>
        <label>HasFranchiseParent</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>getParentAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FranchiseParentExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getStoreAccount.Franchise_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFranchiseParent</targetReference>
            </connector>
            <label>FranchiseParentExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasStoreAccount</name>
        <label>HasStoreAccount</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Store_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StoreAccountExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorkStep.Store_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getStoreAccount</targetReference>
            </connector>
            <label>StoreAccountExists</label>
        </rules>
    </decisions>
    <description>LEM-11250: Update Invalid Address on Store and Business Account</description>
    <dynamicChoiceSets>
        <name>Work_Step_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>WorkStep</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlWorkStepStatus</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!varWorkStep.Status__c})=&apos;Blocked&apos;,&apos;Partial Success&apos;,&apos;Success&apos;)</expression>
    </formulas>
    <interviewLabel>Work Step - Update Tax Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Step - Update Invalid Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getFranchiseParent</name>
        <label>getFranchiseParent</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignFranchiseInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStoreAccount.Franchise_Parent__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentAccount</name>
        <label>getParentAccount</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignParentInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStoreAccount.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStoreAccount</name>
        <label>getStoreAccount</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasFranchiseParent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkStep.Store_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkStep</name>
        <label>getWorkStep</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasStoreAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>updateStoreAccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AccountFault</targetReference>
        </faultConnector>
        <inputReference>varAccountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateStoreAccount</name>
        <label>updateStoreAccount</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>ProcessFlowLog</targetReference>
        </connector>
        <inputReference>getStoreAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateWorkStep</name>
        <label>updateWorkStep</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
        <inputReference>varWorkStep</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AccountFault</name>
        <label>AccountFault</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountDisplay</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Invalid_Address</name>
        <label>Display Invalid Address</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignInputs</targetReference>
        </connector>
        <fields>
            <name>UpdateInvalidAddressText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Update Invalid Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Store_Account_Header</name>
            <fieldText>Store Account</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Store_Account_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Store_Account_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>getStoreAccount.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>getStoreAccount.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>getStoreAccount.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>getStoreAccount.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>getStoreAccount.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Account_Header</name>
            <fieldText>Business Account</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_Account_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Account_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>varBusinessCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>varBusinessCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>varBusinessPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>varBusinessStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>varBusinessState</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Work_Step_Info</name>
            <fieldText>Work Step Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Step_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WorkStepStatus</name>
                    <choiceReferences>Blocked</choiceReferences>
                    <choiceReferences>Resolved</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getWorkStep.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Work Step Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Store_Account</name>
        <label>No Store Account</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoStoreAccountDisplay</name>
            <fieldText>&lt;p&gt;No Store Account Exists&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkStep</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ProcessFlowLog</name>
        <label>ProcessFlowLog</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>RefreshScreen</targetReference>
        </connector>
        <flowName>Subflow_ProcessFlowLog</flowName>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Update Invalid Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varResult</name>
            <value>
                <elementReference>fmlWorkStepStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkOrder</name>
            <value>
                <elementReference>getWorkStep.WorkOrder.ParentWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkStep</name>
            <value>
                <elementReference>getWorkStep.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varBusinessCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
