sfdx-source/force-app/main/default/flows/Work_Plan_Set_Completed_Date_On.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>LEM-13511: Set Completed Date On Field With Null</description>
        <name>Completed_Date_With_Blank</name>
        <label>Completed Date With Blank</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Work_Plan_Completed_On__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>LEM-13511: Set Completed Date On Field With Current Date</description>
        <name>Set_Completed_Date_With_Current_Date</name>
        <label>Set Completed Date With Current Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Work_Plan_Completed_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>LEM-13511: Check Work Plan Status to update Completed Date On.</description>
        <name>WorkPlan_Status_Check</name>
        <label>WorkPlan Status Check</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Completed_Date_With_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Completed</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Completed_Date_With_Current_Date</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>LEM-13511 : Set WorkPlan Completed Date On Field with Current date on WorkPlan Status is Completed</description>
    <environments>Default</environments>
    <interviewLabel>Work Plan - Set Completed Date On {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Plan - Set Completed Date On</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WorkPlan_Status_Check</targetReference>
        </connector>
        <object>WorkPlan</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
